
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-Uru {
  overflow: hidden;
  background-color: #e4e4e4;
  width: 100%;
  height: 95.1rem;
  position: relative;

  .template-1-log-in-AUq {
    left: 0;
    top: 5.1rem;
    overflow: hidden;
    background-color: #ffffff;
    width: 144rem;
    height: 90rem;
    position: absolute;

    .bg-img-zyf {
      height: 102.3rem;
      position: relative;
      left: 0;
      top: 1.2rem;
      background-size: 111.111% 100%;
      background-position: -8.7944rem 0;
      background-image: url('REPLACE_IMAGE:230230890e0a762afdd22b2e71f3c54195d83fde');
      width: 158.3rem;
    }
    .bg-overlay-GAV {
      width: 144rem;
      height: 90rem;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(226.33deg, rgba(33, 33, 33, 0.8392156959) 100%, rgba(66, 66, 66, 0.2392156869) 278.98%);
    }
    .div-section-jpm {
      width: 46rem;
      height: 76.8rem;
      position: absolute;
      left: 72.85rem;
      top: 13.2rem;
      overflow: hidden;

      .group-N73 {
        background-color: #fafafa;
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        box-sizing: border-box;
        padding: 3.95rem 3.95rem 9.625rem 3.95rem;
        flex-direction: column;
        border-radius: 2.4rem 2.4rem 0 0;

        .header-eKT {
          margin: 0rem 13.3rem 1.7rem 0rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .lets-get-you-started-AYh {
            font-size: 1.28rem;
            font-weight: 400;
            line-height: 1.7601562774;
            color: #000000;
            font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .create-an-account-CVP {
            color: #000000;
            font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 1.76;
          }
        }
        .form-hh3 {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 0.1rem 1.925rem 0rem;
          width: 38rem;
          row-gap: 1.6rem;

          .group-5-YSm {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .input-copy-tFj {
              width: 100%;
              height: 6.7rem;
              position: relative;
              flex-shrink: 0;
              margin-bottom: 0.9rem;

              .input-YLH {
                top: 1.1rem;
                border: solid 0.1rem #424242;
                box-sizing: border-box;
                border-radius: 0.8rem;
                width: 38rem;
                height: 5.6rem;
                position: absolute;
                left: 0;
              }
              .johnsondoenomailcom-d6q {
                font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
                width: 17.2rem;
                height: 2.9rem;
                left: 1.6rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.7599999905;
                position: absolute;
                top: 2.5rem;
                color: #424242;
                white-space: nowrap;
              }
              .label-f3X {
                font-weight: 400;
                white-space: nowrap;
                width: 5.4rem;
                top: 0;
                line-height: 1.7601562774;
                font-size: 1.28rem;
                display: flex;
                justify-content: center;
                background-color: #fafafa;
                height: 2.3rem;
                position: absolute;
                text-align: center;
                font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
                align-items: center;
                left: 1.1173rem;
                overflow: hidden;
                color: #424242;
              }
            }
            .input-copy-2-SiV {
              height: 6.7rem;
              position: relative;
              flex-shrink: 0;
              width: 100%;

              .input-aJu {
                left: 0;
                top: 1.1rem;
                border: solid 0.1rem #bdbdbd;
                box-sizing: border-box;
                border-radius: 0.8rem;
                width: 38rem;
                height: 5.6rem;
                position: absolute;
              }
              .ex-icon-eye-cFb {
                vertical-align: top;
                width: 1.6rem;
                height: 1.6rem;
                position: absolute;
                left: 35.6rem;
                top: 3.1rem;
                object-fit: contain;
              }
              .item--dAh {
                font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
                white-space: nowrap;
                position: absolute;
                left: 1.6rem;
                top: 2.5rem;
                font-weight: 400;
                line-height: 1.7599999905;
                color: #757575;
                width: 12.2rem;
                height: 2.9rem;
                font-size: 1.6rem;
              }
              .label-gem {
                width: 6.7rem;
                position: absolute;
                left: 1.1173rem;
                font-size: 1.28rem;
                line-height: 1.7601562774;
                overflow: hidden;
                color: #bebebe;
                white-space: nowrap;
                display: flex;
                justify-content: center;
                background-color: #fafafa;
                height: 2.3rem;
                top: 0;
                text-align: center;
                font-weight: 400;
                font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
                align-items: center;
              }
            }
          }
          .frame-6-z3B {
            flex-shrink: 0;
            margin-right: 0.025rem;
            width: calc(100% - 0.025rem);
            height: 2.3rem;
            display: flex;
            align-items: center;

            .checkbox-label-433 {
              position: relative;
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;
              margin-right: 17rem;
              height: 100%;
              overflow: hidden;

              .checkbox-my3 {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.01rem 0.523rem 0rem 0rem;
                width: 2.1524rem;
                height: 2.2rem;
              }
              .terms-sFP {
                flex-shrink: 0;
                font-size: 1.28rem;
                font-weight: 400;
                line-height: 1.7601562774;
                color: #000000;
                font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .forgot-password-XKw {
              line-height: 1.7601562774;
              color: #424242;
              font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.28rem;
              font-weight: 400;
            }
          }
          .btn-pry-template-1-Cws {
            width: 100%;
            cursor: pointer;
            align-items: center;
            color: #ffffff;
            background-color: #212121;
            font-size: 1.28rem;
            font-weight: 700;
            line-height: 1.7601562774;
            font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
            border-radius: 0.8rem;
            height: 5.6rem;
            display: flex;
            justify-content: center;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .divider-label-Njs {
          margin: 0rem 0rem 2.5rem 0.1rem;
          width: 38rem;
          height: 2.05rem;
          position: relative;
          flex-shrink: 0;

          .line-divider-4ch {
            vertical-align: top;
            width: 38rem;
            height: 0.2rem;
            position: absolute;
            left: 0;
            top: 0.925rem;
            object-fit: contain;
          }
          .divider-bg-7qs {
            background-color: #fafafa;
            width: 4.8rem;
            height: 2.05rem;
            position: absolute;
            left: 16.6rem;
            top: 0;
          }
          .or-1gM {
            white-space: nowrap;
            position: absolute;
            left: 18.3rem;
            top: 0.075rem;
            text-align: center;
            font-size: 1.28rem;
            line-height: 1.4475;
            color: #212121;
            width: 1.5rem;
            height: 1.9rem;
            font-weight: 700;
            font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
          }
        }
        .btn-outline-vertical-T2Z {
          margin: 0rem 0rem 4.85rem 0.1rem;
          width: 38rem;
          row-gap: 0.9rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .btn-outline-template-1-copy-hSh {
            box-sizing: border-box;
            padding: 1.25rem 13.85rem 1.25rem 4rem;
            width: 100%;
            border: solid 0.1rem #eeeeee;
            display: flex;
            align-items: center;
            background-color: #fafafa;
            border-radius: 0.8rem;
            flex-shrink: 0;

            .icons8-google-bHB {
              width: 1.8rem;
              height: 1.8rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 7.95rem;
            }
            .sign-up-with-google-6zd {
              display: flex;
              align-items: center;
              line-height: 1.7601562774;
              color: #616161;
              white-space: nowrap;
              flex-shrink: 0;
              justify-content: center;
              font-size: 1.28rem;
              font-weight: 400;
              font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
            }
          }
          .btn-outline-template-1-copy-2-XKF {
            box-sizing: border-box;
            padding: 1.25rem 13.1rem 1.25rem 4rem;
            width: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #eeeeee;
            background-color: #fafafa;
            border-radius: 0.8rem;
            flex-shrink: 0;

            .icons8-facebook-2G1 {
              margin-right: 7.2rem;
              width: 1.8rem;
              height: 1.8rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .sign-up-with-facebook-4yP {
              display: flex;
              align-items: center;
              font-weight: 400;
              font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
              flex-shrink: 0;
              justify-content: center;
              font-size: 1.28rem;
              line-height: 1.7601562774;
              color: #616161;
              white-space: nowrap;
            }
          }
          .btn-outline-template-1-copy-3-6QH {
            border-radius: 0.8rem;
            flex-shrink: 0;
            width: 100%;
            background-color: #fafafa;
            display: flex;
            align-items: center;
            border: solid 0.1rem #eeeeee;
            box-sizing: border-box;
            padding: 1.25rem 14.15rem 1.25rem 4rem;

            .apple-wA1 {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 8.7rem;
              width: 1.35rem;
              height: 1.8rem;
              position: relative;
            }
            .sign-up-with-apple-eq7 {
              display: flex;
              justify-content: center;
              white-space: nowrap;
              flex-shrink: 0;
              align-items: center;
              font-size: 1.28rem;
              font-weight: 400;
              line-height: 1.7601562774;
              color: #616161;
              font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
            }
          }
        }
        .already-have-an-account-login-Zah {
          text-align: center;
          font-size: 1.28rem;
          line-height: 1.4479999028;
          font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
          display: flex;
          align-items: baseline;
          margin-left: 0.1rem;
          font-weight: 400;
          color: #212121;
          white-space: nowrap;
          flex-shrink: 0;

          .already-have-an-account-login-Zah-sub-0 {
            font-weight: 400;
            line-height: 1.4475;
            color: #212121;
            font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
            font-size: 1.28rem;
          }
          .already-have-an-account-login-Zah-sub-1 {
            font-size: 1.28rem;
            font-weight: 700;
            line-height: 1.4475;
            color: #212121;
            font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
          }
          .already-have-an-account-login-Zah-sub-2 {
            font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
            font-size: 1.28rem;
            font-weight: 700;
            line-height: 1.4475;
            text-decoration-line: underline;
            color: #212121;
          }
        }
      }
    }
    .slide-L9X {
      top: 44.5rem;
      width: 34.4rem;
      height: 20.6rem;
      position: absolute;
      left: 25rem;

      .header-yyB {
        margin-bottom: 4.8rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .building-the-future-Wy7 {
          display: flex;
          line-height: 1.1999487272;
          font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          font-size: 3.906rem;
          font-weight: 700;
          color: #ffffff;
        }
        .lorem-ipsum-dolor-sit-amet-co-aCH {
          font-weight: 400;
          line-height: 1.7599999905;
          color: #ffffff;
          font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 34.4rem;
          font-size: 1.6rem;
        }
      }
      .carousel-slider-qP7 {
        width: 13.35rem;

        .controller-1-YYR {
          width: 4.8rem;
          height: 0.2rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
  }
  .group-178-R6R {
    width: 145.2rem;
    position: absolute;
    left: 0;
    background: linear-gradient(90.62deg, #5fc789 41.36%, #8adf48 83.59%);
    align-items: center;
    box-sizing: border-box;
    padding: 2.5rem 38.1rem 1rem 56.87rem;
    height: 8rem;
    top: 0;
    display: flex;

    .rectangle-99-SnD {
      margin: 0rem 2.163rem 0.636rem 0rem;
      width: 8.0667rem;
      height: 2.2353rem;
      border-radius: 2rem;
      flex-shrink: 0;
    }
    .huge-tab-WXB {
      margin: 0.7rem 0rem 0.9rem 0rem;
      width: 11.7rem;
      height: calc(100% - 1.6rem);
      flex-shrink: 0;

      .name-Ard {
        width: 100%;
        height: 2.6rem;

        .auto-group-ekos-6EV {
          margin-right: 6.3rem;
          width: 5.4rem;
          display: flex;
          font-size: 1.8rem;
          line-height: 1.4000000424;
          align-items: center;
          justify-content: center;
          height: 100%;
          font-weight: 700;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .underline-UF3 {
        height: 0.3rem;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        padding-top: 0.3rem;
        width: 5.4rem;

        .underline-yhb {
          width: 11.1rem;
          height: 0.3rem;
          background-color: #000000;
        }
      }
    }
    .drop-jelajahi-sHB {
      margin-right: 4.9rem;
      box-sizing: border-box;
      padding: 0.8rem 0.7rem 0.8rem 1.6rem;
      width: 10.7rem;
      height: 100%;
      cursor: pointer;
      flex-shrink: 0;

      .huge-tab-h1K {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .name-cty {
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          height: 2.6rem;
          display: flex;

          .auto-group-nypo-MLm {
            align-items: center;
            display: flex;
            line-height: 1.4000000424;
            height: 100%;
            font-size: 1.8rem;
            font-weight: 700;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 0.8rem;
            width: 6.7rem;
            justify-content: center;
            flex-shrink: 0;
          }
          .polygon-vYH {
            vertical-align: top;
            flex-shrink: 0;
            width: 0.9rem;
            height: 0.9rem;
            object-fit: contain;
          }
        }
        .underline-FKf {
          box-sizing: border-box;
          padding-top: 0.3rem;
          width: 100%;
          height: 0.3rem;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .underline-k1X {
            height: 0.3rem;
            background-color: #000000;
            width: 14.1rem;
          }
        }
      }
    }
    .drop-reservasi-RtM {
      box-sizing: border-box;
      padding: 0.8rem 0.8rem 0.8rem 1.6rem;
      width: 12.7rem;
      height: 100%;
      cursor: pointer;
      flex-shrink: 0;

      .huge-tab-LVX {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;

        .name-pvV {
          width: 100%;
          height: 2.6rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-cryp-NSD {
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            font-size: 1.8rem;
            line-height: 1.4000000424;
            height: 100%;
            display: flex;
            font-weight: 700;
            color: #000000;
            justify-content: center;
            flex-shrink: 0;
            margin-right: 0.8rem;
            width: 8.6rem;
          }
          .polygon-cLZ {
            width: 0.9rem;
            height: 0.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .underline-L1f {
          position: relative;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 0.3rem;
          width: 100%;
          height: 0.3rem;
          overflow: hidden;

          .underline-EMw {
            width: 16rem;
            height: 0.3rem;
            background-color: #000000;
          }
        }
      }
    }
  }
  .huge-tab-W4Z {
    left: 126.1rem;
    top: 3rem;
    width: 11.7rem;
    height: 2.9rem;
    position: absolute;

    .name-aKK {
      height: 2.6rem;
      width: 100%;

      .auto-group-bsgh-iwK {
        height: 100%;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.4000000424;
        color: #ffffff;
        align-items: center;
        justify-content: center;
        width: 4.9rem;
        display: flex;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 6.8rem;
      }
    }
    .underline-vnV {
      box-sizing: border-box;
      padding-top: 0.3rem;
      width: 4.9rem;
      height: 0.3rem;
      overflow: hidden;
      position: relative;

      .underline-481 {
        width: 10.6rem;
        height: 0.3rem;
        background-color: #000000;
      }
    }
  }
  .enterprise-default-nJu {
    left: 110.8rem;
    top: 2.3rem;
    box-sizing: border-box;
    padding: 0.8rem 0rem 0.8rem 1.6rem;
    width: 13.3rem;
    height: 4.5rem;
    cursor: pointer;
    position: absolute;

    .huge-tab-mwX {
      height: 100%;
      display: flex;
      flex-direction: column;
      width: 100%;

      .name-7kV {
        width: 100%;
        height: 2.6rem;
        flex-shrink: 0;

        .auto-group-mied-SXs {
          display: flex;
          font-weight: 700;
          color: #000000;
          white-space: nowrap;
          width: 8.8rem;
          height: 100%;
          font-size: 1.8rem;
          line-height: 1.4000000424;
          font-family: Open Sans, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          margin-right: 2.9rem;
        }
      }
      .underline-3Xf {
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 0.3rem;
        width: 8.8rem;
        height: 0.3rem;

        .underline-Zku {
          width: 14.5rem;
          height: 0.3rem;
          background-color: #000000;
        }
      }
    }
  }
  .desain-tanpa-judul202310110538060000-1-1-Fdj {
    background-image: url('REPLACE_IMAGE:41f25ba5202578893837c6b9cb83d7d0d015a6ff');
    width: 13.5rem;
    height: 8.4rem;
    position: relative;
    left: 6.7rem;
    top: 0;
    background-size: 147.154% 222.727%;
    background-position: -3.622rem -5.1545rem;
  }
}
