
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.menu-jelajahi-bukit-u4u {
  overflow: hidden;
  background-color: #e4e4e4;
  width: 100%;
  height: 234.2rem;
  position: relative;

  .rectangle-40-neV {
    width: 144rem;
    height: 113.7rem;
    position: absolute;
    left: 0;
    top: 83.3rem;
    background-color: #d9d9d9;
  }
  .rectangle-98-WqP {
    border-radius: 2rem;
    height: 46rem;
    position: absolute;
    top: 139.3rem;
    background-color: #ffffff;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:c40c69f283eb2b792d8745e117c31aca1ae0bca5');
    width: 60rem;
    left: 74.2rem;
  }
  .rectangle-71-QA5 {
    height: 18rem;
    position: absolute;
    left: 74.2rem;
    top: 161.3rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5799999833) 89.06%);
    border-radius: 2rem;
    width: 60rem;
  }
  .rectangle-100-6Ho {
    cursor: pointer;
    position: absolute;
    left: 9.2rem;
    background-position: -6.6483rem -0.4267rem;
    border-radius: 2rem;
    width: 60rem;
    height: 40rem;
    background-size: 136.933% 104.602%;
    background-image: url('REPLACE_IMAGE:dfa8eb137ed2ede85aa19b921d7791353f32840f');
    top: 139.3rem;
    background-color: #ffffff;

    .rectangle-100-6Ho-bg {
      width: 60rem;
      height: 40rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:dfa8eb137ed2ede85aa19b921d7791353f32840f');
    }
  }
  .rectangle-95-LC9 {
    border-radius: 2rem;
    width: 60rem;
    height: 18rem;
    position: absolute;
    left: 9.2rem;
    top: 161.3rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5799999833) 89.06%);
  }
  .area-camping-ground-3cM {
    color: #ffffff;
    font-family: Montserrat, 'Source Sans Pro';
    height: 3.5rem;
    left: 77.5rem;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.2175;
    letter-spacing: -0.039rem;
    width: 31.6rem;
    cursor: pointer;
    position: absolute;
    top: 167.9rem;
    white-space: nowrap;
  }
  .area-kafe-99b {
    height: 3.5rem;
    font-weight: 600;
    letter-spacing: -0.039rem;
    font-family: Montserrat, 'Source Sans Pro';
    width: 13.6rem;
    cursor: pointer;
    position: absolute;
    left: 13.3rem;
    top: 167.9rem;
    font-size: 2.8rem;
    line-height: 1.2175;
    color: #ffffff;
    white-space: nowrap;
  }
  .tidak-perlu-khawatir-ketika-ingin-jajan-di-area-ini--qo7 {
    width: 45.8rem;
    height: 2.2rem;
    line-height: 1.2175;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    color: #ffffff;
    position: absolute;
    left: 13.3rem;
    top: 173.1rem;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.018rem;
  }
  .memiliki-area-camping-ground-yang-sangat-nyaman--Xvq {
    line-height: 1.2175;
    letter-spacing: 0.018rem;
    white-space: nowrap;
    width: 50.1rem;
    left: 77.8rem;
    top: 173.7rem;
    font-weight: 400;
    font-family: Montserrat, 'Source Sans Pro';
    height: 2.2rem;
    position: absolute;
    font-size: 1.8rem;
    color: #ffffff;
  }
  .rectangle-92-puw {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:230230890e0a762afdd22b2e71f3c54195d83fde');
    position: absolute;
    left: 9.2rem;
    top: 93.3rem;
    background-color: #ffffff;
    background-size: 100% 100%;
    width: 60rem;
    height: 40rem;
    border-radius: 2rem;
  }
  .rectangle-99-9SR {
    background-position: center;
    background-image: url('REPLACE_IMAGE:e21ad7632528086a7afa37a407b60893b50873f9');
    width: 60rem;
    height: 40rem;
    top: 93.3rem;
    background-color: #ffffff;
    border-radius: 2rem;
    position: absolute;
    left: 74.2rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .rectangle-97-55B {
    width: 60rem;
    height: 18rem;
    position: absolute;
    left: 9.2rem;
    top: 115.3rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5799999833) 89.06%);
    border-radius: 2rem;
  }
  .area-foto-nVP {
    font-size: 2.8rem;
    letter-spacing: -0.039rem;
    color: #ffffff;
    font-family: Montserrat, 'Source Sans Pro';
    width: 13.6rem;
    position: absolute;
    top: 121.9rem;
    font-weight: 600;
    line-height: 1.2175;
    white-space: nowrap;
    height: 3.5rem;
    cursor: pointer;
    left: 77.5rem;
  }
  .area-keluarga-toK {
    left: 13.3rem;
    top: 121.9rem;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.2175;
    white-space: nowrap;
    height: 3.5rem;
    cursor: pointer;
    position: absolute;
    letter-spacing: -0.039rem;
    color: #ffffff;
    font-family: Montserrat, 'Source Sans Pro';
    width: 19.9rem;
  }
  .di-bukit-panyangrayan-ada-area-untuk-keluarga-loh--bxd {
    font-size: 1.8rem;
    letter-spacing: 0.018rem;
    font-family: Montserrat, 'Source Sans Pro';
    color: #ffffff;
    width: 48.6rem;
    height: 2.2rem;
    position: absolute;
    left: 13.3rem;
    top: 127.5rem;
    font-weight: 400;
    line-height: 1.2175;
    white-space: nowrap;
  }
  .banyak-spot-foto-di-bukit-panyangrayan--hVs {
    width: 38.1rem;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0.018rem;
    white-space: nowrap;
    color: #ffffff;
    font-family: Montserrat, 'Source Sans Pro';
    height: 2.2rem;
    left: 77.8rem;
    top: 127.5rem;
    font-size: 1.8rem;
    line-height: 1.2175;
  }
  .plan-your-visit-c73 {
    letter-spacing: 0.3rem;
    white-space: nowrap;
    width: 28.9rem;
    left: 57.8rem;
    font-size: 3.2rem;
    line-height: 1.2175;
    color: #000000;
    font-family: Montserrat, 'Source Sans Pro';
    height: 3.9rem;
    position: absolute;
    top: 82.4rem;
    font-weight: 700;
  }
  .rectangle-102-6nu {
    width: 144rem;
    height: 118.2rem;
    position: absolute;
    left: 0;
    top: 78.8rem;
    background-color: #d9d9d9;
  }
  .rectangle-103-FA1 {
    background-image: url('REPLACE_IMAGE:c40c69f283eb2b792d8745e117c31aca1ae0bca5');
    width: 60rem;
    height: 40rem;
    background-color: #ffffff;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2rem;
    position: absolute;
    left: 74.2rem;
    top: 139.3rem;
  }
  .rectangle-104-NEd {
    width: 60rem;
    height: 18rem;
    position: absolute;
    left: 74.2rem;
    top: 161.3rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5799999833) 89.06%);
    border-radius: 2rem;
  }
  .rectangle-105-tCy {
    left: 9.2rem;
    top: 139.3rem;
    background-color: #ffffff;
    background-size: 136.933% 104.602%;
    background-position: -6.6483rem -0.4267rem;
    height: 40rem;
    position: absolute;
    background-image: url('REPLACE_IMAGE:dfa8eb137ed2ede85aa19b921d7791353f32840f');
    border-radius: 2rem;
    width: 60rem;
    cursor: pointer;

    .rectangle-105-tCy-bg {
      background-image: url('REPLACE_IMAGE:dfa8eb137ed2ede85aa19b921d7791353f32840f');
      width: 60rem;
      height: 40rem;
      position: relative;
    }
  }
  .rectangle-106-M6Z {
    width: 60rem;
    height: 18rem;
    position: absolute;
    left: 9.2rem;
    top: 161.3rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5799999833) 89.06%);
    border-radius: 2rem;
  }
  .area-camping-ground-4mf {
    font-family: Montserrat, 'Source Sans Pro';
    width: 31.6rem;
    height: 3.5rem;
    position: absolute;
    font-size: 2.8rem;
    line-height: 1.2175;
    color: #ffffff;
    white-space: nowrap;
    cursor: pointer;
    left: 77.5rem;
    top: 167.9rem;
    font-weight: 600;
    letter-spacing: -0.039rem;
  }
  .area-kafe-AZo {
    font-weight: 600;
    color: #ffffff;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    cursor: pointer;
    left: 13.3rem;
    top: 167.9rem;
    font-size: 2.8rem;
    line-height: 1.2175;
    letter-spacing: -0.039rem;
    width: 13.6rem;
    height: 3.5rem;
    position: absolute;
  }
  .tidak-perlu-khawatir-ketika-ingin-jajan-di-area-ini--Gcq {
    width: 45.8rem;
    color: #ffffff;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    letter-spacing: 0.018rem;
    height: 2.2rem;
    position: absolute;
    left: 13.3rem;
    top: 173.1rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2175;
  }
  .memiliki-area-camping-ground-yang-sangat-nyaman--knu {
    letter-spacing: 0.018rem;
    color: #ffffff;
    font-family: Montserrat, 'Source Sans Pro';
    height: 2.2rem;
    position: absolute;
    top: 173.7rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2175;
    white-space: nowrap;
    width: 50.1rem;
    left: 77.8rem;
  }
  .rectangle-107-rL9 {
    height: 40rem;
    top: 93.3rem;
    background-color: #ffffff;
    background-size: 100% 100%;
    width: 60rem;
    position: absolute;
    left: 9.2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:230230890e0a762afdd22b2e71f3c54195d83fde');
    border-radius: 2rem;
  }
  .rectangle-108-mi1 {
    background-size: 100% 100%;
    background-image: url('REPLACE_IMAGE:e21ad7632528086a7afa37a407b60893b50873f9');
    width: 60rem;
    position: absolute;
    top: 93.3rem;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2rem;
    height: 40rem;
    left: 74.2rem;
    background-color: #ffffff;
  }
  .rectangle-109-Vtu {
    position: absolute;
    left: 9.2rem;
    top: 115.3rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5799999833) 89.06%);
    border-radius: 2rem;
    width: 60rem;
    height: 18rem;
  }
  .area-foto-cid {
    position: absolute;
    top: 121.9rem;
    font-size: 2.8rem;
    letter-spacing: -0.039rem;
    color: #ffffff;
    font-family: Montserrat, 'Source Sans Pro';
    cursor: pointer;
    height: 3.5rem;
    left: 77.5rem;
    font-weight: 600;
    line-height: 1.2175;
    white-space: nowrap;
    width: 13.6rem;
  }
  .area-keluarga-79b {
    top: 121.9rem;
    line-height: 1.2175;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    width: 19.9rem;
    height: 3.5rem;
    cursor: pointer;
    left: 13.3rem;
    color: #ffffff;
    position: absolute;
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: -0.039rem;
  }
  .di-bukit-panyangrayan-ada-area-untuk-keluarga-loh--pZo {
    white-space: nowrap;
    width: 48.6rem;
    height: 2.2rem;
    position: absolute;
    left: 13.3rem;
    font-size: 1.8rem;
    line-height: 1.2175;
    letter-spacing: 0.018rem;
    top: 127.5rem;
    font-weight: 400;
    color: #ffffff;
    font-family: Montserrat, 'Source Sans Pro';
  }
  .banyak-spot-foto-di-bukit-panyangrayan--ifB {
    letter-spacing: 0.018rem;
    color: #ffffff;
    width: 38.1rem;
    height: 2.2rem;
    position: absolute;
    left: 77.8rem;
    font-size: 1.8rem;
    line-height: 1.2175;
    white-space: nowrap;
    top: 127.5rem;
    font-weight: 400;
    font-family: Montserrat, 'Source Sans Pro';
  }
  .beberapa-spot-menarik-di-bukit-panyangrayan-E7j {
    top: 84.5rem;
    line-height: 1.2175;
    letter-spacing: 0.3rem;
    white-space: nowrap;
    height: 3.9rem;
    left: 26.2rem;
    font-size: 3.2rem;
    font-weight: 700;
    color: #000000;
    font-family: Montserrat, 'Source Sans Pro';
    width: 91.3rem;
    position: absolute;
  }
  .rectangle-388-8iu {
    position: absolute;
    top: 6.7rem;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:f865d70d9a934ea515e14be25dbf5a923786c3ac');
    width: 145rem;
    height: 73.3rem;
    left: 0;
    background-color: #c4c4c4;
    background-size: 100% 100%;
  }
  .jelajahi-bukit-Z3X {
    white-space: nowrap;
    left: 52.6rem;
    text-align: center;
    font-weight: 800;
    top: 40.2rem;
    font-size: 6.4rem;
    line-height: 1.2;
    color: #ffffff;
    font-family: Lato, 'Source Sans Pro';
    width: 38.6rem;
    height: 7.7rem;
    position: absolute;
  }
  .group-210-Teh {
    width: 144.3rem;
    height: 42rem;
    position: absolute;
    left: 0;
    top: 192.2rem;

    .rectangle-29-aDX {
      height: 41.4rem;
      position: absolute;
      left: 0;
      top: 0.6rem;
      background-color: #378635;
      width: 144.3rem;
    }
    .line-11-vHP {
      top: 19.9rem;
      background-color: #ffffff;
      width: 130rem;
      height: 0.1rem;
      position: absolute;
      left: 7.3rem;
    }
    .instagram-4-1-4Pb {
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 8rem;
      top: 12.5rem;
      object-fit: cover;
      vertical-align: top;
    }
    .facebook-3-1-b8d {
      top: 12.5rem;
      object-fit: cover;
      vertical-align: top;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 13rem;
    }
    .area-kafe-L6D {
      height: 2.1rem;
      cursor: pointer;
      position: absolute;
      font-size: 1.5rem;
      line-height: 1.3625;
      font-family: Open Sans, 'Source Sans Pro';
      width: 6.9rem;
      top: 30.3rem;
      font-weight: 400;
      letter-spacing: 0.015rem;
      color: #ffffff;
      white-space: nowrap;
      left: 66.3rem;
    }
    .area-keluarga-dLD {
      font-family: Open Sans, 'Source Sans Pro';
      width: 10rem;
      height: 2.1rem;
      font-weight: 400;
      color: #ffffff;
      font-size: 1.5rem;
      line-height: 1.3625;
      letter-spacing: 0.015rem;
      white-space: nowrap;
      cursor: pointer;
      position: absolute;
      left: 66.3rem;
      top: 27.7rem;
    }
    .area-foto-93f {
      letter-spacing: 0.015rem;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.1rem;
      cursor: pointer;
      left: 66.3rem;
      top: 32.9rem;
      font-weight: 400;
      width: 6.9rem;
      position: absolute;
      font-size: 1.5rem;
      line-height: 1.3625;
      color: #ffffff;
    }
    .camping-ground-rCy {
      font-family: Open Sans, 'Source Sans Pro';
      position: absolute;
      top: 35.2rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.3625;
      letter-spacing: 0.015rem;
      color: #ffffff;
      white-space: nowrap;
      width: 12.2rem;
      height: 2.1rem;
      cursor: pointer;
      left: 66.3rem;
    }
    .booking-tiket-Z7P {
      height: 2.1rem;
      font-weight: 400;
      line-height: 1.3625;
      color: #ffffff;
      font-size: 1.5rem;
      letter-spacing: 0.015rem;
      font-family: Open Sans, 'Source Sans Pro';
      width: 9.7rem;
      cursor: pointer;
      position: absolute;
      left: 95.5rem;
      top: 27.5rem;
      white-space: nowrap;
    }
    .booking-kafe-UEM {
      letter-spacing: 0.015rem;
      color: #ffffff;
      width: 9.4rem;
      cursor: pointer;
      position: absolute;
      left: 95.5rem;
      line-height: 1.3625;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.1rem;
      top: 30.1rem;
      font-size: 1.5rem;
      font-weight: 400;
    }
    .foto-nVw {
      position: absolute;
      top: 27.6rem;
      font-size: 1.5rem;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.1rem;
      cursor: pointer;
      left: 84rem;
      font-weight: 400;
      line-height: 1.3625;
      letter-spacing: 0.015rem;
      color: #ffffff;
      width: 3.2rem;
    }
    .video-WRw {
      cursor: pointer;
      position: absolute;
      left: 84rem;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      width: 4.1rem;
      height: 2.1rem;
      top: 30.2rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.3625;
      letter-spacing: 0.015rem;
      color: #ffffff;
    }
    .berita-E73 {
      position: absolute;
      left: 109.7rem;
      font-weight: 400;
      letter-spacing: 0.015rem;
      width: 4.3rem;
      height: 2.1rem;
      cursor: pointer;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      top: 27.5rem;
      font-size: 1.5rem;
      line-height: 1.3625;
    }
    .event-kLH {
      letter-spacing: 0.015rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      width: 4rem;
      position: absolute;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.3625;
      white-space: nowrap;
      height: 2.1rem;
      cursor: pointer;
      left: 109.7rem;
      top: 30.1rem;
    }
    .hotel-eRf {
      cursor: pointer;
      top: 27.5rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.3625;
      letter-spacing: 0.015rem;
      white-space: nowrap;
      width: 3.9rem;
      height: 2.1rem;
      position: absolute;
      left: 122.5rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .restoran-xx9 {
      height: 2.1rem;
      cursor: pointer;
      top: 30.1rem;
      letter-spacing: 0.015rem;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      color: #ffffff;
      width: 6.5rem;
      position: absolute;
      left: 122.5rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.3625;
    }
    .wisata-5ms {
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      height: 2.1rem;
      cursor: pointer;
      position: absolute;
      font-size: 1.5rem;
      font-weight: 400;
      letter-spacing: 0.015rem;
      width: 4.8rem;
      left: 122.5rem;
      top: 32.7rem;
      line-height: 1.3625;
      white-space: nowrap;
    }
    .whatsapp-2-1-C5o {
      left: 18rem;
      top: 12.5rem;
      object-fit: cover;
      vertical-align: top;
      width: 4rem;
      height: 4rem;
      position: absolute;
    }
    .group-32-X85 {
      padding-left: 0.187rem;
      width: 47.0796rem;
      height: 10.2167rem;
      position: absolute;
      left: 7.3rem;
      top: 25.4rem;
      box-sizing: border-box;

      .auto-group-bmt5-SF3 {
        display: flex;
        align-items: flex-end;
        margin-bottom: 1.202rem;
        width: 100%;

        .pin-PAH {
          height: 2.6043rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.5618rem;
          width: 2.4308rem;
        }
        .kecamatan-sukaraja-kabupaten-tasikmalaya-jawa-barat-46183-Wkh {
          margin-bottom: 0.0399rem;
          font-weight: 400;
          letter-spacing: -0.0333rem;
          white-space: nowrap;
          font-size: 1.5rem;
          line-height: 1.3625;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .auto-group-2wqf-QbB {
        width: calc(100% - 18.6796rem);
        display: flex;
        align-items: flex-end;
        margin: 0rem 18.68rem 1.202rem 0rem;

        .email-Ljj {
          flex-shrink: 0;
          margin-right: 1.5822rem;
          width: 2.4308rem;
          height: 2.6043rem;
          object-fit: cover;
          vertical-align: top;
        }
        .akbarsaepulrizal120404gmailcom-H9B {
          line-height: 1.3625;
          color: #ffffff;
          white-space: nowrap;
          margin-bottom: 0.1105rem;
          font-size: 1.5rem;
          font-weight: 400;
          flex-shrink: 0;
          letter-spacing: -0.0333rem;
          text-decoration-line: underline;
          font-family: Open Sans, 'Source Sans Pro';
        }
      }
      .auto-group-n4mp-nrd {
        margin-right: 31rem;
        width: calc(100% - 31rem);
        display: flex;
        align-items: center;

        .phone-call-1-L7T {
          width: 2.4308rem;
          height: 2.6043rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.5618rem;
        }
        .item-62-81510941558-UUZ {
          margin-bottom: 0.2493rem;
          font-weight: 400;
          font-family: Open Sans, 'Source Sans Pro';
          font-size: 1.5rem;
          line-height: 1.3625;
          letter-spacing: -0.0333rem;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .jelajahi-bukit-anV {
      line-height: 1.3625;
      letter-spacing: 0.015rem;
      color: #ffffff;
      height: 2.1rem;
      left: 66.4rem;
      top: 25.1rem;
      font-size: 1.5rem;
      font-weight: 700;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      width: 10.2rem;
      position: absolute;
    }
    .galeri-t2V {
      top: 25.1rem;
      font-weight: 700;
      letter-spacing: 0.015rem;
      white-space: nowrap;
      width: 4.6rem;
      height: 2.1rem;
      cursor: pointer;
      left: 84rem;
      font-family: Open Sans, 'Source Sans Pro';
      position: absolute;
      font-size: 1.5rem;
      line-height: 1.3625;
      color: #ffffff;
    }
    .rekomendasi-C3B {
      width: 10.4rem;
      cursor: pointer;
      position: absolute;
      font-size: 1.5rem;
      letter-spacing: 0.015rem;
      white-space: nowrap;
      height: 2.1rem;
      left: 122.5rem;
      top: 25.1rem;
      font-weight: 700;
      line-height: 1.3625;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .desain-tanpa-judul202310110538060000-1-1-gyw {
      height: 11.9rem;
      position: absolute;
      left: 1.6rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 26.8rem;
    }
    .informasi-QQ9 {
      position: absolute;
      left: 109.7rem;
      font-size: 1.5rem;
      letter-spacing: 0.015rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      width: 7.4rem;
      height: 2.1rem;
      cursor: pointer;
      top: 25.1rem;
      font-weight: 700;
      line-height: 1.3625;
      white-space: nowrap;
    }
    .reservasi-7JZ {
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      width: 7.3rem;
      height: 2.1rem;
      cursor: pointer;
      position: absolute;
      left: 95.5rem;
      line-height: 1.3625;
      white-space: nowrap;
      top: 25.1rem;
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 0.015rem;
    }
  }
  .group-178-pTs {
    position: absolute;
    top: 0;
    display: flex;
    left: 0;
    align-items: center;
    background: linear-gradient(90.62deg, #5fc789 41.36%, #8adf48 83.59%);
    box-sizing: border-box;
    padding: 2.5rem 38.1rem 1rem 56.87rem;
    width: 145.2rem;
    height: 8rem;

    .rectangle-99-7hs {
      width: 8.0667rem;
      height: 2.2941rem;
      border-radius: 2rem;
      flex-shrink: 0;
      margin: 0rem 2.163rem 0.414rem 0rem;
    }
    .huge-tab-EnV {
      flex-shrink: 0;
      margin: 0.7rem 0rem 0.9rem 0rem;
      width: 11.7rem;
      height: calc(100% - 1.6rem);

      .name-N81 {
        width: 100%;
        height: 2.6rem;

        .auto-group-zyfp-XWh {
          line-height: 1.4000000424;
          justify-content: center;
          width: 5.4rem;
          display: flex;
          font-size: 1.8rem;
          font-weight: 700;
          white-space: nowrap;
          align-items: center;
          margin-right: 6.3rem;
          height: 100%;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
        }
      }
      .underline-2yF {
        height: 0.3rem;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        padding-top: 0.3rem;
        width: 5.4rem;

        .underline-ytV {
          width: 11.1rem;
          height: 0.3rem;
          background-color: #000000;
        }
      }
    }
    .drop-jelajahi-7zh {
      padding: 0.8rem 0.7rem 0.8rem 1.6rem;
      width: 10.7rem;
      height: 100%;
      cursor: pointer;
      flex-shrink: 0;
      margin-right: 4.9rem;
      box-sizing: border-box;

      .huge-tab-F5K {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;

        .name-zob {
          width: 100%;
          height: 2.6rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-8cm7-MPF {
            margin-right: 0.8rem;
            height: 100%;
            display: flex;
            font-weight: 700;
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;
            width: 6.7rem;
            font-size: 1.8rem;
            line-height: 1.4000000424;
            color: #eeeeee;
            white-space: nowrap;
            align-items: center;
            justify-content: center;
          }
          .polygon-edF {
            width: 0.9rem;
            height: 0.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .underline-zSD {
          position: relative;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 0.3rem;
          width: 100%;
          height: 0.3rem;
          overflow: hidden;

          .underline-jub {
            width: 14.1rem;
            height: 0.3rem;
            background-color: #000000;
          }
        }
      }
    }
    .drop-reservasi-HRK {
      box-sizing: border-box;
      padding: 0.8rem 0.8rem 0.8rem 1.6rem;
      width: 12.7rem;
      height: 100%;
      cursor: pointer;
      flex-shrink: 0;

      .huge-tab-cTb {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .name-a9X {
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          height: 2.6rem;
          display: flex;

          .auto-group-bgxb-wEy {
            width: 8.6rem;
            font-size: 1.8rem;
            font-weight: 700;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            align-items: center;
            justify-content: center;
            margin-right: 0.8rem;
            flex-shrink: 0;
            display: flex;
            line-height: 1.4000000424;
            white-space: nowrap;
            height: 100%;
          }
          .polygon-44h {
            flex-shrink: 0;
            width: 0.9rem;
            height: 0.9rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .underline-QeM {
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 0.3rem;
          width: 100%;
          height: 0.3rem;
          overflow: hidden;
          position: relative;

          .underline-A7j {
            width: 16rem;
            height: 0.3rem;
            background-color: #000000;
          }
        }
      }
    }
  }
  .enterprise-default-GRf {
    position: absolute;
    left: 110.8rem;
    top: 2.3rem;
    box-sizing: border-box;
    padding: 0.8rem 0rem 0.8rem 1.6rem;
    width: 13.3rem;
    height: 4.5rem;
    cursor: pointer;

    .huge-tab-BYd {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .name-LwK {
        flex-shrink: 0;
        width: 100%;
        height: 2.6rem;

        .auto-group-yrkb-JdF {
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.4000000424;
          color: #000000;
          align-items: center;
          margin-right: 2.9rem;
          height: 100%;
          display: flex;
          justify-content: center;
          width: 8.8rem;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .underline-1Xf {
        box-sizing: border-box;
        padding-top: 0.3rem;
        width: 8.8rem;
        height: 0.3rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .underline-kVF {
          height: 0.3rem;
          background-color: #000000;
          width: 14.5rem;
        }
      }
    }
  }
  .enterprise-default-6Z7 {
    box-sizing: border-box;
    padding: 0.8rem 0rem 0.8rem 1.6rem;
    width: 13.3rem;
    height: 4.5rem;
    cursor: pointer;
    position: absolute;
    left: 125rem;
    top: 2.3rem;

    .huge-tab-cGZ {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .name-B4m {
        width: 100%;
        height: 2.6rem;
        flex-shrink: 0;

        .auto-group-wxgd-jc5 {
          align-items: center;
          width: 4.9rem;
          display: flex;
          color: #000000;
          white-space: nowrap;
          line-height: 1.4000000424;
          font-family: Open Sans, 'Source Sans Pro';
          justify-content: center;
          margin-right: 6.8rem;
          height: 100%;
          font-size: 1.8rem;
          font-weight: 700;
        }
      }
      .underline-SWV {
        width: 4.9rem;
        height: 0.3rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 0.3rem;

        .underline-gvd {
          width: 10.6rem;
          height: 0.3rem;
          background-color: #000000;
        }
      }
    }
  }
  .desain-tanpa-judul202310110538060000-1-1-pG9 {
    background-position: -3.622rem -5.1545rem;
    background-image: url('REPLACE_IMAGE:41f25ba5202578893837c6b9cb83d7d0d015a6ff');
    width: 13.5rem;
    height: 8.4rem;
    position: relative;
    left: 6.7rem;
    top: 0;
    background-size: 147.154% 222.727%;
  }
}
