
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.menu-rekomendasi-D93 {
  background-color: #e4e4e4;
  width: 100%;
  height: 327.3rem;
  position: relative;
  overflow: hidden;

  .auto-group-qjl5-irV {
    height: 247.3rem;
    position: absolute;
    left: 0;
    top: 80rem;
    width: 144.3rem;

    .rectangle-96-Epq {
      width: 144rem;
      height: 207.1rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #d9d9d9;
    }
    .frame-11-Ng9 {
      height: 40rem;
      position: absolute;
      left: 9.5rem;
      top: 81.9rem;
      display: flex;
      align-items: center;
      width: 125rem;

      .group-206-uRB {
        height: 100%;
        position: relative;
        background-size: 130.577% 125.893%;
        background-position: -2.699rem -3.5087rem;
        border-radius: 2rem;
        flex-shrink: 0;
        margin-right: 5rem;
        width: 60rem;
        background-image: url('REPLACE_IMAGE:4f2270df03f38a87e85a40dc7df6bf17b66db6bf');

        .rectangle-95-edf {
          width: 60rem;
          height: 18rem;
          position: absolute;
          left: 0;
          top: 22rem;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5299999714) 100%);
          border-radius: 2rem;
        }
        .saung-rangon-9aR {
          height: 3.5rem;
          left: 4.1rem;
          font-weight: 600;
          letter-spacing: -0.039rem;
          white-space: nowrap;
          width: 20.9rem;
          position: absolute;
          top: 28.6rem;
          font-size: 2.8rem;
          line-height: 1.2175;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .jika-sedang-berada-di-tasikmalaya-dan-ingin-masakan-sunda-saung-ranggon-sangat-direkomendasikan--pgZ {
          height: 4.4rem;
          top: 33.3rem;
          letter-spacing: -0.0333rem;
          line-height: 1.2175;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          width: 47.2rem;
          position: absolute;
          left: 3.8rem;
          font-size: 1.8rem;
          font-weight: 400;
        }
        .group-206-uRB-bg {
          background-image: url('REPLACE_IMAGE:4f2270df03f38a87e85a40dc7df6bf17b66db6bf');
          width: 60rem;
          height: 40rem;
          position: relative;
        }
      }
      .group-207-yC5 {
        width: 60rem;
        position: relative;
        background-size: 100% 100%;
        background-position: center;
        background-image: url('REPLACE_IMAGE:50ba65548f5dc93889ea14eef945a5fc85e4d9e6');
        border-radius: 2rem;
        height: 100%;
        background-repeat: no-repeat;
        flex-shrink: 0;

        .rectangle-71-ifT {
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5299999714) 100%);
          border-radius: 2rem;
          width: 60rem;
          height: 18rem;
          position: absolute;
          left: 0;
          top: 22rem;
        }
        .saung-gunung-jati-E81 {
          line-height: 1.2175;
          color: #ffffff;
          white-space: nowrap;
          width: 27.1rem;
          height: 3.5rem;
          position: absolute;
          left: 3.3rem;
          top: 28.6rem;
          font-size: 2.8rem;
          font-weight: 600;
          letter-spacing: -0.039rem;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .makanan-sunda-yang-sangat-sekali-dinikmati-bersama-dengan-rasa-nikmat-dan-juga-tempatnya-nyaman--vmX {
          top: 33.3rem;
          font-size: 1.8rem;
          letter-spacing: -0.0333rem;
          color: #ffffff;
          height: 4.4rem;
          position: absolute;
          left: 3.3rem;
          font-weight: 400;
          line-height: 1.2175;
          font-family: Montserrat, 'Source Sans Pro';
          width: 47.9rem;
        }
      }
    }
    .see-all-MM3 {
      width: 6.5rem;
      height: 2.5rem;
      font-weight: 600;
      letter-spacing: -0.0333rem;
      white-space: nowrap;
      position: absolute;
      left: 124.3rem;
      top: 72.5rem;
      font-size: 2rem;
      line-height: 1.2175;
      color: #bc2b1c;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .rectangle-93-eqw {
      object-fit: contain;
      vertical-align: top;
      border-radius: 2rem;
      width: 60rem;
      height: 40rem;
      position: absolute;
      left: 54.9rem;
      top: 2.3rem;
    }
    .restoran-terdekat-nSM {
      line-height: 1.2175;
      font-family: Montserrat, 'Source Sans Pro';
      width: 35.9rem;
      position: absolute;
      top: 71.5rem;
      font-weight: 700;
      color: #000000;
      white-space: nowrap;
      height: 3.9rem;
      left: 55.5rem;
      font-size: 3.2rem;
      letter-spacing: 0.3rem;
    }
    .group-207-Htu {
      height: 49.4rem;
      position: absolute;
      top: 136.2rem;
      flex-direction: column;
      width: 60.0203rem;
      left: 73.7rem;
      align-items: flex-end;
      display: flex;
      border-radius: 2rem;

      .see-all-2Lh {
        margin: 0rem 2.92rem 6.9rem 0rem;
        line-height: 1.2175;
        white-space: nowrap;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: -0.0333rem;
        color: #bc2b1c;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .auto-group-seg9-8ed {
        margin-right: 0.0203rem;
        height: 40rem;
        background-size: 100% 100%;
        border-radius: 2rem;
        background-image: url('REPLACE_IMAGE:fe003ec4f629b118bd6af86805abe178a6d34dfc');
        flex-shrink: 0;
        width: calc(100% - 0.0203rem);
        position: relative;
        background-repeat: no-repeat;
        background-position: center;

        .rectangle-71-4YH {
          left: 0;
          top: 22rem;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5299999714) 100%);
          border-radius: 2rem;
          width: 60rem;
          height: 18rem;
          position: absolute;
        }
        .kawah-gunung-galunggung-ArD {
          font-size: 2.8rem;
          line-height: 1.2175;
          letter-spacing: -0.039rem;
          color: #ffffff;
          left: 3.3rem;
          top: 28.6rem;
          position: absolute;
          font-weight: 600;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          width: 40.4rem;
          height: 3.5rem;
        }
        .gunung-galunggung-termasuk-kedalam-kategori-gunung-favorit-pendaki-pemula--5CV {
          top: 33.3rem;
          font-weight: 400;
          line-height: 1.2175;
          color: #ffffff;
          width: 43.4rem;
          height: 4.4rem;
          position: absolute;
          left: 3.3rem;
          font-size: 1.8rem;
          letter-spacing: -0.0333rem;
          font-family: Montserrat, 'Source Sans Pro';
        }
      }
    }
    .group-206-tvd {
      background-size: 100% 100%;
      border-radius: 2rem;
      height: 40rem;
      position: absolute;
      top: 145.6rem;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:2fcdc30fcf78b4e31338fb88de7fb121252442fd');
      width: 60rem;
      left: 8.7rem;

      .rectangle-95-XTo {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5299999714) 100%);
        border-radius: 2rem;
        width: 60rem;
        height: 18rem;
        position: absolute;
        left: 0;
        top: 22rem;
      }
      .situ-gede-qjP {
        line-height: 1.2175;
        color: #ffffff;
        font-size: 2.8rem;
        font-weight: 600;
        letter-spacing: -0.039rem;
        width: 13.7rem;
        height: 3.5rem;
        position: absolute;
        left: 4.1rem;
        top: 28.6rem;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
      }
      .tasikmalaya-memiliki-danau-besar-alami-yang-menawarkan-pemandangan-elok-nan-indah--Yth {
        top: 33.3rem;
        font-size: 1.8rem;
        color: #ffffff;
        width: 40.1rem;
        height: 4.4rem;
        font-weight: 400;
        line-height: 1.2175;
        letter-spacing: -0.0333rem;
        font-family: Montserrat, 'Source Sans Pro';
        position: absolute;
        left: 3.8rem;
      }
    }
    .rekomendasi-wisata-oJq {
      font-weight: 700;
      letter-spacing: 0.3rem;
      color: #000000;
      white-space: nowrap;
      top: 135.2rem;
      font-size: 3.2rem;
      position: absolute;
      left: 51.5rem;
      line-height: 1.2175;
      font-family: Montserrat, 'Source Sans Pro';
      width: 41rem;
      height: 3.9rem;
    }
    .hotel-terdekat-JWV {
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      left: 57.7rem;
      top: 6.8rem;
      font-size: 3.2rem;
      font-weight: 700;
      letter-spacing: 0.3rem;
      color: #000000;
      width: 29rem;
      height: 3.9rem;
      position: absolute;
      line-height: 1.2175;
    }
    .frame-10-cGH {
      position: absolute;
      left: 9.5rem;
      top: 18.2rem;
      display: flex;
      align-items: center;
      width: 125rem;
      height: 40rem;

      .group-197-91K {
        background-image: url('REPLACE_IMAGE:10:332');
        border-radius: 2rem;
        margin-right: 5rem;
        height: 100%;
        background-size: cover;
        background-position: center;
        width: 60rem;
        background: linear-gradient(180.5deg, #939393 0.43%, #343434 28.51%);
        background-repeat: no-repeat;
        flex-shrink: 0;

        .rectangle-97-5ff {
          left: 0;
          top: 22rem;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5299999714) 100%);
          border-radius: 2rem;
          width: 60rem;
          height: 18rem;
          position: absolute;
        }
        .hotel-horison-tasikmalaya-znd {
          top: 28.6rem;
          font-weight: 600;
          letter-spacing: -0.039rem;
          color: #ffffff;
          position: absolute;
          left: 4.1rem;
          font-size: 2.8rem;
          line-height: 1.2175;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          width: 37.3rem;
          height: 3.5rem;
        }
        .hotel-horison-tasikmalaya-adalah-sebuah-hotel-yang-terletak-di-kota-tasikmalaya-indonesia--tt1 {
          letter-spacing: -0.0333rem;
          color: #ffffff;
          top: 32.9rem;
          font-size: 1.8rem;
          line-height: 1.2175;
          left: 4.1rem;
          font-weight: 400;
          font-family: Montserrat, 'Source Sans Pro';
          width: 45.9rem;
          height: 4.4rem;
          position: absolute;
        }
      }
      .group-198-6jB {
        background: linear-gradient(180.5deg, #939393 0.43%, #343434 28.51%);
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:84645f5dacee1882e14260e8a7aaeec98c812b49');
        border-radius: 2rem;
        flex-shrink: 0;
        width: 60rem;
        height: 100%;
        background-size: 100% 100%;
        background-position: center;

        .rectangle-96-f1b {
          position: absolute;
          left: 65rem;
          top: 22rem;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5299999714) 100%);
          border-radius: 2rem;
          width: 60rem;
          height: 18rem;
        }
        .hotel-ini-merupakan-bagian-grup-santika-indonesia-yang-mengoperasikan-sejumlah-hotel-di-indonesia--yHB {
          line-height: 1.2175;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          height: 4.4rem;
          position: absolute;
          left: 68.6rem;
          font-weight: 400;
          letter-spacing: -0.0333rem;
          width: 45.6rem;
          top: 32.9rem;
          font-size: 1.8rem;
        }
        .amaris-hotel-tasikmalaya-FVb {
          top: 28.6rem;
          font-size: 2.8rem;
          font-weight: 600;
          line-height: 1.2175;
          letter-spacing: -0.039rem;
          font-family: Montserrat, 'Source Sans Pro';
          width: 36.3rem;
          position: absolute;
          left: 68.3rem;
          color: #ffffff;
          white-space: nowrap;
          height: 3.5rem;
        }
      }
    }
    .see-all-Vuj {
      position: absolute;
      left: 125.1rem;
      font-weight: 600;
      color: #bc2b1c;
      font-family: Montserrat, 'Source Sans Pro';
      width: 6.5rem;
      height: 2.5rem;
      top: 7.8rem;
      font-size: 2rem;
      line-height: 1.2175;
      letter-spacing: -0.0333rem;
      white-space: nowrap;
    }
    .group-210-1t5 {
      width: 144.3rem;
      height: 42rem;
      position: absolute;
      left: 0;
      top: 205.3rem;

      .rectangle-29-8Su {
        width: 144.3rem;
        height: 41.4rem;
        position: absolute;
        left: 0;
        top: 0.6rem;
        background-color: #378635;
      }
      .line-11-UFs {
        background-color: #ffffff;
        width: 130rem;
        height: 0.1rem;
        position: absolute;
        left: 7rem;
        top: 19.9rem;
      }
      .instagram-4-1-1Wh {
        width: 4rem;
        height: 4rem;
        position: absolute;
        left: 7.7rem;
        top: 12.5rem;
        object-fit: cover;
        vertical-align: top;
      }
      .facebook-3-1-wfF {
        height: 4rem;
        position: absolute;
        left: 12.7rem;
        top: 12.5rem;
        object-fit: cover;
        vertical-align: top;
        width: 4rem;
      }
      .area-kafe-t4h {
        top: 30.3rem;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: Open Sans, 'Source Sans Pro';
        width: 6.9rem;
        height: 2.1rem;
        position: absolute;
        left: 66rem;
        white-space: nowrap;
        cursor: pointer;
        line-height: 1.3625;
        letter-spacing: 0.015rem;
        color: #ffffff;
      }
      .area-keluarga-aiD {
        position: absolute;
        left: 66rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.3625;
        white-space: nowrap;
        height: 2.1rem;
        cursor: pointer;
        letter-spacing: 0.015rem;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        width: 10rem;
        top: 27.7rem;
      }
      .area-foto-5us {
        width: 6.9rem;
        top: 32.9rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.3625;
        letter-spacing: 0.015rem;
        color: #ffffff;
        white-space: nowrap;
        height: 2.1rem;
        cursor: pointer;
        position: absolute;
        left: 66rem;
        font-family: Open Sans, 'Source Sans Pro';
      }
      .camping-ground-oay {
        position: absolute;
        top: 35.2rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.3625;
        font-family: Open Sans, 'Source Sans Pro';
        width: 12.2rem;
        height: 2.1rem;
        cursor: pointer;
        left: 66rem;
        letter-spacing: 0.015rem;
        color: #ffffff;
        white-space: nowrap;
      }
      .booking-tiket-KZK {
        height: 2.1rem;
        cursor: pointer;
        position: absolute;
        left: 95.2rem;
        line-height: 1.3625;
        font-family: Open Sans, 'Source Sans Pro';
        width: 9.7rem;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.015rem;
        color: #ffffff;
        white-space: nowrap;
        top: 27.5rem;
      }
      .booking-kafe-SP3 {
        font-weight: 400;
        line-height: 1.3625;
        letter-spacing: 0.015rem;
        width: 9.4rem;
        height: 2.1rem;
        cursor: pointer;
        top: 30.1rem;
        font-size: 1.5rem;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 95.2rem;
        color: #ffffff;
      }
      .foto-9HT {
        width: 3.2rem;
        left: 83.7rem;
        letter-spacing: 0.015rem;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.1rem;
        cursor: pointer;
        position: absolute;
        top: 27.6rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.3625;
        color: #ffffff;
      }
      .video-rxZ {
        position: absolute;
        left: 83.7rem;
        top: 30.2rem;
        font-size: 1.5rem;
        line-height: 1.3625;
        color: #ffffff;
        height: 2.1rem;
        cursor: pointer;
        font-family: Open Sans, 'Source Sans Pro';
        letter-spacing: 0.015rem;
        white-space: nowrap;
        width: 4.1rem;
        font-weight: 400;
      }
      .berita-z3B {
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        width: 4.3rem;
        cursor: pointer;
        left: 109.4rem;
        font-weight: 400;
        line-height: 1.3625;
        letter-spacing: 0.015rem;
        white-space: nowrap;
        height: 2.1rem;
        position: absolute;
        top: 27.5rem;
        font-size: 1.5rem;
      }
      .event-tuF {
        line-height: 1.3625;
        letter-spacing: 0.015rem;
        position: absolute;
        left: 109.4rem;
        font-size: 1.5rem;
        font-weight: 400;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        width: 4rem;
        height: 2.1rem;
        cursor: pointer;
        top: 30.1rem;
      }
      .hotel-Q6u {
        height: 2.1rem;
        position: absolute;
        top: 27.5rem;
        font-weight: 400;
        line-height: 1.3625;
        letter-spacing: 0.015rem;
        color: #ffffff;
        width: 3.9rem;
        left: 122.2rem;
        font-size: 1.5rem;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .restoran-Wfj {
        top: 30.1rem;
        font-size: 1.5rem;
        line-height: 1.3625;
        letter-spacing: 0.015rem;
        width: 6.5rem;
        height: 2.1rem;
        position: absolute;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        left: 122.2rem;
        font-weight: 400;
        color: #ffffff;
      }
      .wisata-1sP {
        height: 2.1rem;
        position: absolute;
        font-weight: 400;
        line-height: 1.3625;
        letter-spacing: 0.015rem;
        color: #ffffff;
        width: 4.8rem;
        left: 122.2rem;
        top: 32.7rem;
        font-size: 1.5rem;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .whatsapp-2-1-Xaq {
        top: 12.5rem;
        object-fit: cover;
        vertical-align: top;
        width: 4rem;
        height: 4rem;
        position: absolute;
        left: 17.7rem;
      }
      .group-32-G2d {
        box-sizing: border-box;
        padding-left: 0.187rem;
        width: 47.0796rem;
        height: 10.2167rem;
        position: absolute;
        left: 7rem;
        top: 25.4rem;

        .auto-group-pq3f-nFs {
          margin-bottom: 1.2019rem;
          width: 100%;
          display: flex;
          align-items: flex-end;

          .pin-Xz9 {
            height: 2.6043rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.5618rem;
            width: 2.4308rem;
          }
          .kecamatan-sukaraja-kabupaten-tasikmalaya-jawa-barat-46183-t41 {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.3625;
            letter-spacing: -0.0333rem;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.0399rem;
            flex-shrink: 0;
          }
        }
        .auto-group-1yqm-NUy {
          margin: 0rem 18.68rem 1.202rem 0rem;
          width: calc(100% - 18.6796rem);
          display: flex;
          align-items: flex-end;

          .email-6fs {
            flex-shrink: 0;
            margin-right: 1.5822rem;
            width: 2.4308rem;
            height: 2.6043rem;
            object-fit: cover;
            vertical-align: top;
          }
          .akbarsaepulrizal120404gmailcom-eBb {
            font-weight: 400;
            letter-spacing: -0.0333rem;
            text-decoration-line: underline;
            color: #ffffff;
            margin-bottom: 0.1105rem;
            font-size: 1.5rem;
            white-space: nowrap;
            flex-shrink: 0;
            line-height: 1.3625;
            font-family: Open Sans, 'Source Sans Pro';
          }
        }
        .auto-group-rit9-M61 {
          display: flex;
          align-items: center;
          margin-right: 31rem;
          width: calc(100% - 31rem);

          .phone-call-1-6ZP {
            margin-right: 1.5618rem;
            width: 2.4308rem;
            height: 2.6043rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item-62-81510941558-qWy {
            margin-bottom: 0.2493rem;
            font-size: 1.5rem;
            line-height: 1.3625;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 400;
            letter-spacing: -0.0333rem;
            color: #ffffff;
            flex-shrink: 0;
          }
        }
      }
      .jelajahi-bukit-wpu {
        white-space: nowrap;
        height: 2.1rem;
        font-weight: 700;
        line-height: 1.3625;
        letter-spacing: 0.015rem;
        font-family: Open Sans, 'Source Sans Pro';
        font-size: 1.5rem;
        color: #ffffff;
        width: 10.2rem;
        cursor: pointer;
        position: absolute;
        left: 66.1rem;
        top: 25.1rem;
      }
      .galeri-rBB {
        left: 83.7rem;
        top: 25.1rem;
        font-size: 1.5rem;
        letter-spacing: 0.015rem;
        color: #ffffff;
        width: 4.6rem;
        position: absolute;
        font-weight: 700;
        line-height: 1.3625;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.1rem;
        cursor: pointer;
      }
      .rekomendasi-m3F {
        width: 10.4rem;
        left: 122.2rem;
        font-size: 1.5rem;
        line-height: 1.3625;
        letter-spacing: 0.015rem;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.1rem;
        position: absolute;
        top: 25.1rem;
        font-weight: 700;
        color: #ffffff;
      }
      .desain-tanpa-judul202310110538060000-1-1-Twf {
        vertical-align: top;
        width: 26.8rem;
        height: 11.9rem;
        position: absolute;
        left: 1.3rem;
        top: 0;
        object-fit: cover;
      }
      .informasi-amP {
        color: #ffffff;
        white-space: nowrap;
        height: 2.1rem;
        position: absolute;
        left: 109.4rem;
        top: 25.1rem;
        font-size: 1.5rem;
        line-height: 1.3625;
        width: 7.4rem;
        cursor: pointer;
        font-weight: 700;
        letter-spacing: 0.015rem;
        font-family: Open Sans, 'Source Sans Pro';
      }
      .reservasi-Hvh {
        white-space: nowrap;
        width: 7.3rem;
        position: absolute;
        font-size: 1.5rem;
        letter-spacing: 0.015rem;
        color: #ffffff;
        line-height: 1.3625;
        font-family: Open Sans, 'Source Sans Pro';
        height: 2.1rem;
        cursor: pointer;
        left: 95.2rem;
        top: 25.1rem;
        font-weight: 700;
      }
    }
  }
  .auto-group-vdnq-bgV {
    left: 0;
    top: 6.7rem;
    line-height: 1.2;
    align-items: center;
    background-repeat: no-repeat;
    display: flex;
    background-color: #c4c4c4;
    width: 145rem;
    position: absolute;
    text-align: center;
    font-weight: 800;
    color: #ffffff;
    white-space: nowrap;
    background-image: url('REPLACE_IMAGE:f865d70d9a934ea515e14be25dbf5a923786c3ac');
    font-family: Lato, 'Source Sans Pro';
    background-size: 100% 100%;
    height: 73.3rem;
    font-size: 6.4rem;
    justify-content: center;
    background-position: center;
  }
  .group-178-UkH {
    align-items: center;
    box-sizing: border-box;
    width: 145.2rem;
    position: absolute;
    left: 0;
    display: flex;
    padding: 2.5rem 38.1rem 1rem 56.87rem;
    height: 8rem;
    top: 0;
    background: linear-gradient(90.62deg, #5fc789 41.36%, #8adf48 83.59%);

    .rectangle-99-Beh {
      height: 2.3352rem;
      border-radius: 2rem;
      flex-shrink: 0;
      margin: 0rem 2.163rem 0.258rem 0rem;
      width: 8.0667rem;
    }
    .huge-tab-VvH {
      margin: 0.7rem 0rem 0.9rem 0rem;
      width: 11.7rem;
      height: calc(100% - 1.6rem);
      flex-shrink: 0;

      .name-EN5 {
        height: 2.6rem;
        width: 100%;

        .auto-group-pxzm-PVs {
          width: 5.4rem;
          display: flex;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 6.3rem;
          height: 100%;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.4000000424;
          color: #000000;
          align-items: center;
          justify-content: center;
        }
      }
      .underline-hWZ {
        box-sizing: border-box;
        padding-top: 0.3rem;
        width: 5.4rem;
        height: 0.3rem;
        overflow: hidden;
        position: relative;

        .underline-F2H {
          width: 11.1rem;
          height: 0.3rem;
          background-color: #000000;
        }
      }
    }
    .drop-jelajahi-BRj {
      flex-shrink: 0;
      margin-right: 4.9rem;
      box-sizing: border-box;
      padding: 0.8rem 0.7rem 0.8rem 1.6rem;
      width: 10.7rem;
      height: 100%;
      cursor: pointer;

      .huge-tab-JFT {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .name-FwP {
          width: 100%;
          height: 2.6rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-ycxb-cmw {
            margin-right: 0.8rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.4000000424;
            width: 6.7rem;
            height: 100%;
            color: #eeeeee;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
          }
          .polygon-LC9 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 0.9rem;
            height: 0.9rem;
          }
        }
        .underline-gG1 {
          padding-top: 0.3rem;
          width: 100%;
          height: 0.3rem;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          box-sizing: border-box;

          .underline-EHX {
            width: 14.1rem;
            height: 0.3rem;
            background-color: #000000;
          }
        }
      }
    }
    .drop-reservasi-BCm {
      height: 100%;
      cursor: pointer;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.8rem 0.8rem 0.8rem 1.6rem;
      width: 12.7rem;

      .huge-tab-uuT {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .name-Gk1 {
          width: 100%;
          height: 2.6rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-hjfk-q2R {
            height: 100%;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.4000000424;
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            margin-right: 0.8rem;
            width: 8.6rem;
            display: flex;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .polygon-k9P {
            width: 0.9rem;
            height: 0.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .underline-tmP {
          width: 100%;
          height: 0.3rem;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 0.3rem;

          .underline-EqF {
            height: 0.3rem;
            background-color: #000000;
            width: 16rem;
          }
        }
      }
    }
  }
  .enterprise-default-9xD {
    height: 4.5rem;
    cursor: pointer;
    position: absolute;
    left: 110.8rem;
    top: 2.3rem;
    box-sizing: border-box;
    padding: 0.8rem 0rem 0.8rem 1.6rem;
    width: 13.3rem;

    .huge-tab-Gmw {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .name-Eim {
        width: 100%;
        height: 2.6rem;
        flex-shrink: 0;

        .auto-group-fsuw-bZK {
          justify-content: center;
          height: 100%;
          font-size: 1.8rem;
          line-height: 1.4000000424;
          color: #000000;
          white-space: nowrap;
          align-items: center;
          margin-right: 2.9rem;
          width: 8.8rem;
          display: flex;
          font-weight: 700;
          font-family: Open Sans, 'Source Sans Pro';
        }
      }
      .underline-WAV {
        box-sizing: border-box;
        padding-top: 0.3rem;
        width: 8.8rem;
        height: 0.3rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .underline-T5j {
          height: 0.3rem;
          background-color: #000000;
          width: 14.5rem;
        }
      }
    }
  }
  .enterprise-default-zbT {
    height: 4.5rem;
    cursor: pointer;
    position: absolute;
    left: 125rem;
    top: 2.3rem;
    box-sizing: border-box;
    padding: 0.8rem 0rem 0.8rem 1.6rem;
    width: 13.3rem;

    .huge-tab-Jc9 {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .name-4rD {
        width: 100%;
        height: 2.6rem;
        flex-shrink: 0;

        .auto-group-hlkr-2o3 {
          width: 4.9rem;
          height: 100%;
          display: flex;
          font-size: 1.8rem;
          font-family: Open Sans, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          margin-right: 6.8rem;
          line-height: 1.4000000424;
          color: #000000;
          white-space: nowrap;
          font-weight: 700;
        }
      }
      .underline-K1T {
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 0.3rem;
        width: 4.9rem;
        height: 0.3rem;
        overflow: hidden;
        position: relative;

        .underline-3y3 {
          width: 10.6rem;
          height: 0.3rem;
          background-color: #000000;
        }
      }
    }
  }
  .desain-tanpa-judul202310110538060000-1-1-CL9 {
    top: 0;
    background-size: 147.154% 222.727%;
    background-position: -3.622rem -5.1545rem;
    background-image: url('REPLACE_IMAGE:41f25ba5202578893837c6b9cb83d7d0d015a6ff');
    width: 13.5rem;
    height: 8.4rem;
    position: relative;
    left: 6.7rem;
  }
}
