
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.menu-booking-meja-kafe-iRf {
  width: 100%;
  height: 151.6rem;
  position: relative;
  overflow: hidden;
  background-color: #e4e4e4;

  .auto-group-f1v1-3iq {
    display: flex;
    width: 144rem;
    position: absolute;
    top: 42.6rem;
    left: 0;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2.527rem 22rem 60.2rem 22rem;
    height: 109rem;

    .group-225-Xtu {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 1.4729rem;
      width: 100%;
      row-gap: 2rem;
      align-items: center;

      .component-22-rwB {
        width: 100%;
        cursor: pointer;
        display: flex;
        background-color: #5fc789;
        border-radius: 0.7rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.9rem 75.3rem 0.9rem 3.9rem;
        align-items: center;

        .nama-PRK {
          letter-spacing: -0.0333rem;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 14.3rem;
          font-weight: 700;
          line-height: 1.2175;
          font-size: 1.8rem;
          flex-shrink: 0;
        }
        .item--tss {
          line-height: 1.2175;
          letter-spacing: -0.0333rem;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 700;
        }
      }
      .component-23-QLR {
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: 0.9rem 75.3rem 0.9rem 3.9rem;
        cursor: pointer;
        background-color: #5fc789;
        border-radius: 0.7rem;
        box-sizing: border-box;

        .email-wbF {
          flex-shrink: 0;
          margin-right: 14.6rem;
          font-size: 1.8rem;
          letter-spacing: -0.0333rem;
          color: #000000;
          white-space: nowrap;
          font-weight: 700;
          line-height: 1.2175;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .item--G7j {
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.2175;
          letter-spacing: -0.0333rem;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .component-24-yXw {
        width: 100%;
        align-items: center;
        flex-shrink: 0;
        display: flex;
        background-color: #5fc789;
        border-radius: 0.7rem;
        box-sizing: border-box;
        padding: 0.9rem 75.3rem 0.9rem 3.9rem;
        cursor: pointer;

        .no-hp-WXs {
          color: #000000;
          flex-shrink: 0;
          margin-right: 14rem;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.2175;
          letter-spacing: -0.0333rem;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item--3Gu {
          line-height: 1.2175;
          letter-spacing: -0.0333rem;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 700;
        }
      }
      .component-25-xem {
        box-sizing: border-box;
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0.9rem 75.3rem 0.9rem 3.9rem;
        background-color: #5fc789;
        border-radius: 0.7rem;
        flex-shrink: 0;

        .tanggal-kunjungan-6FB {
          font-size: 1.8rem;
          line-height: 1.2175;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          margin-right: 1.8rem;
          font-weight: 700;
          letter-spacing: -0.0333rem;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item--DKo {
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.2175;
          letter-spacing: -0.0333rem;
        }
      }
    }
    .group-228-wFo {
      flex-shrink: 0;
      margin-bottom: 1rem;
      width: 100%;
      height: 4.5rem;
      position: relative;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

      .group-63-sfF {
        width: 100rem;
        height: 4rem;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 0.7rem;

        .group-62-2HF {
          border-radius: 0.7rem;
          box-sizing: border-box;
          padding: 0.8rem 75.5rem 1rem 3.7rem;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          background-color: #5fc789;

          .jam-booking-kyw {
            line-height: 1.2175;
            color: #000000;
            font-weight: 700;
            letter-spacing: -0.0333rem;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 7.7rem;
            font-size: 1.8rem;
          }
          .item--VAq {
            font-weight: 700;
            line-height: 1.2175;
            letter-spacing: -0.0333rem;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
          }
        }
      }
      .drop-pilih-no-meja-bzZ {
        cursor: pointer;
        position: absolute;
        left: 25rem;
        top: 0;
        width: 15.7rem;
        height: 4.5rem;
      }
    }
    .group-227-i3b {
      margin-bottom: 7.8rem;
      width: 100%;
      height: 4.5rem;
      position: relative;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;

      .group-63-TWy {
        left: 0;
        top: 0;
        border-radius: 0.7rem;
        width: 100rem;
        height: 4rem;
        position: absolute;

        .group-62-Qh7 {
          height: 100%;
          display: flex;
          align-items: center;
          background-color: #5fc789;
          border-radius: 0.7rem;
          box-sizing: border-box;
          padding: 0.8rem 75.5rem 1rem 3.7rem;
          width: 100%;

          .no-meja-M6Z {
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 1.2175;
            letter-spacing: -0.0333rem;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 11.9rem;
          }
          .item--gPj {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.2175;
            letter-spacing: -0.0333rem;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .drop-pilih-no-meja-aV7 {
        height: 4.5rem;
        cursor: pointer;
        position: absolute;
        left: 25rem;
        top: 0;
        box-sizing: border-box;
        padding: 0.8rem 0rem 0.8rem 1.6rem;
        width: 15.7rem;

        .huge-tab-6CZ {
          flex-direction: column;
          width: 100%;
          height: 100%;
          align-items: center;
          display: flex;

          .name-eUy {
            align-items: center;
            flex-shrink: 0;
            width: 100%;
            height: 2.6rem;
            display: flex;

            .auto-group-qbtd-cAu {
              display: flex;
              font-weight: 700;
              color: #696f79;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              align-items: center;
              margin-right: 0.8rem;
              height: 100%;
              justify-content: center;
              line-height: 1.4000000424;
              flex-shrink: 0;
              width: 12.4rem;
              font-size: 1.8rem;
            }
            .polygon-UU1 {
              height: 0.9rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 0.9rem;
            }
          }
          .underline-cq7 {
            position: relative;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 0.3rem;
            width: 100%;
            height: 0.3rem;
            overflow: hidden;

            .underline-mT7 {
              height: 0.3rem;
              background-color: #000000;
              width: 19.8rem;
            }
          }
        }
      }
    }
    .group-68-6EV {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 0.7rem;
      flex-shrink: 0;
      margin: 0 25rem;
      width: calc(100% - 50rem);
      height: 5rem;
      cursor: pointer;

      .group-63-dkD {
        width: 100%;
        height: 100%;
        border-radius: 0.7rem;

        .group-62-zam {
          height: 100%;
          text-align: center;
          font-family: Montserrat, 'Source Sans Pro';
          background-color: #5fc789;
          font-size: 2.2rem;
          font-weight: 700;
          display: flex;
          justify-content: center;
          width: 100%;
          letter-spacing: -0.0333rem;
          white-space: nowrap;
          align-items: center;
          line-height: 1.2175;
          color: #000000;
          border-radius: 0.7rem;
        }
      }
    }
  }
  .auto-group-9csm-qrH {
    background: linear-gradient(180deg, #bdbdbd -0%, rgba(233, 233, 233, 0) 100%);
    padding: 8.3rem 0rem 0.15rem 0rem;
    width: 144rem;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 24rem;
    top: 7.8rem;
    align-items: center;

    .auto-group-jkxp-kTT {
      margin: 0rem 42.8rem 8rem 56.8rem;
      width: calc(100% - 99.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .booking-1-sny {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.6rem;
        width: 7.5rem;
        height: 7.5rem;
      }
      .booking-meja-kafe-DM3 {
        margin-bottom: 0.2rem;
        text-align: right;
        font-size: 3.8rem;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-weight: 600;
        letter-spacing: -0.0333rem;
        color: #2e3a59;
      }
    }
    .line-1-7hK {
      width: 100%;
      height: 0.05rem;
      background-color: rgba(0, 0, 0, 0.400000006);
      flex-shrink: 0;
    }
  }
  .isi-data-dengan-benar-pbj {
    top: 39.5rem;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: -0.0333rem;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    width: 27.1rem;
    height: 3.1rem;
    position: absolute;
    left: 58.4258rem;
    font-weight: 500;
    line-height: 1.2175;
    color: #000000;
  }
  .group-178-WjT {
    height: 8rem;
    top: 0;
    display: flex;
    background: linear-gradient(90.62deg, #5fc789 41.36%, #8adf48 83.59%);
    box-sizing: border-box;
    padding: 2.4rem 38.1rem 1rem 56.87rem;
    width: 145.2rem;
    position: absolute;
    left: 0;
    align-items: center;

    .rectangle-99-R5j {
      margin: 0rem 0.563rem 0.536rem 0rem;
      width: 8.0667rem;
      height: 2.2353rem;
      border-radius: 2rem;
      flex-shrink: 0;
    }
    .enterprise-default-js7 {
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      box-sizing: border-box;
      padding: 0.8rem 0rem 0.8rem 1.6rem;
      width: 13.3rem;
      height: 4.5rem;
      cursor: pointer;

      .huge-tab-ez5 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .name-1pd {
          width: 100%;
          height: 2.6rem;
          flex-shrink: 0;

          .auto-group-8g4z-BUD {
            margin-right: 6.3rem;
            width: 5.4rem;
            height: 100%;
            font-size: 1.8rem;
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            display: flex;
            font-weight: 700;
            line-height: 1.4000000424;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
          }
        }
        .underline-5Zb {
          box-sizing: border-box;
          padding-top: 0.3rem;
          width: 5.4rem;
          height: 0.3rem;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .underline-RNZ {
            background-color: #000000;
            width: 11.1rem;
            height: 0.3rem;
          }
        }
      }
    }
    .drop-jelajahi-mBX {
      width: 10.7rem;
      height: 4.5rem;
      cursor: pointer;
      flex-shrink: 0;
      margin: 0.1rem 4.9rem 0rem 0rem;
      box-sizing: border-box;
      padding: 0.8rem 0.7rem 0.8rem 1.6rem;

      .huge-tab-4gR {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .name-auf {
          width: 100%;
          height: 2.6rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-oiqr-8wB {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.8rem;
            width: 6.7rem;
            height: 100%;
            line-height: 1.4000000424;
            font-family: Open Sans, 'Source Sans Pro';
            align-items: center;
            justify-content: center;
            display: flex;
            font-size: 1.8rem;
            font-weight: 700;
            color: #000000;
          }
          .polygon-e8q {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 0.9rem;
            height: 0.9rem;
          }
        }
        .underline-aHP {
          box-sizing: border-box;
          padding-top: 0.3rem;
          width: 100%;
          height: 0.3rem;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .underline-vc9 {
            width: 14.1rem;
            height: 0.3rem;
            background-color: #000000;
          }
        }
      }
    }
    .drop-reservasi-5V3 {
      cursor: pointer;
      flex-shrink: 0;
      margin-top: 0.1rem;
      box-sizing: border-box;
      padding: 0.8rem 0.8rem 0.8rem 1.6rem;
      width: 12.7rem;
      height: 4.5rem;

      .huge-tab-bTP {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .name-xHw {
          height: 2.6rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;

          .auto-group-tc4h-iY1 {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.4000000424;
            color: #eeeeee;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            width: 8.6rem;
            height: 100%;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            margin-right: 0.8rem;
          }
          .polygon-2Ho {
            flex-shrink: 0;
            width: 0.9rem;
            height: 0.9rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .underline-a4R {
          box-sizing: border-box;
          padding-top: 0.3rem;
          width: 100%;
          height: 0.3rem;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .underline-8Lq {
            width: 16rem;
            height: 0.3rem;
            background-color: #000000;
          }
        }
      }
    }
  }
  .enterprise-default-doP {
    width: 13.3rem;
    height: 4.5rem;
    cursor: pointer;
    position: absolute;
    left: 110.8rem;
    top: 2.3rem;
    box-sizing: border-box;
    padding: 0.8rem 0rem 0.8rem 1.6rem;

    .huge-tab-9Wq {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .name-WcH {
        width: 100%;
        height: 2.6rem;
        flex-shrink: 0;

        .auto-group-iz3f-5QV {
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          justify-content: center;
          display: flex;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.4000000424;
          align-items: center;
          margin-right: 2.9rem;
          width: 8.8rem;
          height: 100%;
          color: #000000;
        }
      }
      .underline-NuP {
        width: 8.8rem;
        height: 0.3rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 0.3rem;

        .underline-7ry {
          width: 14.5rem;
          height: 0.3rem;
          background-color: #000000;
        }
      }
    }
  }
  .enterprise-default-s5T {
    top: 2.3rem;
    box-sizing: border-box;
    padding: 0.8rem 0rem 0.8rem 1.6rem;
    width: 13.3rem;
    height: 4.5rem;
    cursor: pointer;
    position: absolute;
    left: 125rem;

    .huge-tab-yeH {
      height: 100%;
      display: flex;
      flex-direction: column;
      width: 100%;

      .name-wr1 {
        width: 100%;
        height: 2.6rem;
        flex-shrink: 0;

        .auto-group-deau-7Eh {
          display: flex;
          font-size: 1.8rem;
          line-height: 1.4000000424;
          white-space: nowrap;
          justify-content: center;
          font-family: Open Sans, 'Source Sans Pro';
          align-items: center;
          margin-right: 6.8rem;
          width: 4.9rem;
          height: 100%;
          font-weight: 700;
          color: #000000;
        }
      }
      .underline-cx9 {
        height: 0.3rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 0.3rem;
        width: 4.9rem;

        .underline-xm7 {
          width: 10.6rem;
          height: 0.3rem;
          background-color: #000000;
        }
      }
    }
  }
  .desain-tanpa-judul202310110538060000-1-1-iEV {
    background-size: 147.154% 222.727%;
    background-position: -3.622rem -5.1545rem;
    background-image: url('REPLACE_IMAGE:41f25ba5202578893837c6b9cb83d7d0d015a6ff');
    width: 13.5rem;
    height: 8.4rem;
    position: relative;
    left: 6.7rem;
    top: 0;
  }
}
