
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.menu-jelajah-bukit-inD {
  background-color: #e4e4e4;
  width: 100%;
  height: 206rem;
  position: relative;
  overflow: hidden;

  .auto-group-wf3f-TUu {
    padding: 13rem 8.1rem 14.984rem 7.4rem;
    height: 164rem;
    left: 0;
    top: 0;
    align-items: center;
    box-sizing: border-box;
    width: 144rem;
    position: absolute;
    display: flex;
    flex-direction: column;

    .kolam-renang-1-xAm {
      flex-shrink: 0;
      margin-bottom: 2.9791rem;
      width: 128.5rem;
      height: 59rem;
      position: relative;
      background-size: 100% 122.511%;
      background-position: 0.2005rem -12.6542rem;
      background-image: url('REPLACE_IMAGE:230230890e0a762afdd22b2e71f3c54195d83fde');
    }
    .group-211-Srd {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      border-radius: 0.6rem;
      flex-shrink: 0;

      .area-keluarga-Cqo {
        font-size: 3.5rem;
        line-height: 1.5;
        margin: 0rem 0rem 4.421rem 0.7rem;
        text-align: center;
        font-weight: 600;
        letter-spacing: 0.2rem;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-aaad-h1s {
        width: 100%;
        background-color: #95d3ae;
        border-radius: 0.6rem;
        flex-shrink: 0;
        margin-bottom: 5rem;
        box-sizing: border-box;
        padding: 3.6rem 5.3rem 1.1rem 5.1rem;

        .informasi-di-lereng-bukit-panyangrayan-terdapat-sebuah-area-keluarga-yang-menarik-yaitu-kolam-renang-area-ini-menjadi-tempat-favorit-bagi-keluarga-di-sekitar-desa-setiap-akhir-pekan-mereka-berkumpul-di-sini-untuk-bersenang-senang-air-kolam-yang-jernih-mengundang-anak-anak-bermain-air-sementara-orang-dewasa-dapat-bersantai-di-pinggiran-kolam-pemandangan-bukit-yang-indah-dan-langit-senja-yang-memukau-membuat-tempat-ini-istimewa-di-malam-hari-api-unggun-dan-cerita-bersama-di-bawah-bintang-bintang-mengisi-suasana-dengan-kehangatan-dan-kenangan-tak-terlupakan-tempat-ini-adalah-tempat-istimewa-bagi-keluarga-dan-teman-teman-untuk-menciptakan-momen-momen-berharga-bersama-area-keluarga-di-bukit-panyangrayan-dengan-kolam-renangnya-adalah-tempat-yang-memikat-semua-pengunjung-suasana-yang-riang-dan-damai-membuat-setiap-kunjungan-menjadi-momen-yang-dinantikan-dengan-pemandangan-alam-yang-indah-dan-suasana-yang-hangat-bukit-ini-telah-menjadi-tempat-spesial-bagi-mereka-yang-mencari-kesenangan-dan-kebahagiaan-bersama-orang-yang-mereka-cintai-tempat-ini-adalah-tempat-yang-mempromosikan-persaudaraan-bersama-sama-menciptakan-kenangan-yang-akan-selalu-diingat-RCm {
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          max-width: 118.1rem;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.2175;
          letter-spacing: 0.15rem;

          .informasi-di-lereng-bukit-panyangrayan-terdapat-sebuah-area-keluarga-yang-menarik-yaitu-kolam-renang-area-ini-menjadi-tempat-favorit-bagi-keluarga-di-sekitar-desa-setiap-akhir-pekan-mereka-berkumpul-di-sini-untuk-bersenang-senang-air-kolam-yang-jernih-mengundang-anak-anak-bermain-air-sementara-orang-dewasa-dapat-bersantai-di-pinggiran-kolam-pemandangan-bukit-yang-indah-dan-langit-senja-yang-memukau-membuat-tempat-ini-istimewa-di-malam-hari-api-unggun-dan-cerita-bersama-di-bawah-bintang-bintang-mengisi-suasana-dengan-kehangatan-dan-kenangan-tak-terlupakan-tempat-ini-adalah-tempat-istimewa-bagi-keluarga-dan-teman-teman-untuk-menciptakan-momen-momen-berharga-bersama-area-keluarga-di-bukit-panyangrayan-dengan-kolam-renangnya-adalah-tempat-yang-memikat-semua-pengunjung-suasana-yang-riang-dan-damai-membuat-setiap-kunjungan-menjadi-momen-yang-dinantikan-dengan-pemandangan-alam-yang-indah-dan-suasana-yang-hangat-bukit-ini-telah-menjadi-tempat-spesial-bagi-mereka-yang-mencari-kesenangan-dan-kebahagiaan-bersama-orang-yang-mereka-cintai-tempat-ini-adalah-tempat-yang-mempromosikan-persaudaraan-bersama-sama-menciptakan-kenangan-yang-akan-selalu-diingat-RCm-sub-0 {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.2175;
            letter-spacing: 0.15rem;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .informasi-di-lereng-bukit-panyangrayan-terdapat-sebuah-area-keluarga-yang-menarik-yaitu-kolam-renang-area-ini-menjadi-tempat-favorit-bagi-keluarga-di-sekitar-desa-setiap-akhir-pekan-mereka-berkumpul-di-sini-untuk-bersenang-senang-air-kolam-yang-jernih-mengundang-anak-anak-bermain-air-sementara-orang-dewasa-dapat-bersantai-di-pinggiran-kolam-pemandangan-bukit-yang-indah-dan-langit-senja-yang-memukau-membuat-tempat-ini-istimewa-di-malam-hari-api-unggun-dan-cerita-bersama-di-bawah-bintang-bintang-mengisi-suasana-dengan-kehangatan-dan-kenangan-tak-terlupakan-tempat-ini-adalah-tempat-istimewa-bagi-keluarga-dan-teman-teman-untuk-menciptakan-momen-momen-berharga-bersama-area-keluarga-di-bukit-panyangrayan-dengan-kolam-renangnya-adalah-tempat-yang-memikat-semua-pengunjung-suasana-yang-riang-dan-damai-membuat-setiap-kunjungan-menjadi-momen-yang-dinantikan-dengan-pemandangan-alam-yang-indah-dan-suasana-yang-hangat-bukit-ini-telah-menjadi-tempat-spesial-bagi-mereka-yang-mencari-kesenangan-dan-kebahagiaan-bersama-orang-yang-mereka-cintai-tempat-ini-adalah-tempat-yang-mempromosikan-persaudaraan-bersama-sama-menciptakan-kenangan-yang-akan-selalu-diingat-RCm-sub-1 {
          }
          .informasi-di-lereng-bukit-panyangrayan-terdapat-sebuah-area-keluarga-yang-menarik-yaitu-kolam-renang-area-ini-menjadi-tempat-favorit-bagi-keluarga-di-sekitar-desa-setiap-akhir-pekan-mereka-berkumpul-di-sini-untuk-bersenang-senang-air-kolam-yang-jernih-mengundang-anak-anak-bermain-air-sementara-orang-dewasa-dapat-bersantai-di-pinggiran-kolam-pemandangan-bukit-yang-indah-dan-langit-senja-yang-memukau-membuat-tempat-ini-istimewa-di-malam-hari-api-unggun-dan-cerita-bersama-di-bawah-bintang-bintang-mengisi-suasana-dengan-kehangatan-dan-kenangan-tak-terlupakan-tempat-ini-adalah-tempat-istimewa-bagi-keluarga-dan-teman-teman-untuk-menciptakan-momen-momen-berharga-bersama-area-keluarga-di-bukit-panyangrayan-dengan-kolam-renangnya-adalah-tempat-yang-memikat-semua-pengunjung-suasana-yang-riang-dan-damai-membuat-setiap-kunjungan-menjadi-momen-yang-dinantikan-dengan-pemandangan-alam-yang-indah-dan-suasana-yang-hangat-bukit-ini-telah-menjadi-tempat-spesial-bagi-mereka-yang-mencari-kesenangan-dan-kebahagiaan-bersama-orang-yang-mereka-cintai-tempat-ini-adalah-tempat-yang-mempromosikan-persaudaraan-bersama-sama-menciptakan-kenangan-yang-akan-selalu-diingat-RCm-sub-2 {
            line-height: 1.2175;
            letter-spacing: 0.15rem;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 500;
          }
        }
      }
      .group-84-jiZ {
        flex-shrink: 0;
        margin-right: 48.0077rem;
        box-sizing: border-box;
        padding: 2.886rem 3.3rem 3.43rem 3.3rem;
        width: 80.4923rem;
        background-color: #95d3ae;
        border-radius: 0.6rem;

        .objek-wisata-kolam-renang-buka-pukul-0900-wib-1600-wib-harga--2hf {
          font-family: Montserrat, 'Source Sans Pro';
          max-width: 39.6rem;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.2175;
          letter-spacing: -0.0333rem;
          color: #000000;
        }
      }
    }
  }
  .group-210-VLM {
    width: 144.3rem;
    height: 42rem;
    position: absolute;
    left: 0;
    top: 164rem;

    .rectangle-29-b8V {
      width: 144.3rem;
      height: 41.4rem;
      position: absolute;
      left: 0;
      top: 0.6rem;
      background-color: #378635;
    }
    .line-11-KqB {
      background-color: #ffffff;
      width: 130rem;
      height: 0.1rem;
      position: absolute;
      left: 7.3rem;
      top: 19.9rem;
    }
    .instagram-4-1-esT {
      object-fit: cover;
      vertical-align: top;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 8rem;
      top: 12.5rem;
    }
    .facebook-3-1-kvV {
      top: 12.5rem;
      object-fit: cover;
      vertical-align: top;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 13rem;
    }
    .area-kafe-tmo {
      width: 6.9rem;
      height: 2.1rem;
      cursor: pointer;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      letter-spacing: 0.015rem;
      position: absolute;
      left: 66.3rem;
      top: 30.3rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.3625;
    }
    .area-keluarga-zK3 {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.3625;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      width: 10rem;
      height: 2.1rem;
      position: absolute;
      white-space: nowrap;
      left: 66.3rem;
      top: 27.7rem;
      letter-spacing: 0.015rem;
    }
    .area-foto-VWh {
      height: 2.1rem;
      top: 32.9rem;
      font-size: 1.5rem;
      line-height: 1.3625;
      font-weight: 400;
      letter-spacing: 0.015rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      width: 6.9rem;
      cursor: pointer;
      position: absolute;
      left: 66.3rem;
      white-space: nowrap;
    }
    .camping-ground-bpd {
      height: 2.1rem;
      cursor: pointer;
      left: 66.3rem;
      line-height: 1.3625;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      width: 12.2rem;
      position: absolute;
      top: 35.2rem;
      font-size: 1.5rem;
      font-weight: 400;
      letter-spacing: 0.015rem;
    }
    .booking-tiket-Wwb {
      font-family: Open Sans, 'Source Sans Pro';
      height: 2.1rem;
      cursor: pointer;
      font-size: 1.5rem;
      line-height: 1.3625;
      letter-spacing: 0.015rem;
      color: #ffffff;
      width: 9.7rem;
      position: absolute;
      left: 95.5rem;
      top: 27.5rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .booking-kafe-2f3 {
      line-height: 1.3625;
      color: #ffffff;
      width: 9.4rem;
      height: 2.1rem;
      position: absolute;
      left: 95.5rem;
      top: 30.1rem;
      font-weight: 400;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      cursor: pointer;
      font-size: 1.5rem;
      letter-spacing: 0.015rem;
    }
    .foto-JsT {
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      width: 3.2rem;
      cursor: pointer;
      top: 27.6rem;
      font-size: 1.5rem;
      line-height: 1.3625;
      white-space: nowrap;
      height: 2.1rem;
      position: absolute;
      left: 84rem;
      font-weight: 400;
      letter-spacing: 0.015rem;
    }
    .video-dPw {
      cursor: pointer;
      left: 84rem;
      top: 30.2rem;
      font-size: 1.5rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      width: 4.1rem;
      height: 2.1rem;
      line-height: 1.3625;
      letter-spacing: 0.015rem;
      white-space: nowrap;
      position: absolute;
      font-weight: 400;
    }
    .berita-Lp9 {
      position: absolute;
      top: 27.5rem;
      font-weight: 400;
      letter-spacing: 0.015rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      height: 2.1rem;
      cursor: pointer;
      font-size: 1.5rem;
      line-height: 1.3625;
      white-space: nowrap;
      width: 4.3rem;
      left: 109.7rem;
    }
    .event-FgD {
      white-space: nowrap;
      width: 4rem;
      height: 2.1rem;
      letter-spacing: 0.015rem;
      font-family: Open Sans, 'Source Sans Pro';
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.3625;
      color: #ffffff;
      cursor: pointer;
      position: absolute;
      left: 109.7rem;
      top: 30.1rem;
    }
    .hotel-Mz9 {
      white-space: nowrap;
      cursor: pointer;
      position: absolute;
      left: 122.5rem;
      font-size: 1.5rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      width: 3.9rem;
      height: 2.1rem;
      top: 27.5rem;
      line-height: 1.3625;
      letter-spacing: 0.015rem;
    }
    .restoran-4tZ {
      height: 2.1rem;
      position: absolute;
      font-size: 1.5rem;
      letter-spacing: 0.015rem;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      color: #ffffff;
      width: 6.5rem;
      cursor: pointer;
      left: 122.5rem;
      top: 30.1rem;
      font-weight: 400;
      line-height: 1.3625;
    }
    .wisata-ZqK {
      line-height: 1.3625;
      width: 4.8rem;
      height: 2.1rem;
      cursor: pointer;
      position: absolute;
      left: 122.5rem;
      top: 32.7rem;
      font-weight: 400;
      letter-spacing: 0.015rem;
      white-space: nowrap;
      font-size: 1.5rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .whatsapp-2-1-UhP {
      top: 12.5rem;
      object-fit: cover;
      vertical-align: top;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 18rem;
    }
    .group-32-bX7 {
      box-sizing: border-box;
      padding-left: 0.187rem;
      width: 47.0796rem;
      height: 10.2167rem;
      position: absolute;
      left: 7.3rem;
      top: 25.4rem;

      .auto-group-62em-Wty {
        width: 100%;
        display: flex;
        align-items: flex-end;
        margin-bottom: 1.202rem;

        .pin-fWy {
          margin-right: 1.5618rem;
          width: 2.4308rem;
          height: 2.6042rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .kecamatan-sukaraja-kabupaten-tasikmalaya-jawa-barat-46183-QUZ {
          font-weight: 400;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.0398rem;
          font-size: 1.5rem;
          line-height: 1.3625;
          letter-spacing: -0.0333rem;
          flex-shrink: 0;
        }
      }
      .auto-group-vmhj-6cH {
        margin: 0rem 18.68rem 1.202rem 0rem;
        width: calc(100% - 18.6796rem);
        display: flex;
        align-items: flex-end;

        .email-dcD {
          margin-right: 1.5822rem;
          width: 2.4308rem;
          height: 2.6042rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .akbarsaepulrizal120404gmailcom-a1f {
          margin-bottom: 0.1104rem;
          line-height: 1.3625;
          letter-spacing: -0.0333rem;
          color: #ffffff;
          flex-shrink: 0;
          font-size: 1.5rem;
          font-weight: 400;
          text-decoration-line: underline;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-17mb-sWZ {
        margin-right: 31rem;
        width: calc(100% - 31rem);
        display: flex;
        align-items: center;

        .phone-call-1-28Z {
          height: 2.6042rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.5618rem;
          width: 2.4308rem;
        }
        .item-62-81510941558-AEm {
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.3625;
          color: #ffffff;
          margin-bottom: 0.2493rem;
          letter-spacing: -0.0333rem;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .jelajahi-bukit-fxD {
      width: 10.2rem;
      height: 2.1rem;
      line-height: 1.3625;
      color: #ffffff;
      cursor: pointer;
      position: absolute;
      left: 66.4rem;
      top: 25.1rem;
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 0.015rem;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
    .galeri-BQm {
      width: 4.6rem;
      position: absolute;
      top: 25.1rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: #ffffff;
      white-space: nowrap;
      height: 2.1rem;
      cursor: pointer;
      left: 84rem;
      line-height: 1.3625;
      letter-spacing: 0.015rem;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .rekomendasi-tpy {
      left: 122.5rem;
      line-height: 1.3625;
      letter-spacing: 0.015rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      width: 10.4rem;
      position: absolute;
      top: 25.1rem;
      font-size: 1.5rem;
      font-weight: 700;
      height: 2.1rem;
      cursor: pointer;
    }
    .desain-tanpa-judul202310110538060000-1-1-QoK {
      height: 11.9rem;
      position: absolute;
      left: 1.6rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 26.8rem;
    }
    .informasi-8jK {
      height: 2.1rem;
      cursor: pointer;
      position: absolute;
      font-size: 1.5rem;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      color: #ffffff;
      width: 7.4rem;
      left: 109.7rem;
      top: 25.1rem;
      font-weight: 700;
      line-height: 1.3625;
      letter-spacing: 0.015rem;
    }
    .reservasi-TWh {
      top: 25.1rem;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      left: 95.5rem;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.3625;
      width: 7.3rem;
      height: 2.1rem;
      cursor: pointer;
      position: absolute;
      letter-spacing: 0.015rem;
      color: #ffffff;
    }
  }
  .group-178-Avu {
    box-sizing: border-box;
    padding: 2.5rem 38.1rem 1rem 56.87rem;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 145.2rem;
    height: 8rem;
    align-items: center;
    background: linear-gradient(90.62deg, #5fc789 41.36%, #8adf48 83.59%);

    .rectangle-99-5ny {
      margin: 0rem 2.163rem 0.636rem 0rem;
      width: 8.0667rem;
      height: 2.2353rem;
      border-radius: 2rem;
      flex-shrink: 0;
    }
    .huge-tab-DPP {
      margin: 0.7rem 0rem 0.9rem 0rem;
      width: 11.7rem;
      height: calc(100% - 1.6rem);
      flex-shrink: 0;

      .name-929 {
        width: 100%;
        height: 2.6rem;

        .auto-group-otcv-6xy {
          font-size: 1.8rem;
          font-weight: 700;
          margin-right: 6.3rem;
          height: 100%;
          display: flex;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          width: 5.4rem;
          line-height: 1.4000000424;
          color: #000000;
        }
      }
      .underline-1KF {
        width: 5.4rem;
        height: 0.3rem;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        padding-top: 0.3rem;

        .underline-Ya5 {
          width: 11.1rem;
          height: 0.3rem;
          background-color: #000000;
        }
      }
    }
    .drop-jelajahi-H1s {
      width: 10.7rem;
      height: 100%;
      cursor: pointer;
      flex-shrink: 0;
      margin-right: 4.9rem;
      box-sizing: border-box;
      padding: 0.8rem 0.7rem 0.8rem 1.6rem;

      .huge-tab-aWm {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .name-vqX {
          width: 100%;
          height: 2.6rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-v5rq-5iR {
            display: flex;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            margin-right: 0.8rem;
            width: 6.7rem;
            height: 100%;
            color: #eeeeee;
            justify-content: center;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.4000000424;
          }
          .polygon-BFf {
            width: 0.9rem;
            height: 0.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .underline-7f7 {
          box-sizing: border-box;
          padding-top: 0.3rem;
          width: 100%;
          height: 0.3rem;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .underline-GH7 {
            width: 14.1rem;
            height: 0.3rem;
            background-color: #000000;
          }
        }
      }
    }
    .drop-reservasi-DCM {
      box-sizing: border-box;
      padding: 0.8rem 0.8rem 0.8rem 1.6rem;
      width: 12.7rem;
      height: 100%;
      cursor: pointer;
      flex-shrink: 0;

      .huge-tab-9Lu {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;

        .name-uL5 {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          height: 2.6rem;

          .auto-group-kxvd-FPw {
            width: 8.6rem;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            margin-right: 0.8rem;
            height: 100%;
            display: flex;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.4000000424;
            white-space: nowrap;
          }
          .polygon-xJM {
            width: 0.9rem;
            height: 0.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .underline-6vM {
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 0.3rem;
          width: 100%;
          height: 0.3rem;

          .underline-red {
            width: 16rem;
            height: 0.3rem;
            background-color: #000000;
          }
        }
      }
    }
  }
  .enterprise-default-a4q {
    height: 4.5rem;
    cursor: pointer;
    position: absolute;
    left: 110.8rem;
    top: 2.3rem;
    box-sizing: border-box;
    padding: 0.8rem 0rem 0.8rem 1.6rem;
    width: 13.3rem;

    .huge-tab-t5X {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .name-qmT {
        width: 100%;
        height: 2.6rem;
        flex-shrink: 0;

        .auto-group-swgm-c1X {
          height: 100%;
          font-weight: 700;
          line-height: 1.4000000424;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          justify-content: center;
          margin-right: 2.9rem;
          display: flex;
          font-size: 1.8rem;
          color: #000000;
          align-items: center;
          width: 8.8rem;
        }
      }
      .underline-7iy {
        box-sizing: border-box;
        padding-top: 0.3rem;
        width: 8.8rem;
        height: 0.3rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .underline-fEh {
          width: 14.5rem;
          height: 0.3rem;
          background-color: #000000;
        }
      }
    }
  }
  .enterprise-default-Qi5 {
    left: 125rem;
    top: 2.3rem;
    box-sizing: border-box;
    padding: 0.8rem 0rem 0.8rem 1.6rem;
    width: 13.3rem;
    height: 4.5rem;
    cursor: pointer;
    position: absolute;

    .huge-tab-7sP {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .name-gQh {
        height: 2.6rem;
        flex-shrink: 0;
        width: 100%;

        .auto-group-ddeh-e6d {
          align-items: center;
          justify-content: center;
          width: 4.9rem;
          height: 100%;
          display: flex;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 6.8rem;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.4000000424;
        }
      }
      .underline-Yxh {
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 0.3rem;
        width: 4.9rem;
        height: 0.3rem;
        overflow: hidden;
        position: relative;

        .underline-hah {
          width: 10.6rem;
          height: 0.3rem;
          background-color: #000000;
        }
      }
    }
  }
  .desain-tanpa-judul202310110538060000-1-1-eVw {
    background-image: url('REPLACE_IMAGE:41f25ba5202578893837c6b9cb83d7d0d015a6ff');
    width: 13.5rem;
    height: 8.4rem;
    position: relative;
    left: 6.7rem;
    top: 0;
    background-size: 147.154% 222.727%;
    background-position: -3.622rem -5.1545rem;
  }
}
