
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.menu-reservasi-pesan-tiket-FMb {
  height: 137.9rem;
  position: relative;
  overflow: hidden;
  background-color: #e4e4e4;
  width: 100%;

  .auto-group-ytm3-y2h {
    box-sizing: border-box;
    padding: 15rem 12rem 12.2rem 11.1rem;
    width: 144rem;
    height: 95.9rem;
    position: absolute;
    left: 0;
    top: 0;

    .group-93-TiZ {
      background-image: url('REPLACE_IMAGE:f048290bd5bf2e9a3bbd88cb44242c2f50c0f491');
      margin: 0rem 0rem 8.1rem 0.9rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1000000015);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;

      .rectangle-45-ziV {
        height: 30rem;
        position: relative;
        background-size: 103.195% 228.186%;
        background-position: -0.4346rem -12.2559rem;
        background-image: url('REPLACE_IMAGE:6b7d080739f98d18f0e94d69bc2993daf46e82eb');
        width: 120rem;
      }
    }
    .booking-tiket-SqP {
      white-space: nowrap;
      margin: 0rem 0rem 2.6rem 0.9rem;
      font-size: 3rem;
      font-weight: 600;
      line-height: 1.2175;
      letter-spacing: -0.0333rem;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .di-bukit-panyangrayan-kami-telah-menyediakan-fitur-booking-tiket-online-untuk-kenyamanan-anda-booking-tiket-anda-dengan-mudah-dan-kunjungi-bukit-ini-tanpa-harus-antre-atau-khawatir-tiket-habis-nikmati-pengalaman-kunjungan-yang-lebih-praktis-dan-lancar-di-bukit-panyangrayan-dengan-booking-tiket-online-harga-rp-5000-tiket-MSZ {
      max-width: 114.9rem;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.2175;
      letter-spacing: -0.0333rem;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      margin: 0rem 0rem 8.7rem 0.9rem;
    }
    .auto-group-e3hk-8rd {
      width: calc(100% - 78.3rem);
      height: 4.6rem;
      display: flex;
      align-items: center;
      margin-right: 78.3rem;

      .auto-group-wzvz-frZ {
        justify-content: center;
        background-color: #d6ad60;
        border-radius: 2rem;
        border: solid 0.1rem #000000;
        font-weight: 700;
        line-height: 1.2175;
        white-space: nowrap;
        align-items: center;
        flex-shrink: 0;
        margin-right: 2.1rem;
        height: 100%;
        letter-spacing: -0.0333rem;
        width: 17rem;
        font-family: Montserrat, 'Source Sans Pro';
        box-sizing: border-box;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        font-size: 1.6rem;
        color: #000000;
        display: flex;
      }
      .atau-mau-reservasi-meja-kafe-fk5 {
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.2175;
        color: #000000;
        cursor: pointer;
        letter-spacing: -0.0333rem;
      }
    }
  }
  .group-210-NeV {
    height: 42rem;
    position: absolute;
    left: 0;
    top: 95.9rem;
    width: 144.3rem;

    .rectangle-29-5oo {
      height: 41.4rem;
      position: absolute;
      left: 0;
      top: 0.6rem;
      background-color: #378635;
      width: 144.3rem;
    }
    .line-11-RMs {
      position: absolute;
      left: 7rem;
      top: 19.9rem;
      background-color: #ffffff;
      width: 130rem;
      height: 0.1rem;
    }
    .instagram-4-1-YxH {
      object-fit: cover;
      vertical-align: top;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 7.7rem;
      top: 12.5rem;
    }
    .facebook-3-1-GdP {
      top: 12.5rem;
      object-fit: cover;
      vertical-align: top;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 12.7rem;
    }
    .area-kafe-Cmw {
      font-size: 1.5rem;
      font-weight: 400;
      color: #ffffff;
      cursor: pointer;
      height: 2.1rem;
      position: absolute;
      left: 66rem;
      top: 30.3rem;
      line-height: 1.3625;
      letter-spacing: 0.015rem;
      font-family: Open Sans, 'Source Sans Pro';
      width: 6.9rem;
      white-space: nowrap;
    }
    .area-keluarga-tuf {
      height: 2.1rem;
      position: absolute;
      line-height: 1.3625;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      letter-spacing: 0.015rem;
      color: #ffffff;
      width: 10rem;
      cursor: pointer;
      left: 66rem;
      top: 27.7rem;
      font-size: 1.5rem;
      font-weight: 400;
    }
    .area-foto-BnH {
      font-family: Open Sans, 'Source Sans Pro';
      width: 6.9rem;
      position: absolute;
      top: 32.9rem;
      font-size: 1.5rem;
      font-weight: 400;
      letter-spacing: 0.015rem;
      color: #ffffff;
      height: 2.1rem;
      cursor: pointer;
      left: 66rem;
      line-height: 1.3625;
      white-space: nowrap;
    }
    .camping-ground-tRo {
      position: absolute;
      top: 35.2rem;
      white-space: nowrap;
      height: 2.1rem;
      cursor: pointer;
      left: 66rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.3625;
      letter-spacing: 0.015rem;
      color: #ffffff;
      width: 12.2rem;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .booking-tiket-o2y {
      line-height: 1.3625;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.1rem;
      left: 95.2rem;
      font-size: 1.5rem;
      font-weight: 400;
      letter-spacing: 0.015rem;
      color: #ffffff;
      width: 9.7rem;
      position: absolute;
      top: 27.5rem;
    }
    .booking-kafe-urh {
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      width: 9.4rem;
      height: 2.1rem;
      left: 95.2rem;
      font-size: 1.5rem;
      line-height: 1.3625;
      color: #ffffff;
      cursor: pointer;
      position: absolute;
      top: 30.1rem;
      font-weight: 400;
      letter-spacing: 0.015rem;
    }
    .foto-R4M {
      height: 2.1rem;
      cursor: pointer;
      position: absolute;
      left: 83.7rem;
      font-size: 1.5rem;
      font-weight: 400;
      color: #ffffff;
      width: 3.2rem;
      font-family: Open Sans, 'Source Sans Pro';
      line-height: 1.3625;
      letter-spacing: 0.015rem;
      white-space: nowrap;
      top: 27.6rem;
    }
    .video-8jT {
      position: absolute;
      font-size: 1.5rem;
      line-height: 1.3625;
      color: #ffffff;
      white-space: nowrap;
      cursor: pointer;
      height: 2.1rem;
      left: 83.7rem;
      top: 30.2rem;
      font-weight: 400;
      letter-spacing: 0.015rem;
      font-family: Open Sans, 'Source Sans Pro';
      width: 4.1rem;
    }
    .berita-TFw {
      left: 109.4rem;
      font-size: 1.5rem;
      line-height: 1.3625;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      cursor: pointer;
      position: absolute;
      top: 27.5rem;
      font-weight: 400;
      letter-spacing: 0.015rem;
      width: 4.3rem;
      height: 2.1rem;
    }
    .event-mXX {
      width: 4rem;
      position: absolute;
      left: 109.4rem;
      top: 30.1rem;
      font-size: 1.5rem;
      line-height: 1.3625;
      letter-spacing: 0.015rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      height: 2.1rem;
      cursor: pointer;
      font-weight: 400;
      white-space: nowrap;
    }
    .hotel-5YD {
      font-weight: 400;
      line-height: 1.3625;
      color: #ffffff;
      width: 3.9rem;
      height: 2.1rem;
      font-size: 1.5rem;
      top: 27.5rem;
      letter-spacing: 0.015rem;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      cursor: pointer;
      position: absolute;
      left: 122.2rem;
    }
    .restoran-BbF {
      width: 6.5rem;
      left: 122.2rem;
      letter-spacing: 0.015rem;
      font-family: Open Sans, 'Source Sans Pro';
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.3625;
      color: #ffffff;
      height: 2.1rem;
      cursor: pointer;
      position: absolute;
      top: 30.1rem;
      white-space: nowrap;
    }
    .wisata-5gd {
      top: 32.7rem;
      font-size: 1.5rem;
      line-height: 1.3625;
      color: #ffffff;
      letter-spacing: 0.015rem;
      font-family: Open Sans, 'Source Sans Pro';
      width: 4.8rem;
      height: 2.1rem;
      cursor: pointer;
      position: absolute;
      left: 122.2rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .whatsapp-2-1-zHo {
      vertical-align: top;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 17.7rem;
      top: 12.5rem;
      object-fit: cover;
    }
    .group-32-ijb {
      position: absolute;
      left: 7rem;
      top: 25.4rem;
      box-sizing: border-box;
      padding-left: 0.187rem;
      width: 47.0796rem;
      height: 10.2167rem;

      .auto-group-gabb-e7T {
        margin-bottom: 1.202rem;
        width: 100%;
        display: flex;
        align-items: flex-end;

        .pin-Bt5 {
          margin-right: 1.5618rem;
          width: 2.4308rem;
          height: 2.6043rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .kecamatan-sukaraja-kabupaten-tasikmalaya-jawa-barat-46183-v4y {
          white-space: nowrap;
          margin-bottom: 0.0399rem;
          font-size: 1.5rem;
          letter-spacing: -0.0333rem;
          font-family: Open Sans, 'Source Sans Pro';
          font-weight: 400;
          line-height: 1.3625;
          color: #ffffff;
          flex-shrink: 0;
        }
      }
      .auto-group-ywwm-cTb {
        align-items: flex-end;
        margin: 0rem 18.68rem 1.202rem 0rem;
        width: calc(100% - 18.6796rem);
        display: flex;

        .email-XqT {
          flex-shrink: 0;
          margin-right: 1.5822rem;
          width: 2.4308rem;
          height: 2.6043rem;
          object-fit: cover;
          vertical-align: top;
        }
        .akbarsaepulrizal120404gmailcom-56H {
          margin-bottom: 0.1105rem;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.3625;
          color: #ffffff;
          white-space: nowrap;
          letter-spacing: -0.0333rem;
          text-decoration-line: underline;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .auto-group-prq7-Nr5 {
        margin-right: 31rem;
        width: calc(100% - 31rem);
        display: flex;
        align-items: center;

        .phone-call-1-KmK {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.5618rem;
          width: 2.4308rem;
          height: 2.6043rem;
        }
        .item-62-81510941558-fKP {
          white-space: nowrap;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.3625;
          letter-spacing: -0.0333rem;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          margin-bottom: 0.2493rem;
          flex-shrink: 0;
        }
      }
    }
    .jelajahi-bukit-ZvZ {
      cursor: pointer;
      top: 25.1rem;
      white-space: nowrap;
      left: 66.1rem;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.3625;
      letter-spacing: 0.015rem;
      width: 10.2rem;
      height: 2.1rem;
      position: absolute;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .galeri-Gpy {
      width: 4.6rem;
      cursor: pointer;
      position: absolute;
      top: 25.1rem;
      font-weight: 700;
      line-height: 1.3625;
      letter-spacing: 0.015rem;
      height: 2.1rem;
      left: 83.7rem;
      font-size: 1.5rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
    .rekomendasi-aam {
      position: absolute;
      font-weight: 700;
      line-height: 1.3625;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      width: 10.4rem;
      height: 2.1rem;
      cursor: pointer;
      left: 122.2rem;
      top: 25.1rem;
      font-size: 1.5rem;
      letter-spacing: 0.015rem;
    }
    .desain-tanpa-judul202310110538060000-1-1-5nR {
      vertical-align: top;
      width: 26.8rem;
      height: 11.9rem;
      position: absolute;
      left: 1.3rem;
      top: 0;
      object-fit: cover;
    }
    .informasi-Cc9 {
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.1rem;
      cursor: pointer;
      position: absolute;
      left: 109.4rem;
      top: 25.1rem;
      color: #ffffff;
      width: 7.4rem;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.3625;
      letter-spacing: 0.015rem;
    }
    .reservasi-uWZ {
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      width: 7.3rem;
      position: absolute;
      font-size: 1.5rem;
      line-height: 1.3625;
      letter-spacing: 0.015rem;
      height: 2.1rem;
      left: 95.2rem;
      top: 25.1rem;
      font-weight: 700;
      color: #ffffff;
    }
  }
  .group-178-DXF {
    box-sizing: border-box;
    width: 145.2rem;
    left: 0;
    display: flex;
    align-items: center;
    background: linear-gradient(90.62deg, #5fc789 41.36%, #8adf48 83.59%);
    padding: 2.4rem 38.1rem 1rem 56.87rem;
    height: 8rem;
    position: absolute;
    top: 0;

    .rectangle-99-88R {
      height: 2.2353rem;
      border-radius: 2rem;
      flex-shrink: 0;
      margin: 0rem 0.563rem 0.536rem 0rem;
      width: 8.0667rem;
    }
    .enterprise-default-eMf {
      padding: 0.8rem 0rem 0.8rem 1.6rem;
      width: 13.3rem;
      height: 4.5rem;
      cursor: pointer;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      box-sizing: border-box;

      .huge-tab-xt9 {
        flex-direction: column;
        width: 100%;
        height: 100%;
        display: flex;

        .name-v4H {
          flex-shrink: 0;
          width: 100%;
          height: 2.6rem;

          .auto-group-iqdf-Ubb {
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            margin-right: 6.3rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.4000000424;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            width: 5.4rem;
            height: 100%;
          }
        }
        .underline-mah {
          box-sizing: border-box;
          padding-top: 0.3rem;
          width: 5.4rem;
          height: 0.3rem;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .underline-iF3 {
            width: 11.1rem;
            height: 0.3rem;
            background-color: #000000;
          }
        }
      }
    }
    .drop-jelajahi-qKf {
      width: 10.7rem;
      height: 4.5rem;
      cursor: pointer;
      flex-shrink: 0;
      margin: 0.1rem 4.9rem 0rem 0rem;
      box-sizing: border-box;
      padding: 0.8rem 0.7rem 0.8rem 1.6rem;

      .huge-tab-jvq {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .name-6Fb {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          height: 2.6rem;

          .auto-group-1sok-SaM {
            font-size: 1.8rem;
            line-height: 1.4000000424;
            font-family: Open Sans, 'Source Sans Pro';
            align-items: center;
            flex-shrink: 0;
            height: 100%;
            width: 6.7rem;
            display: flex;
            font-weight: 700;
            color: #000000;
            white-space: nowrap;
            justify-content: center;
            margin-right: 0.8rem;
          }
          .polygon-kb3 {
            vertical-align: top;
            flex-shrink: 0;
            width: 0.9rem;
            height: 0.9rem;
            object-fit: contain;
          }
        }
        .underline-gzV {
          box-sizing: border-box;
          padding-top: 0.3rem;
          width: 100%;
          height: 0.3rem;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .underline-eAd {
            height: 0.3rem;
            background-color: #000000;
            width: 14.1rem;
          }
        }
      }
    }
    .drop-reservasi-zEV {
      margin-top: 0.1rem;
      box-sizing: border-box;
      padding: 0.8rem 0.8rem 0.8rem 1.6rem;
      width: 12.7rem;
      height: 4.5rem;
      cursor: pointer;
      flex-shrink: 0;

      .huge-tab-WCq {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;

        .name-U9f {
          width: 100%;
          height: 2.6rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-wxpm-dHT {
            line-height: 1.4000000424;
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 0.8rem;
            width: 8.6rem;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.8rem;
            font-weight: 700;
            color: #eeeeee;
            white-space: nowrap;
          }
          .polygon-LSm {
            width: 0.9rem;
            height: 0.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .underline-5fF {
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 0.3rem;
          width: 100%;
          height: 0.3rem;
          overflow: hidden;
          position: relative;

          .underline-qPX {
            width: 16rem;
            height: 0.3rem;
            background-color: #000000;
          }
        }
      }
    }
  }
  .enterprise-default-MMs {
    width: 13.3rem;
    height: 4.5rem;
    cursor: pointer;
    position: absolute;
    left: 110.8rem;
    top: 2.3rem;
    box-sizing: border-box;
    padding: 0.8rem 0rem 0.8rem 1.6rem;

    .huge-tab-Tvh {
      height: 100%;
      display: flex;
      flex-direction: column;
      width: 100%;

      .name-daH {
        width: 100%;
        height: 2.6rem;
        flex-shrink: 0;

        .auto-group-jhcm-akR {
          margin-right: 2.9rem;
          width: 8.8rem;
          font-weight: 700;
          color: #000000;
          justify-content: center;
          height: 100%;
          display: flex;
          font-size: 1.8rem;
          line-height: 1.4000000424;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
        }
      }
      .underline-tm7 {
        height: 0.3rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 0.3rem;
        width: 8.8rem;

        .underline-Ea5 {
          width: 14.5rem;
          height: 0.3rem;
          background-color: #000000;
        }
      }
    }
  }
  .enterprise-default-nLh {
    top: 2.3rem;
    box-sizing: border-box;
    padding: 0.8rem 0rem 0.8rem 1.6rem;
    width: 13.3rem;
    height: 4.5rem;
    cursor: pointer;
    position: absolute;
    left: 125rem;

    .huge-tab-hTf {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .name-Fzy {
        width: 100%;
        height: 2.6rem;
        flex-shrink: 0;

        .auto-group-tpkv-d6R {
          font-weight: 700;
          line-height: 1.4000000424;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          width: 4.9rem;
          height: 100%;
          font-size: 1.8rem;
          justify-content: center;
          margin-right: 6.8rem;
          display: flex;
          color: #000000;
        }
      }
      .underline-LFj {
        height: 0.3rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 0.3rem;
        width: 4.9rem;

        .underline-sWZ {
          width: 10.6rem;
          height: 0.3rem;
          background-color: #000000;
        }
      }
    }
  }
  .desain-tanpa-judul202310110538060000-1-1-R2H {
    background-position: -3.622rem -5.1545rem;
    background-image: url('REPLACE_IMAGE:41f25ba5202578893837c6b9cb83d7d0d015a6ff');
    width: 13.5rem;
    height: 8.4rem;
    position: relative;
    left: 6.7rem;
    top: 0;
    background-size: 147.154% 222.727%;
  }
}
