
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.menu-informasi-S97 {
  overflow: hidden;
  background-color: #e4e4e4;
  width: 100%;
  height: 278.7rem;
  position: relative;

  .auto-group-uxa1-ZDj {
    box-sizing: border-box;
    padding: 4.3rem 12.8rem 5.1rem 12rem;
    width: 144rem;
    height: 82.5rem;
    position: absolute;
    left: 0;
    top: 80rem;
    background-color: #d9d9d9;

    .group-221-3ub {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: center;

      .auto-group-hpjd-ods {
        width: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .berita-m4u {
          margin: 0rem 102.1rem 0.5rem 0rem;
          font-weight: 600;
          line-height: 1.2175;
          letter-spacing: 0.1rem;
          flex-shrink: 0;
          font-size: 3.2rem;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
        .see-all-32R {
          letter-spacing: -0.0333rem;
          color: #bc2b1c;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.2175;
        }
      }
      .auto-group-jyk1-mDK {
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 3.7rem;
        width: 100%;
        row-gap: 2.5rem;
        display: flex;

        .group-220-Vv1 {
          margin-right: 1.6099rem;
          width: calc(100% - 1.6099rem);
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .rectangle-42-eH7 {
            height: 20rem;
            position: relative;
            background-size: 169.142% 159.814%;
            border-radius: 0.6rem;
            width: 29.5293rem;
            background-position: -15.3275rem -5.9427rem;
            background-image: url('REPLACE_IMAGE:c1e042e9b35964f51f5cdddaa4cefe64db833fc8');
            flex-shrink: 0;
            margin-right: 2.3707rem;
          }
          .auto-group-1rjf-7wP {
            margin-top: 1.2rem;
            row-gap: 0.7rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-fmhk-4Lq {
              flex-shrink: 0;
              margin-left: 0.0901rem;
              display: flex;
              align-items: center;

              .post-by-admin-Cxq {
                font-size: 1.2rem;
                letter-spacing: -0.0333rem;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 1.7052rem;
                font-weight: 500;
                line-height: 1.2175;
                white-space: nowrap;
              }
              .ellipse-13-85o {
                margin: 0rem 0.52rem 0.061rem 0rem;
                width: 0.6242rem;
                height: 0.6236rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .agustus-2023-e49 {
                font-size: 1.2rem;
                font-weight: 500;
                line-height: 1.2175;
                letter-spacing: -0.0333rem;
                color: #939393;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .bendera-raksasa-berkibar-di-bukit-panyangrayan-tasikmalaya-AoB {
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.2rem;
              font-weight: 700;
              line-height: 1.2175;
              letter-spacing: -0.0333rem;
              color: #000000;
            }
            .bendera-raksasa-berkibar-di-bukit-panyangrayan-kabupaten-tasikmalaya-kegiatan-ini-masih-dalam-rangka-memperingati-hut-ke-78-ri-VKf {
              line-height: 1.2175;
              font-family: Montserrat, 'Source Sans Pro';
              margin-left: 0.0901rem;
              max-width: 85.6rem;
              font-weight: 500;
              flex-shrink: 0;
              font-size: 1.5rem;
              letter-spacing: 0.1rem;
              color: #000000;
            }
          }
        }
        .group-156-LbB {
          margin-right: 5.3rem;
          width: calc(100% - 5.3rem);
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .rectangle-42-VDB {
            height: 20rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.6rem;
            flex-shrink: 0;
            margin-right: 2.4525rem;
            width: 29.4302rem;
          }
          .auto-group-tqj7-1xD {
            flex-shrink: 0;
            margin-top: 1.2rem;
            display: flex;
            flex-direction: column;

            .auto-group-7aro-NGy {
              align-items: center;
              flex-shrink: 0;
              margin-bottom: 0.5rem;
              display: flex;

              .post-by-admin-vJV {
                font-family: Montserrat, 'Source Sans Pro';
                font-size: 1.2rem;
                font-weight: 500;
                letter-spacing: -0.0333rem;
                color: #000000;
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 1.6713rem;
                line-height: 1.2175;
              }
              .ellipse-13-rC9 {
                height: 0.6236rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 0.518rem 0.061rem 0rem;
                width: 0.6221rem;
              }
              .mei-2022-ATj {
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 500;
                line-height: 1.2175;
                letter-spacing: -0.0333rem;
                color: #939393;
              }
            }
            .pesona-bukit-panyangrayan-serasa-negeri-di-atas-awan-6cH {
              font-weight: 700;
              letter-spacing: -0.0333rem;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.9rem 0.117rem;
              font-size: 2.2rem;
              line-height: 1.2175;
              color: #000000;
            }
            .bukit-panyangrayan-terletak-di-tasikmalaya-bukit-ini-mampu-memikat-hati-para-pengunjung-dengan-pesona-alamnya-saking-indahnya-ada-yang-menjulukinya-sebagai-negeri-di-atas-awan-nED {
              font-weight: 500;
              line-height: 1.2175;
              letter-spacing: 0.1rem;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              margin-left: 0.1173rem;
              max-width: 81.9rem;
              font-size: 1.5rem;
              flex-shrink: 0;
            }
          }
        }
        .group-156-2PT {
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          margin-right: 2.4441rem;
          width: calc(100% - 2.4441rem);

          .rectangle-42-AkZ {
            border-radius: 0.6rem;
            flex-shrink: 0;
            margin-right: 2.4504rem;
            width: 29.4055rem;
            height: 20rem;
            object-fit: cover;
            vertical-align: top;
          }
          .auto-group-kve5-Vnq {
            flex-direction: column;
            flex-shrink: 0;
            margin-top: 1.2rem;
            display: flex;

            .auto-group-jttu-45F {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-bottom: 0.5rem;

              .post-by-admin-c6m {
                margin-right: 1.6628rem;
                font-weight: 500;
                line-height: 1.2175;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 1.2rem;
                letter-spacing: -0.0333rem;
                flex-shrink: 0;
              }
              .ellipse-13-8qo {
                width: 0.6215rem;
                height: 0.6236rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 0.518rem 0.061rem 0rem;
              }
              .oktober-2023-GSD {
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 500;
                line-height: 1.2175;
                letter-spacing: -0.0333rem;
                color: #939393;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .bukit-panyangrayan-tasikmalaya-info-lokasi-daya-tarik-dan-tips-zt1 {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.9rem 0.144rem;
              font-size: 2.2rem;
              font-weight: 700;
              line-height: 1.2175;
              color: #000000;
              letter-spacing: -0.0333rem;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .berbicara-wisata-alam-di-tasikmalaya-tidak-akan-ada-habisnya-kamu-bisa-menemukan-banyak-tempat-wisata-alam-yang-menarik-untuk-dikunjungi-tidak-hanya-gunung-dan-pantai-tasikmalaya-juga-punya-deretan-perbukitan-yang-menawarkan-pemandangan-memukau-dan-bisa-kamu-jadikan-tempat-rekreasi-bersama-keluarga-5uT {
              max-width: 84.9rem;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.2175;
              letter-spacing: 0.1rem;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
  .group-222-Ugh {
    width: 122.1203rem;
    height: 65.1rem;
    position: absolute;
    left: 12rem;
    top: 166.7rem;
    border-radius: 0.6rem;

    .auto-group-escr-cY1 {
      width: calc(100% - 2.9203rem);
      display: flex;
      align-items: flex-end;
      margin: 0rem 2.92rem 3.8rem 0rem;

      .event-jcd {
        letter-spacing: -0.0333rem;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 103.4rem;
        font-weight: 600;
        color: #000000;
        font-size: 3.2rem;
        line-height: 1.2175;
      }
      .see-all-sD3 {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        margin-bottom: 0.1rem;
        letter-spacing: -0.0333rem;
        color: #bc2b1c;
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-163-o6h {
      height: 57.4rem;
      display: flex;
      align-items: center;
      border-radius: 0.6rem;

      .group-160-k1w {
        flex-shrink: 0;
        margin-right: 11.8rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 0.6rem;

        .rectangle-43-VkD {
          width: 32.6rem;
          height: 40rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.6rem;
          flex-shrink: 0;
          margin-bottom: 1.2rem;
        }
        .lomba-foto-dan-reels-pXb {
          line-height: 1.2175;
          letter-spacing: -0.0333rem;
          font-size: 2rem;
          font-weight: 700;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
        }
        .yukk-kreasikan-foto-dan-reels-mu-semenarik-mungkin-syarat-dan-ketentuannya-sangat-mudah-sekali-lhoh-ws7 {
          line-height: 1.2175;
          letter-spacing: -0.0333rem;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 1.2rem;
          font-weight: 500;
          max-width: 31.4rem;
          font-size: 1.8rem;
        }
        .baca-selengkapnya-27s {
          letter-spacing: -0.0333rem;
          color: #43c2eb;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.2175;
        }
      }
      .group-161-wkd {
        flex-direction: column;
        border-radius: 0.6rem;
        flex-shrink: 0;
        margin-right: 10.4rem;
        height: 100%;
        display: flex;

        .rectangle-44-J5P {
          vertical-align: top;
          border-radius: 0.6rem;
          flex-shrink: 0;
          margin-bottom: 1.2rem;
          width: 32.6rem;
          height: 40rem;
          object-fit: cover;
        }
        .pagelaran-wayang-kulit-dNZ {
          font-size: 2rem;
          font-weight: 700;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          letter-spacing: -0.0333rem;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          line-height: 1.2175;
        }
        .jadi-orang-indonesia-harus-tau-wayang-kulit-terutama-orang-jawa-tonton-dan-saksikan-acara-wayang-kulit-see-you-there-MJZ {
          max-width: 31.5rem;
          font-size: 1.8rem;
          font-weight: 500;
          color: #000000;
          flex-shrink: 0;
          margin-bottom: 1.2rem;
          line-height: 1.2175;
          letter-spacing: -0.0333rem;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .baca-selengkapnya-qDj {
          font-weight: 500;
          line-height: 1.2175;
          letter-spacing: -0.0333rem;
          color: #43c2eb;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
        }
      }
      .group-162-AWu {
        flex-direction: column;
        border-radius: 0.6rem;
        flex-shrink: 0;
        height: 100%;
        display: flex;

        .rectangle-97-Keh {
          margin-bottom: 1.2rem;
          width: 32.6rem;
          height: 40rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.6rem;
          flex-shrink: 0;
        }
        .pagelaran-wayang-kulit-rPj {
          margin-bottom: 1.5rem;
          font-weight: 700;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 2rem;
          line-height: 1.2175;
          letter-spacing: -0.0333rem;
          color: #000000;
          white-space: nowrap;
        }
        .jadi-orang-indonesia-harus-tau-wayang-kulit-terutama-orang-jawa-tonton-dan-saksikan-acara-wayang-kulit-see-you-there-Z3F {
          font-weight: 500;
          margin-bottom: 1.2rem;
          font-size: 1.8rem;
          letter-spacing: -0.0333rem;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 31.5rem;
          line-height: 1.2175;
        }
        .baca-selengkapnya-2Bj {
          color: #43c2eb;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.2175;
          letter-spacing: -0.0333rem;
        }
      }
    }
  }
  .auto-group-bauf-XPP {
    color: #ffffff;
    background-color: #c4c4c4;
    background-image: url('REPLACE_IMAGE:f865d70d9a934ea515e14be25dbf5a923786c3ac');
    text-align: center;
    width: 145rem;
    position: absolute;
    font-weight: 800;
    font-family: Lato, 'Source Sans Pro';
    display: flex;
    align-items: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 73.3rem;
    top: 6.7rem;
    font-size: 6.4rem;
    line-height: 1.2;
    white-space: nowrap;
    justify-content: center;
    background-position: center;
    left: 0;
  }
  .group-210-z25 {
    width: 144.3rem;
    height: 42rem;
    position: absolute;
    left: 0;
    top: 236.7rem;

    .rectangle-29-tNM {
      top: 0.6rem;
      background-color: #378635;
      width: 144.3rem;
      height: 41.4rem;
      position: absolute;
      left: 0;
    }
    .line-11-2Df {
      top: 19.9rem;
      background-color: #ffffff;
      width: 130rem;
      height: 0.1rem;
      position: absolute;
      left: 7rem;
    }
    .instagram-4-1-A4y {
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 7.7rem;
      top: 12.5rem;
      object-fit: cover;
      vertical-align: top;
    }
    .facebook-3-1-tFs {
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 12.7rem;
      top: 12.5rem;
      object-fit: cover;
      vertical-align: top;
    }
    .area-kafe-1bP {
      height: 2.1rem;
      cursor: pointer;
      position: absolute;
      left: 66rem;
      font-size: 1.5rem;
      font-weight: 400;
      color: #ffffff;
      white-space: nowrap;
      width: 6.9rem;
      top: 30.3rem;
      line-height: 1.3625;
      letter-spacing: 0.015rem;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .area-keluarga-JKb {
      letter-spacing: 0.015rem;
      color: #ffffff;
      height: 2.1rem;
      position: absolute;
      left: 66rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.3625;
      width: 10rem;
      cursor: pointer;
      top: 27.7rem;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
    .area-foto-QNd {
      letter-spacing: 0.015rem;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.9rem;
      height: 2.1rem;
      font-size: 1.5rem;
      top: 32.9rem;
      font-weight: 400;
      line-height: 1.3625;
      color: #ffffff;
      cursor: pointer;
      position: absolute;
      left: 66rem;
    }
    .camping-ground-ieD {
      width: 12.2rem;
      cursor: pointer;
      left: 66rem;
      top: 35.2rem;
      line-height: 1.3625;
      letter-spacing: 0.015rem;
      height: 2.1rem;
      position: absolute;
      font-size: 1.5rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
    .booking-tiket-dmB {
      font-size: 1.5rem;
      line-height: 1.3625;
      white-space: nowrap;
      height: 2.1rem;
      left: 95.2rem;
      position: absolute;
      top: 27.5rem;
      font-weight: 400;
      letter-spacing: 0.015rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      width: 9.7rem;
      cursor: pointer;
    }
    .booking-kafe-x2m {
      line-height: 1.3625;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      cursor: pointer;
      position: absolute;
      left: 95.2rem;
      top: 30.1rem;
      font-weight: 400;
      white-space: nowrap;
      width: 9.4rem;
      height: 2.1rem;
      font-size: 1.5rem;
      letter-spacing: 0.015rem;
    }
    .foto-4Lh {
      white-space: nowrap;
      line-height: 1.3625;
      letter-spacing: 0.015rem;
      cursor: pointer;
      position: absolute;
      left: 83.7rem;
      top: 27.6rem;
      font-size: 1.5rem;
      font-weight: 400;
      width: 3.2rem;
      height: 2.1rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .video-NsB {
      line-height: 1.3625;
      letter-spacing: 0.015rem;
      color: #ffffff;
      width: 4.1rem;
      cursor: pointer;
      left: 83.7rem;
      top: 30.2rem;
      font-size: 1.5rem;
      font-weight: 400;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.1rem;
      position: absolute;
    }
    .berita-Vwo {
      width: 4.3rem;
      position: absolute;
      top: 27.5rem;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.1rem;
      left: 109.4rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.3625;
      letter-spacing: 0.015rem;
      color: #ffffff;
    }
    .event-RaZ {
      height: 2.1rem;
      top: 30.1rem;
      font-size: 1.5rem;
      line-height: 1.3625;
      color: #ffffff;
      white-space: nowrap;
      width: 4rem;
      position: absolute;
      left: 109.4rem;
      font-weight: 400;
      letter-spacing: 0.015rem;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .hotel-kcq {
      cursor: pointer;
      position: absolute;
      left: 122.2rem;
      top: 27.5rem;
      font-family: Open Sans, 'Source Sans Pro';
      width: 3.9rem;
      height: 2.1rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.3625;
      letter-spacing: 0.015rem;
      color: #ffffff;
      white-space: nowrap;
    }
    .restoran-GbB {
      width: 6.5rem;
      height: 2.1rem;
      left: 122.2rem;
      top: 30.1rem;
      font-weight: 400;
      letter-spacing: 0.015rem;
      font-family: Open Sans, 'Source Sans Pro';
      cursor: pointer;
      position: absolute;
      font-size: 1.5rem;
      line-height: 1.3625;
      color: #ffffff;
      white-space: nowrap;
    }
    .wisata-PA1 {
      width: 4.8rem;
      font-weight: 400;
      line-height: 1.3625;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      height: 2.1rem;
      cursor: pointer;
      position: absolute;
      left: 122.2rem;
      top: 32.7rem;
      font-size: 1.5rem;
      letter-spacing: 0.015rem;
      white-space: nowrap;
    }
    .whatsapp-2-1-J25 {
      top: 12.5rem;
      object-fit: cover;
      vertical-align: top;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 17.7rem;
    }
    .group-32-dq3 {
      box-sizing: border-box;
      padding-left: 0.187rem;
      width: 47.0796rem;
      height: 10.2167rem;
      position: absolute;
      left: 7rem;
      top: 25.4rem;

      .auto-group-bub3-xsK {
        margin-bottom: 1.202rem;
        width: 100%;
        display: flex;
        align-items: flex-end;

        .pin-KSy {
          flex-shrink: 0;
          margin-right: 1.5618rem;
          width: 2.4308rem;
          height: 2.6043rem;
          object-fit: cover;
          vertical-align: top;
        }
        .kecamatan-sukaraja-kabupaten-tasikmalaya-jawa-barat-46183-4fT {
          line-height: 1.3625;
          letter-spacing: -0.0333rem;
          font-family: Open Sans, 'Source Sans Pro';
          font-size: 1.5rem;
          font-weight: 400;
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.0399rem;
          color: #ffffff;
        }
      }
      .auto-group-uqqp-ATb {
        align-items: flex-end;
        margin: 0rem 18.68rem 1.202rem 0rem;
        width: calc(100% - 18.6796rem);
        display: flex;

        .email-hCd {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.5822rem;
          width: 2.4308rem;
          height: 2.6043rem;
        }
        .akbarsaepulrizal120404gmailcom-ETT {
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.3625;
          text-decoration-line: underline;
          white-space: nowrap;
          margin-bottom: 0.1105rem;
          letter-spacing: -0.0333rem;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .auto-group-wzih-8oj {
        width: calc(100% - 31rem);
        display: flex;
        align-items: center;
        margin-right: 31rem;

        .phone-call-1-tH7 {
          margin-right: 1.5618rem;
          width: 2.4308rem;
          height: 2.6043rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item-62-81510941558-RXw {
          line-height: 1.3625;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2493rem;
          font-size: 1.5rem;
          font-weight: 400;
          letter-spacing: -0.0333rem;
          color: #ffffff;
        }
      }
    }
    .jelajahi-bukit-7vZ {
      width: 10.2rem;
      cursor: pointer;
      top: 25.1rem;
      font-weight: 700;
      font-family: Open Sans, 'Source Sans Pro';
      letter-spacing: 0.015rem;
      color: #ffffff;
      white-space: nowrap;
      height: 2.1rem;
      position: absolute;
      left: 66.1rem;
      font-size: 1.5rem;
      line-height: 1.3625;
    }
    .galeri-RRT {
      cursor: pointer;
      font-weight: 700;
      letter-spacing: 0.015rem;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      line-height: 1.3625;
      color: #ffffff;
      width: 4.6rem;
      height: 2.1rem;
      position: absolute;
      left: 83.7rem;
      top: 25.1rem;
      font-size: 1.5rem;
    }
    .rekomendasi-YFB {
      height: 2.1rem;
      position: absolute;
      left: 122.2rem;
      top: 25.1rem;
      line-height: 1.3625;
      letter-spacing: 0.015rem;
      white-space: nowrap;
      width: 10.4rem;
      cursor: pointer;
      font-size: 1.5rem;
      font-weight: 700;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .desain-tanpa-judul202310110538060000-1-1-f4u {
      width: 26.8rem;
      height: 11.9rem;
      position: absolute;
      left: 1.3rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
    .informasi-B3F {
      white-space: nowrap;
      position: absolute;
      top: 25.1rem;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.3625;
      letter-spacing: 0.015rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      width: 7.4rem;
      height: 2.1rem;
      left: 109.4rem;
    }
    .reservasi-5uK {
      position: absolute;
      left: 95.2rem;
      top: 25.1rem;
      font-weight: 700;
      line-height: 1.3625;
      color: #ffffff;
      width: 7.3rem;
      cursor: pointer;
      font-size: 1.5rem;
      letter-spacing: 0.015rem;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.1rem;
    }
  }
  .group-178-oaR {
    position: absolute;
    left: 0;
    background: linear-gradient(90.62deg, #5fc789 41.36%, #8adf48 83.59%);
    padding: 2.5rem 38.1rem 1rem 56.87rem;
    width: 145.2rem;
    top: 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 8rem;

    .rectangle-99-WUq {
      border-radius: 2rem;
      flex-shrink: 0;
      margin: 0rem 2.163rem 0.636rem 0rem;
      width: 8.0667rem;
      height: 2.2353rem;
    }
    .huge-tab-2TB {
      width: 11.7rem;
      height: calc(100% - 1.6rem);
      flex-shrink: 0;
      margin: 0.7rem 0rem 0.9rem 0rem;

      .name-MVT {
        width: 100%;
        height: 2.6rem;

        .auto-group-j3fp-v2m {
          font-family: Open Sans, 'Source Sans Pro';
          height: 100%;
          display: flex;
          font-weight: 700;
          line-height: 1.4000000424;
          color: #000000;
          justify-content: center;
          margin-right: 6.3rem;
          width: 5.4rem;
          font-size: 1.8rem;
          white-space: nowrap;
          align-items: center;
        }
      }
      .underline-pP3 {
        position: relative;
        box-sizing: border-box;
        padding-top: 0.3rem;
        width: 5.4rem;
        height: 0.3rem;
        overflow: hidden;

        .underline-ASu {
          width: 11.1rem;
          height: 0.3rem;
          background-color: #000000;
        }
      }
    }
    .drop-jelajahi-K4u {
      flex-shrink: 0;
      margin-right: 4.9rem;
      box-sizing: border-box;
      padding: 0.8rem 0.7rem 0.8rem 1.6rem;
      width: 10.7rem;
      height: 100%;
      cursor: pointer;

      .huge-tab-EBs {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .name-PaZ {
          height: 2.6rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;

          .auto-group-xlcz-YiM {
            color: #000000;
            align-items: center;
            height: 100%;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.4000000424;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            justify-content: center;
            flex-shrink: 0;
            margin-right: 0.8rem;
            width: 6.7rem;
            display: flex;
          }
          .polygon-4Ro {
            height: 0.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 0.9rem;
          }
        }
        .underline-1M3 {
          width: 100%;
          height: 0.3rem;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 0.3rem;

          .underline-ADw {
            width: 14.1rem;
            height: 0.3rem;
            background-color: #000000;
          }
        }
      }
    }
    .drop-reservasi-gTB {
      height: 100%;
      cursor: pointer;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.8rem 0.8rem 0.8rem 1.6rem;
      width: 12.7rem;

      .huge-tab-1kM {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .name-a2m {
          width: 100%;
          height: 2.6rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-ea17-XTo {
            justify-content: center;
            flex-shrink: 0;
            line-height: 1.4000000424;
            color: #000000;
            white-space: nowrap;
            display: flex;
            font-size: 1.8rem;
            font-weight: 700;
            font-family: Open Sans, 'Source Sans Pro';
            align-items: center;
            margin-right: 0.8rem;
            width: 8.6rem;
            height: 100%;
          }
          .polygon-2QZ {
            width: 0.9rem;
            height: 0.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .underline-ZQV {
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 0.3rem;
          width: 100%;
          height: 0.3rem;

          .underline-uUM {
            width: 16rem;
            height: 0.3rem;
            background-color: #000000;
          }
        }
      }
    }
  }
  .huge-tab-1nH {
    top: 3.1rem;
    width: 11.7rem;
    height: 2.9rem;
    position: absolute;
    left: 112.4rem;

    .name-9Nh {
      width: 100%;
      height: 2.6rem;

      .auto-group-b8rw-hv1 {
        line-height: 1.4000000424;
        color: #eeeeee;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 2.9rem;
        width: 8.8rem;
        font-size: 1.8rem;
        font-weight: 700;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .underline-cGH {
      box-sizing: border-box;
      padding-top: 0.3rem;
      width: 8.8rem;
      height: 0.3rem;
      overflow: hidden;
      position: relative;

      .underline-MUm {
        height: 0.3rem;
        background-color: #000000;
        width: 14.5rem;
      }
    }
  }
  .enterprise-default-uWH {
    padding: 0.8rem 0rem 0.8rem 1.6rem;
    width: 13.3rem;
    height: 4.5rem;
    cursor: pointer;
    position: absolute;
    left: 125rem;
    top: 2.3rem;
    box-sizing: border-box;

    .huge-tab-cvV {
      height: 100%;
      display: flex;
      flex-direction: column;
      width: 100%;

      .name-z1w {
        height: 2.6rem;
        flex-shrink: 0;
        width: 100%;

        .auto-group-4d7o-M7P {
          display: flex;
          font-weight: 700;
          line-height: 1.4000000424;
          white-space: nowrap;
          align-items: center;
          height: 100%;
          width: 4.9rem;
          font-size: 1.8rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          justify-content: center;
          margin-right: 6.8rem;
        }
      }
      .underline-TAR {
        box-sizing: border-box;
        padding-top: 0.3rem;
        width: 4.9rem;
        height: 0.3rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .underline-zw3 {
          width: 10.6rem;
          height: 0.3rem;
          background-color: #000000;
        }
      }
    }
  }
  .desain-tanpa-judul202310110538060000-1-1-Lzu {
    left: 6.7rem;
    top: 0;
    background-size: 147.154% 222.727%;
    background-position: -3.622rem -5.1545rem;
    background-image: url('REPLACE_IMAGE:41f25ba5202578893837c6b9cb83d7d0d015a6ff');
    width: 13.5rem;
    height: 8.4rem;
    position: relative;
  }
}
