
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.menu-booking-satuan-2-dER {
  width: 100%;
  height: 165.1rem;
  position: relative;
  overflow: hidden;
  background-color: #e4e4e4;

  .auto-group-ed7f-Z85 {
    left: 21.1rem;
    top: 34rem;
    border-left: solid 0.05rem rgba(0, 0, 0, 0.400000006);
    box-sizing: border-box;
    width: 336.2rem;
    height: 125.5rem;
    position: absolute;

    .auto-group-g5v3-fB7 {
      width: 101.8rem;
      height: 100%;
      position: relative;
      background-color: #d9d9d9;
      border-radius: 2rem;

      .component-17-1Ey {
        left: 20.9rem;
        top: 74.5rem;
        width: 60rem;
        height: 8rem;
        cursor: pointer;
        position: absolute;

        .group-57-jwf {
          background-color: #ffffff;
          display: flex;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          width: 100%;
          height: 100%;
          align-items: center;
          border: solid 0.05rem rgba(0, 0, 0, 0.400000006);
          border-radius: 0.8rem;
          box-sizing: border-box;
          padding-left: 3.0909rem;

          .auto-group-fx69-tJm {
            padding: 1.5rem 2.118rem 1.499rem 1.609rem;
            height: 100%;
            flex-shrink: 0;
            box-sizing: border-box;

            .iconhomepage-03-2-CqF {
              object-fit: cover;
              vertical-align: top;
              width: 5rem;
              height: 5.0006rem;
            }
          }
          .auto-group-j1n1-8yo {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.5rem 3.273rem 1.3rem 3.091rem;
            height: 100%;

            .auto-group-wh5k-ehF {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 26.2rem;

              .bayar-langsung-Cim {
                letter-spacing: -0.0333rem;
                white-space: nowrap;
                flex-shrink: 0;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                margin-bottom: 0.3rem;
                font-size: 2.2rem;
                font-weight: 500;
                line-height: 1.2175;
              }
              .tunai-ke-bendahara-pak-marjito-K2h {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 300;
                line-height: 1.2175;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
              }
            }
            .group-29-RbX {
              margin-bottom: 0.0333rem;
              width: 3.8182rem;
              height: 3.5rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
      .component-16-5AH {
        width: 60rem;
        height: 8rem;
        cursor: pointer;
        position: absolute;
        left: 20.9rem;
        top: 65.5rem;

        .group-55-N9P {
          display: flex;
          align-items: center;
          border: solid 0.05rem rgba(0, 0, 0, 0.400000006);
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          padding-left: 3.0909rem;
          width: 100%;
          background-color: #ffffff;
          border-radius: 0.8rem;
          box-sizing: border-box;
          height: 100%;

          .auto-group-zcrv-GVf {
            height: 100%;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.7rem 2.118rem 1.264rem 1.609rem;

            .iconhomepage-03-2-Qrm {
              width: 5rem;
              height: 5.0356rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .auto-group-htzd-x7b {
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.5rem 3.273rem 1.3rem 3.091rem;
            height: 100%;
            display: flex;

            .auto-group-bxam-VdK {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 19.6rem;

              .bayar-langsung-FMb {
                margin-bottom: 0.3rem;
                line-height: 1.2175;
                letter-spacing: -0.0333rem;
                color: #000000;
                flex-shrink: 0;
                font-size: 2.2rem;
                font-weight: 500;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
              }
              .tunai-ke-bendahara-pak-marjito-Xa1 {
                line-height: 1.2175;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 300;
              }
            }
            .group-29-r6V {
              flex-shrink: 0;
              margin-bottom: 0.0333rem;
              width: 3.8182rem;
              height: 3.5rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
      }
      .component-15-WB3 {
        width: 60rem;
        height: 8rem;
        cursor: pointer;
        position: absolute;
        left: 20.9rem;
        top: 56.5rem;

        .group-56-qUD {
          border: solid 0.05rem rgba(0, 0, 0, 0.400000006);
          border-radius: 0.8rem;
          box-sizing: border-box;
          padding-left: 3.0909rem;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;

          .auto-group-bhay-Zf7 {
            padding: 1.9rem 1.918rem 1.571rem 1.809rem;
            height: 100%;
            flex-shrink: 0;
            box-sizing: border-box;

            .ovo-1-1-Un5 {
              height: 4.5289rem;
              object-fit: cover;
              vertical-align: top;
              width: 5rem;
            }
          }
          .auto-group-5cnd-RhK {
            box-sizing: border-box;
            padding: 1.5rem 3.273rem 1.3rem 3.091rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-g3kd-ve5 {
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 23.6rem;
              height: 100%;
              display: flex;

              .bayar-langsung-gNM {
                margin-bottom: 0.3rem;
                font-size: 2.2rem;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-weight: 500;
                line-height: 1.2175;
                letter-spacing: -0.0333rem;
                color: #000000;
              }
              .tunai-ke-bendahara-pak-marjito-19j {
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 300;
                line-height: 1.2175;
                letter-spacing: 0.15rem;
              }
            }
            .group-29-w3P {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.0333rem;
              width: 3.8182rem;
              height: 3.5rem;
            }
          }
        }
      }
      .component-14-Pg5 {
        width: 60rem;
        height: 8rem;
        cursor: pointer;
        position: absolute;
        left: 20.9rem;
        top: 47.5rem;

        .group-54-KZj {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 0.8rem;
          box-sizing: border-box;
          padding-left: 3.0909rem;
          border: solid 0.05rem rgba(0, 0, 0, 0.400000006);

          .auto-group-wqjb-f7o {
            box-sizing: border-box;
            padding: 1.5rem 1.918rem 1.499rem 1.809rem;
            height: 100%;
            flex-shrink: 0;

            .iconhomepage-03-3-Q5P {
              width: 5rem;
              height: 5.0006rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .auto-group-jhyb-h4V {
            box-sizing: border-box;
            padding: 1.5rem 3.273rem 1.3rem 3.091rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-yzcv-QUh {
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 23.6rem;
              height: 100%;
              display: flex;

              .bayar-langsung-ACy {
                font-size: 2.2rem;
                font-weight: 500;
                letter-spacing: -0.0333rem;
                color: #000000;
                white-space: nowrap;
                margin-bottom: 0.3rem;
                line-height: 1.2175;
                font-family: Montserrat, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .tunai-ke-bendahara-pak-marjito-H2h {
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 300;
                line-height: 1.2175;
                letter-spacing: 0.15rem;
              }
            }
            .group-29-Zku {
              width: 3.8182rem;
              height: 3.5rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.0333rem;
            }
          }
        }
      }
      .group-66-pwj {
        left: 21.3rem;
        top: 38.8rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 0.6rem;
        width: 59.1rem;
        height: 6.2rem;
        position: absolute;

        .group-63-ZuK {
          width: 100%;
          height: 100%;
          border-radius: 0.6rem;

          .group-62-8xR {
            color: #000000;
            display: flex;
            background-color: #8adf48;
            height: 100%;
            font-size: 2rem;
            line-height: 1.2175;
            white-space: nowrap;
            font-weight: 700;
            letter-spacing: -0.0333rem;
            font-family: Montserrat, 'Source Sans Pro';
            border-radius: 0.6rem;
            width: 100%;
            text-align: center;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .group-205-mEh {
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        align-items: center;
        display: flex;
        width: 97.3rem;
        height: 30rem;
        left: 2.2rem;
        top: 89.3rem;

        .group-71-625 {
          width: 100%;
          height: 5.6109rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 0.6rem;
          flex-shrink: 0;

          .group-63-eZP {
            width: 100%;
            height: 100%;
            border-radius: 0.6rem;

            .group-62-nfb {
              box-sizing: border-box;
              padding: 1.746rem 3rem 1.365rem 3rem;
              width: 100%;
              height: 100%;
              font-size: 2rem;
              font-family: Montserrat, 'Source Sans Pro';
              font-weight: 700;
              line-height: 1.2175;
              letter-spacing: -0.0333rem;
              color: #000000;
              white-space: nowrap;
              background-color: #8adf48;
              border-radius: 0.6rem;
            }
          }
        }
        .group-72-7bP {
          margin-bottom: 3.4418rem;
          width: 100%;
          height: 16.5833rem;
          border-radius: 0.6rem;
          flex-shrink: 0;

          .group-63-URw {
            width: 100%;
            height: 100%;
            border-radius: 0.6rem;

            .group-62-r3B {
              padding: 2.494rem 4.161rem 3.09rem 3rem;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              background-color: #8adf48;
              border-radius: 0.6rem;
              box-sizing: border-box;

              .harga-tiket-jumlah-tiket-biaya-layanan-total-pembayaran-Br9 {
                letter-spacing: -0.0333rem;
                font-family: Montserrat, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 65.3394rem;
                font-size: 1.8rem;
                line-height: 1.2189999686;
                max-width: 16.5rem;
                font-weight: 400;
                color: #000000;

                .harga-tiket-jumlah-tiket-biaya-layanan-total-pembayaran-Br9-sub-0 {
                  font-size: 1.8rem;
                  font-weight: 400;
                  line-height: 1.2175;
                  letter-spacing: -0.0333rem;
                  color: #000000;
                  font-family: Montserrat, 'Source Sans Pro';
                }
                .harga-tiket-jumlah-tiket-biaya-layanan-total-pembayaran-Br9-sub-1 {
                  color: #000000;
                  font-family: Montserrat, 'Source Sans Pro';
                  font-size: 1.8rem;
                  font-weight: 700;
                  line-height: 1.2175;
                  letter-spacing: -0.0333rem;
                }
              }
              .rp15000-3pcs-rp1000-rp16000-MGm {
                font-size: 1.8rem;
                line-height: 1.2175;
                font-family: Montserrat, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 8.3rem;
                text-align: right;
                color: #000000;
                font-weight: 400;
                letter-spacing: -0.0333rem;

                .rp15000-3pcs-rp1000-rp16000-MGm-sub-0 {
                  font-weight: 400;
                  line-height: 1.2175;
                  letter-spacing: -0.0333rem;
                  color: #000000;
                  font-family: Montserrat, 'Source Sans Pro';
                  font-size: 1.8rem;
                }
                .rp15000-3pcs-rp1000-rp16000-MGm-sub-1 {
                }
                .rp15000-3pcs-rp1000-rp16000-MGm-sub-2 {
                  color: #000000;
                  font-family: Montserrat, 'Source Sans Pro';
                  font-size: 1.8rem;
                  font-weight: 400;
                  line-height: 1.2175;
                  letter-spacing: -0.0333rem;
                }
                .rp15000-3pcs-rp1000-rp16000-MGm-sub-3 {
                }
                .rp15000-3pcs-rp1000-rp16000-MGm-sub-4 {
                  line-height: 1.2175;
                  letter-spacing: -0.0333rem;
                  color: #000000;
                  font-family: Montserrat, 'Source Sans Pro';
                  font-size: 1.8rem;
                  font-weight: 400;
                }
                .rp15000-3pcs-rp1000-rp16000-MGm-sub-5 {
                  font-size: 1.8rem;
                  font-weight: 700;
                  line-height: 1.2175;
                  letter-spacing: -0.0333rem;
                  color: #000000;
                  font-family: Montserrat, 'Source Sans Pro';
                }
              }
            }
          }
        }
        .group-204-6GH {
          margin: 0rem 39.676rem 0rem 39.7rem;
          width: calc(100% - 79.3758rem);
          height: 4.364rem;
          border-radius: 0.7rem;
          flex-shrink: 0;

          .group-68-yL5 {
            border-radius: 0.7rem;
            width: 100%;
            height: 100%;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

            .group-63-8yf {
              width: 100%;
              height: 100%;
              border-radius: 0.7rem;

              .group-62-JdF {
                height: 100%;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                justify-content: center;
                width: 100%;
                text-align: right;
                line-height: 1.2175;
                letter-spacing: -0.0333rem;
                color: #000000;
                display: flex;
                align-items: center;
                border-radius: 0.7rem;
                font-size: 2rem;
                background-color: #8adf48;
                font-weight: 700;
              }
            }
          }
        }
      }
      .group-217-iws {
        width: 97.3rem;
        height: 29.9rem;
        position: absolute;
        left: 2.3rem;
        top: 2.1rem;
        border-radius: 0.7rem;

        .group-65-fcD {
          margin-bottom: 3.5rem;
          width: 100%;
          height: 26.4rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 0.7rem;

          .group-63-d3F {
            width: 100%;
            height: 100%;
            border-radius: 0.7rem;

            .group-62-ZxV {
              width: 100%;
              height: 100%;
              position: relative;
              background-color: #8adf48;
              border-radius: 0.7rem;

              .informasi-pemesanan-nama-email-no-hp-tanggal-kunjungan-jumlah-tiket-Wsj {
                font-weight: 500;
                line-height: 1.2175;
                letter-spacing: 0.1rem;
                color: #000000;
                left: 2.9rem;
                height: 16.1rem;
                position: absolute;
                top: 3.1rem;
                font-size: 2.2rem;
                font-family: Montserrat, 'Source Sans Pro';
                width: 33.3rem;

                .informasi-pemesanan-nama-email-no-hp-tanggal-kunjungan-jumlah-tiket-Wsj-sub-0 {
                  font-family: Montserrat, 'Source Sans Pro';
                  font-size: 2.2rem;
                  font-weight: 700;
                  line-height: 1.2175;
                  letter-spacing: 0.1rem;
                  color: #000000;
                }
                .informasi-pemesanan-nama-email-no-hp-tanggal-kunjungan-jumlah-tiket-Wsj-sub-1 {
                  font-size: 2.2rem;
                  font-weight: 500;
                  line-height: 1.2175;
                  letter-spacing: 0.1rem;
                  color: #000000;
                  font-family: Montserrat, 'Source Sans Pro';
                }
                .informasi-pemesanan-nama-email-no-hp-tanggal-kunjungan-jumlah-tiket-Wsj-sub-2 {
                }
                .informasi-pemesanan-nama-email-no-hp-tanggal-kunjungan-jumlah-tiket-Wsj-sub-3 {
                  font-size: 2.2rem;
                  font-weight: 500;
                  line-height: 1.2175;
                  letter-spacing: 0.1rem;
                  color: #000000;
                  font-family: Montserrat, 'Source Sans Pro';
                }
                .informasi-pemesanan-nama-email-no-hp-tanggal-kunjungan-jumlah-tiket-Wsj-sub-4 {
                }
                .informasi-pemesanan-nama-email-no-hp-tanggal-kunjungan-jumlah-tiket-Wsj-sub-5 {
                  letter-spacing: 0.1rem;
                  color: #000000;
                  font-family: Montserrat, 'Source Sans Pro';
                  font-size: 2.2rem;
                  font-weight: 500;
                  line-height: 1.2175;
                }
              }
              .anthonio-asep-jackson-anthoniogmailcom-085727987332-30-01-2023-3-ncH {
                font-size: 2.2rem;
                font-weight: 500;
                line-height: 1.2175;
                width: 29.6rem;
                height: 13.4rem;
                position: absolute;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                left: 32.1rem;
                top: 6.5rem;
                letter-spacing: 0.1rem;

                .anthonio-asep-jackson-anthoniogmailcom-085727987332-30-01-2023-3-ncH-sub-0 {
                  font-size: 2.2rem;
                  font-weight: 500;
                  line-height: 1.2175;
                  letter-spacing: 0.1rem;
                  color: #000000;
                  font-family: Montserrat, 'Source Sans Pro';
                }
                .anthonio-asep-jackson-anthoniogmailcom-085727987332-30-01-2023-3-ncH-sub-1 {
                }
              }
            }
          }
        }
      }
    }
  }
  .line-1-bTF {
    left: 0;
    top: 31.6rem;
    background-color: rgba(0, 0, 0, 0.400000006);
    width: 144rem;
    height: 0.05rem;
    position: absolute;
  }
  .auto-group-gltq-w1K {
    width: 47.1rem;
    height: 83.5333rem;
    position: absolute;
    left: 48.4rem;
    top: 0;

    .pembayaran-tiket-gDo {
      position: absolute;
      text-align: right;
      font-weight: 600;
      line-height: 1.2175;
      width: 35rem;
      height: 4.7rem;
      font-size: 3.8rem;
      letter-spacing: -0.0333rem;
      color: #2e3a59;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      left: 12.1rem;
      top: 17.1rem;
    }
    .group-150-xh7 {
      left: 0;
      top: 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 12.5rem;
      height: 83.5333rem;
      position: absolute;

      .ellipse-6-HUV {
        margin-bottom: 63.5333rem;
        width: 100%;
        height: 12.5rem;
        background-color: rgba(214, 173, 96, 0.6000000238);
        border-radius: 6.25rem;
        flex-shrink: 0;
      }
      .booking-1-2S5 {
        width: 7.5rem;
        height: 7.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .group-178-AoB {
    background: linear-gradient(90.62deg, #5fc789 41.36%, #8adf48 83.59%);
    display: flex;
    padding: 2.4rem 38.1rem 1rem 56.87rem;
    width: 145.2rem;
    height: 8rem;
    position: absolute;
    left: 0;
    top: 0;
    align-items: center;
    box-sizing: border-box;

    .rectangle-99-UYy {
      margin: 0rem 0.563rem 0.536rem 0rem;
      width: 8.0667rem;
      height: 2.2353rem;
      border-radius: 2rem;
      flex-shrink: 0;
    }
    .enterprise-default-CUy {
      margin-bottom: 0.1rem;
      box-sizing: border-box;
      padding: 0.8rem 0rem 0.8rem 1.6rem;
      width: 13.3rem;
      height: 4.5rem;
      cursor: pointer;
      flex-shrink: 0;

      .huge-tab-X1T {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .name-HFX {
          width: 100%;
          height: 2.6rem;
          flex-shrink: 0;

          .auto-group-fw21-cob {
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            justify-content: center;
            width: 5.4rem;
            height: 100%;
            font-weight: 700;
            line-height: 1.4000000424;
            align-items: center;
            margin-right: 6.3rem;
            display: flex;
            font-size: 1.8rem;
          }
        }
        .underline-KCD {
          height: 0.3rem;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 0.3rem;
          width: 5.4rem;

          .underline-f1B {
            width: 11.1rem;
            height: 0.3rem;
            background-color: #000000;
          }
        }
      }
    }
    .drop-jelajahi-o7P {
      padding: 0.8rem 0.7rem 0.8rem 1.6rem;
      width: 10.7rem;
      height: 4.5rem;
      cursor: pointer;
      flex-shrink: 0;
      margin: 0.1rem 4.9rem 0rem 0rem;
      box-sizing: border-box;

      .huge-tab-HHT {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .name-eNu {
          width: 100%;
          height: 2.6rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-ayxm-miR {
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            justify-content: center;
            height: 100%;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.4000000424;
            color: #000000;
            flex-shrink: 0;
            margin-right: 0.8rem;
            width: 6.7rem;
            display: flex;
            align-items: center;
          }
          .polygon-SZf {
            width: 0.9rem;
            height: 0.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .underline-kqF {
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 0.3rem;
          width: 100%;
          height: 0.3rem;

          .underline-fSR {
            width: 14.1rem;
            height: 0.3rem;
            background-color: #000000;
          }
        }
      }
    }
    .drop-reservasi-ooX {
      flex-shrink: 0;
      margin-top: 0.1rem;
      box-sizing: border-box;
      padding: 0.8rem 0.8rem 0.8rem 1.6rem;
      width: 12.7rem;
      height: 4.5rem;
      cursor: pointer;

      .huge-tab-XzR {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .name-sYV {
          width: 100%;
          height: 2.6rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-g3xd-EP3 {
            height: 100%;
            display: flex;
            font-size: 1.8rem;
            line-height: 1.4000000424;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            margin-right: 0.8rem;
            width: 8.6rem;
            font-weight: 700;
            color: #eeeeee;
            justify-content: center;
            flex-shrink: 0;
          }
          .polygon-9F7 {
            flex-shrink: 0;
            width: 0.9rem;
            height: 0.9rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .underline-UYH {
          box-sizing: border-box;
          padding-top: 0.3rem;
          width: 100%;
          height: 0.3rem;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .underline-1HK {
            width: 16rem;
            height: 0.3rem;
            background-color: #000000;
          }
        }
      }
    }
  }
  .enterprise-default-7r9 {
    box-sizing: border-box;
    padding: 0.8rem 0rem 0.8rem 1.6rem;
    width: 13.3rem;
    height: 4.5rem;
    cursor: pointer;
    position: absolute;
    left: 110.8rem;
    top: 2.3rem;

    .huge-tab-QqF {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .name-Zy3 {
        width: 100%;
        height: 2.6rem;
        flex-shrink: 0;

        .auto-group-zc89-LU1 {
          font-weight: 700;
          line-height: 1.4000000424;
          font-family: Open Sans, 'Source Sans Pro';
          align-items: center;
          margin-right: 2.9rem;
          width: 8.8rem;
          height: 100%;
          display: flex;
          font-size: 1.8rem;
          color: #000000;
          white-space: nowrap;
          justify-content: center;
        }
      }
      .underline-pty {
        box-sizing: border-box;
        padding-top: 0.3rem;
        width: 8.8rem;
        height: 0.3rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .underline-aNM {
          width: 14.5rem;
          height: 0.3rem;
          background-color: #000000;
        }
      }
    }
  }
  .enterprise-default-vh7 {
    cursor: pointer;
    position: absolute;
    left: 125rem;
    top: 2.3rem;
    box-sizing: border-box;
    padding: 0.8rem 0rem 0.8rem 1.6rem;
    width: 13.3rem;
    height: 4.5rem;

    .huge-tab-mBw {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .name-3QM {
        width: 100%;
        height: 2.6rem;
        flex-shrink: 0;

        .auto-group-2vxd-Co3 {
          line-height: 1.4000000424;
          white-space: nowrap;
          align-items: center;
          width: 4.9rem;
          height: 100%;
          display: flex;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          justify-content: center;
          margin-right: 6.8rem;
          font-size: 1.8rem;
          font-weight: 700;
        }
      }
      .underline-s8V {
        box-sizing: border-box;
        padding-top: 0.3rem;
        width: 4.9rem;
        height: 0.3rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .underline-1kV {
          width: 10.6rem;
          height: 0.3rem;
          background-color: #000000;
        }
      }
    }
  }
  .desain-tanpa-judul202310110538060000-1-1-ZGD {
    left: 6.7rem;
    top: 0;
    background-size: 147.154% 222.727%;
    background-position: -3.622rem -5.1545rem;
    background-image: url('REPLACE_IMAGE:41f25ba5202578893837c6b9cb83d7d0d015a6ff');
    width: 13.5rem;
    height: 8.4rem;
    position: relative;
  }
}
