
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.menu-bukti-booking-meja-kafe--WCR {
  width: 100%;
  height: 150.5rem;
  position: relative;
  overflow: hidden;
  background-color: #e4e4e4;

  .bukti-booking-meja-kafe-BpM {
    width: 47.8rem;
    height: 4.7rem;
    top: 17.4rem;
    text-align: center;
    font-size: 3.8rem;
    color: #2e3a59;
    position: absolute;
    left: 48.1rem;
    font-weight: 600;
    line-height: 1.2175;
    letter-spacing: -0.0333rem;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
  }
  .group-219-eT3 {
    padding: 2.175rem 2.5rem 2.9rem 2.5rem;
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 13rem;
    left: 47rem;
    top: 115.1rem;
    background-color: #8adf48;
    border-radius: 3rem;
    width: 50rem;

    .apakah-anda-ingin-booking-meja-kafe-kembali--XWq {
      line-height: 1.2175;
      color: #000000;
      text-align: center;
      font-size: 1.5rem;
      letter-spacing: -0.0333rem;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 2.405rem 0.078rem;
      font-weight: 600;
    }
    .auto-group-bvbf-waZ {
      margin-bottom: 1.6207rem;
      box-sizing: border-box;
      padding: 0rem 22.4rem 0rem 22.545rem;
      width: 100%;
      flex-shrink: 0;

      .line-16-T37 {
        width: 100%;
        height: 0.1rem;
        background-color: #000000;
      }
    }
    .auto-group-frau-CFb {
      margin: 0rem 7rem 0rem 3.65rem;
      width: calc(100% - 10.65rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .ya-Kr1 {
        line-height: 1.2175;
        letter-spacing: -0.0333rem;
        white-space: nowrap;
        text-align: center;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 600;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 16.25rem;
      }
      .tidak-bYd {
        cursor: pointer;
        text-align: center;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.2175;
        letter-spacing: -0.0333rem;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
      }
    }
  }
  .group-218-JT3 {
    width: 56.2rem;
    height: 80rem;
    position: absolute;
    left: 43.9rem;
    top: 28.7rem;
    background-color: #ffffff;

    .kecamatan-sukaraja-kabupaten-tasikmalaya-jawa-barat-Dpu {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1.2175;
      letter-spacing: -0.0333rem;
      color: #000000;
      white-space: nowrap;
      width: 42.7rem;
      height: 1.9rem;
      position: absolute;
      left: 6.7477rem;
      top: 7.6552rem;
      text-align: center;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .bukit-panyangrayan-fB7 {
      height: 3.1rem;
      top: 3.4885rem;
      text-align: center;
      font-weight: 600;
      letter-spacing: -0.0333rem;
      font-family: Montserrat, 'Source Sans Pro';
      width: 25.5rem;
      position: absolute;
      left: 15.3523rem;
      font-size: 2.5rem;
      line-height: 1.2175;
      color: #000000;
      white-space: nowrap;
    }
    .auto-group-lnim-YVo {
      height: 1.9495rem;
      position: absolute;
      left: 5.5rem;
      top: 16.8505rem;
      display: flex;
      align-items: center;
      width: 44.9408rem;

      .tanggal-Sr5 {
        font-weight: 600;
        line-height: 1.2175;
        letter-spacing: -0.0333rem;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.049rem 21.797rem 0rem 0rem;
        font-size: 1.5rem;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .jan-2023-MTF {
        flex-shrink: 0;
        text-align: center;
        font-weight: 600;
        line-height: 1.2175;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 2.544rem 0.049rem 0rem;
        font-size: 1.5rem;
        letter-spacing: -0.0333rem;
      }
      .item-14-30-45-SUh {
        margin-bottom: 0.0495rem;
        line-height: 1.2175;
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: -0.0333rem;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
      }
    }
    .auto-group-yy5f-MrZ {
      align-items: center;
      width: 44.9896rem;
      height: 5.5rem;
      position: absolute;
      left: 5.5rem;
      top: 48.3rem;
      display: flex;

      .jenis-pembayaran-harga-tiket-biaya-layanan-tbb {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.2175;
        color: #000000;
        margin-right: 23.9896rem;
        letter-spacing: -0.0333rem;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 13.6rem;
      }
      .dana-rp-15000-rp-1000-bF7 {
        text-align: right;
        font-size: 1.5rem;
        letter-spacing: -0.0333rem;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 7.4rem;
        font-weight: 600;
        line-height: 1.2175;
      }
    }
    .tunjukan-struk-booking-meja-kafe-ini-saat-memasuki-objek-wisata-bukit-panyangrayan-7DT {
      position: absolute;
      left: 6.1rem;
      font-weight: 600;
      line-height: 1.2175;
      letter-spacing: -0.0333rem;
      width: 44rem;
      height: 3.7rem;
      top: 65.2rem;
      text-align: center;
      font-size: 1.5rem;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .terima-kasih-LM7 {
      color: #000000;
      height: 3.1rem;
      top: 72.2rem;
      font-weight: 600;
      letter-spacing: -0.0333rem;
      font-size: 2.5rem;
      line-height: 1.2175;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      width: 18.4rem;
      position: absolute;
      left: 18.9287rem;
      text-align: center;
    }
    .auto-group-zgxt-CPK {
      display: flex;
      align-items: center;
      width: 44.8701rem;
      height: 2.1196rem;
      position: absolute;
      left: 5.6931rem;
      top: 59.4rem;

      .total-uoX {
        font-weight: 700;
        margin: 0.22rem 32.37rem 0rem 0rem;
        text-align: center;
        letter-spacing: -0.0333rem;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.5rem;
        line-height: 1.2175;
      }
      .rp-16000-EL1 {
        line-height: 1.2175;
        letter-spacing: -0.0333rem;
        white-space: nowrap;
        font-weight: 600;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 0.2196rem;
        text-align: right;
        font-size: 1.5rem;
      }
    }
    .auto-group-m6df-MvR {
      position: absolute;
      left: 5.5rem;
      top: 20.8rem;
      display: flex;
      align-items: flex-start;
      width: 44.8735rem;
      height: 3.7rem;

      .kode-booking-meja-kafe-JKs {
        font-size: 1.5rem;
        line-height: 1.2175;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 20.2735rem;
        max-width: 14rem;
        font-weight: 600;
        letter-spacing: -0.0333rem;
      }
      .item-053759437465-DBw {
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: right;
        line-height: 1.2175;
        font-weight: 600;
        letter-spacing: -0.0333rem;
        color: #000000;
        margin-top: 0.4184rem;
        font-size: 1.5rem;
      }
    }
    .line-12-L1f {
      background-color: #000000;
      width: 45rem;
      height: 0.1rem;
      position: absolute;
      left: 5.4678rem;
      top: 27.2299rem;
    }
    .line-13-U7s {
      width: 45rem;
      height: 0.1rem;
      position: absolute;
      left: 5.4678rem;
      top: 46.1264rem;
      background-color: #000000;
    }
    .line-14-bCV {
      width: 45rem;
      height: 0.1rem;
      position: absolute;
      left: 5.4678rem;
      top: 57.1793rem;
      background-color: #000000;
    }
    .auto-group-8e4y-9E1 {
      position: absolute;
      left: 5.5rem;
      top: 28.4rem;
      display: flex;
      align-items: flex-start;
      width: 45rem;
      height: 11rem;

      .nama-email-no-hp-tanggal-kunjungan-jumlah-tiket-fCM {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.2175;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 7rem;
        max-width: 19.8rem;
      }
      .anthonio-asep-jackson-anthoniogmailcom-085727987332-30-01-2023-3-Auo {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.2175;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 18.2rem;
        text-align: right;
      }
    }
  }
  .group-178-5Wy {
    display: flex;
    box-sizing: border-box;
    width: 145.2rem;
    position: absolute;
    left: 0;
    top: 0;
    padding: 2.4rem 38.1rem 1rem 56.87rem;
    height: 8rem;
    align-items: center;
    background: linear-gradient(90.62deg, #5fc789 41.36%, #8adf48 83.59%);

    .rectangle-99-meh {
      border-radius: 2rem;
      flex-shrink: 0;
      margin: 0rem 0.563rem 0.536rem 0rem;
      width: 8.0667rem;
      height: 2.2353rem;
    }
    .enterprise-default-hHT {
      box-sizing: border-box;
      padding: 0.8rem 0rem 0.8rem 1.6rem;
      width: 13.3rem;
      height: 4.5rem;
      cursor: pointer;
      flex-shrink: 0;
      margin-bottom: 0.1rem;

      .huge-tab-ByK {
        flex-direction: column;
        width: 100%;
        height: 100%;
        display: flex;

        .name-Yos {
          height: 2.6rem;
          flex-shrink: 0;
          width: 100%;

          .auto-group-srnv-K3w {
            width: 5.4rem;
            height: 100%;
            font-weight: 700;
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            margin-right: 6.3rem;
            display: flex;
            font-size: 1.8rem;
            line-height: 1.4000000424;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
          }
        }
        .underline-ojo {
          width: 5.4rem;
          height: 0.3rem;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 0.3rem;

          .underline-MWR {
            width: 11.1rem;
            height: 0.3rem;
            background-color: #000000;
          }
        }
      }
    }
    .drop-jelajahi-6D7 {
      cursor: pointer;
      flex-shrink: 0;
      margin: 0.1rem 4.9rem 0rem 0rem;
      box-sizing: border-box;
      padding: 0.8rem 0.7rem 0.8rem 1.6rem;
      width: 10.7rem;
      height: 4.5rem;

      .huge-tab-o7X {
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;

        .name-K5s {
          width: 100%;
          height: 2.6rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-hhfp-UUZ {
            margin-right: 0.8rem;
            display: flex;
            white-space: nowrap;
            align-items: center;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            justify-content: center;
            width: 6.7rem;
            height: 100%;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.4000000424;
            flex-shrink: 0;
          }
          .polygon-yAR {
            vertical-align: top;
            flex-shrink: 0;
            width: 0.9rem;
            height: 0.9rem;
            object-fit: contain;
          }
        }
        .underline-7XX {
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 0.3rem;
          width: 100%;
          height: 0.3rem;

          .underline-rED {
            width: 14.1rem;
            height: 0.3rem;
            background-color: #000000;
          }
        }
      }
    }
    .drop-reservasi-LfB {
      margin-top: 0.1rem;
      box-sizing: border-box;
      padding: 0.8rem 0.8rem 0.8rem 1.6rem;
      width: 12.7rem;
      height: 4.5rem;
      cursor: pointer;
      flex-shrink: 0;

      .huge-tab-4r5 {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .name-2H7 {
          flex-shrink: 0;
          width: 100%;
          height: 2.6rem;
          display: flex;
          align-items: center;

          .auto-group-mbrt-yy3 {
            line-height: 1.4000000424;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.8rem;
            width: 8.6rem;
            font-size: 1.8rem;
            font-weight: 700;
            justify-content: center;
            height: 100%;
            display: flex;
            color: #eeeeee;
            align-items: center;
          }
          .polygon-soX {
            width: 0.9rem;
            height: 0.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .underline-2RX {
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 0.3rem;
          width: 100%;
          height: 0.3rem;

          .underline-LSD {
            width: 16rem;
            height: 0.3rem;
            background-color: #000000;
          }
        }
      }
    }
  }
  .enterprise-default-rQZ {
    width: 13.3rem;
    height: 4.5rem;
    cursor: pointer;
    position: absolute;
    left: 110.8rem;
    top: 2.3rem;
    box-sizing: border-box;
    padding: 0.8rem 0rem 0.8rem 1.6rem;

    .huge-tab-L4q {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .name-5HK {
        width: 100%;
        height: 2.6rem;
        flex-shrink: 0;

        .auto-group-lvxt-dJq {
          align-items: center;
          justify-content: center;
          margin-right: 2.9rem;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.4000000424;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          width: 8.8rem;
          height: 100%;
          display: flex;
          color: #000000;
        }
      }
      .underline-hpV {
        padding-top: 0.3rem;
        width: 8.8rem;
        height: 0.3rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        box-sizing: border-box;

        .underline-qA1 {
          width: 14.5rem;
          height: 0.3rem;
          background-color: #000000;
        }
      }
    }
  }
  .enterprise-default-wiq {
    cursor: pointer;
    position: absolute;
    left: 125rem;
    top: 2.3rem;
    box-sizing: border-box;
    padding: 0.8rem 0rem 0.8rem 1.6rem;
    width: 13.3rem;
    height: 4.5rem;

    .huge-tab-f93 {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .name-pGq {
        height: 2.6rem;
        flex-shrink: 0;
        width: 100%;

        .auto-group-8npz-yfX {
          width: 4.9rem;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.4000000424;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 6.8rem;
          align-items: center;
          display: flex;
          justify-content: center;
          height: 100%;
        }
      }
      .underline-VNy {
        box-sizing: border-box;
        padding-top: 0.3rem;
        width: 4.9rem;
        height: 0.3rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .underline-9iR {
          width: 10.6rem;
          height: 0.3rem;
          background-color: #000000;
        }
      }
    }
  }
  .desain-tanpa-judul202310110538060000-1-1-hjw {
    height: 8.4rem;
    position: relative;
    left: 6.7rem;
    top: 0;
    background-size: 147.154% 222.727%;
    background-position: -3.622rem -5.1545rem;
    background-image: url('REPLACE_IMAGE:41f25ba5202578893837c6b9cb83d7d0d015a6ff');
    width: 13.5rem;
  }
}
