
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.menu-informasi-S97 {
  width: 100%;
  height: 278.7rem;
  position: relative;
  overflow: hidden;
  background-color: #e4e4e4;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj {
  box-sizing: border-box;
  padding: 4.3rem 12.8rem 5.1rem 12rem;
  width: 144rem;
  height: 82.5rem;
  position: absolute;
  left: 0;
  top: 80rem;
  background-color: #d9d9d9;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-hpjd-ods {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-hpjd-ods .berita-m4u {
  margin: 0rem 102.1rem 0.5rem 0rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2175;
  letter-spacing: 0.1rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-hpjd-ods .see-all-32R {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #bc2b1c;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK {
  box-sizing: border-box;
  padding-top: 3.7rem;
  width: 100%;
  row-gap: 2.5rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-220-Vv1 {
  margin-right: 1.6099rem;
  width: calc(100% - 1.6099rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-220-Vv1 .rectangle-42-eH7 {
  margin-right: 2.3707rem;
  width: 29.5293rem;
  height: 20rem;
  position: relative;
  background-size: 169.142% 159.814%;
  background-position: -15.3275rem -5.9427rem;
  background-image: url('../assets/rectangle-42.png');
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-220-Vv1 .auto-group-1rjf-7wP {
  margin-top: 1.2rem;
  row-gap: 0.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-220-Vv1 .auto-group-1rjf-7wP .auto-group-fmhk-4Lq {
  margin-left: 0.0901rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-220-Vv1 .auto-group-1rjf-7wP .auto-group-fmhk-4Lq .post-by-admin-Cxq {
  margin-right: 1.7052rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-220-Vv1 .auto-group-1rjf-7wP .auto-group-fmhk-4Lq .ellipse-13-85o {
  margin: 0rem 0.52rem 0.061rem 0rem;
  width: 0.6242rem;
  height: 0.6236rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-220-Vv1 .auto-group-1rjf-7wP .auto-group-fmhk-4Lq .agustus-2023-e49 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #939393;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-220-Vv1 .auto-group-1rjf-7wP .bendera-raksasa-berkibar-di-bukit-panyangrayan-tasikmalaya-AoB {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-220-Vv1 .auto-group-1rjf-7wP .bendera-raksasa-berkibar-di-bukit-panyangrayan-kabupaten-tasikmalaya-kegiatan-ini-masih-dalam-rangka-memperingati-hut-ke-78-ri-VKf {
  margin-left: 0.0901rem;
  max-width: 85.6rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: 0.1rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-156-LbB {
  margin-right: 5.3rem;
  width: calc(100% - 5.3rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-156-LbB .rectangle-42-VDB {
  margin-right: 2.4525rem;
  width: 29.4302rem;
  height: 20rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-156-LbB .auto-group-tqj7-1xD {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-156-LbB .auto-group-tqj7-1xD .auto-group-7aro-NGy {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-156-LbB .auto-group-tqj7-1xD .auto-group-7aro-NGy .post-by-admin-vJV {
  margin-right: 1.6713rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-156-LbB .auto-group-tqj7-1xD .auto-group-7aro-NGy .ellipse-13-rC9 {
  margin: 0rem 0.518rem 0.061rem 0rem;
  width: 0.6221rem;
  height: 0.6236rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-156-LbB .auto-group-tqj7-1xD .auto-group-7aro-NGy .mei-2022-ATj {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #939393;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-156-LbB .auto-group-tqj7-1xD .pesona-bukit-panyangrayan-serasa-negeri-di-atas-awan-6cH {
  margin: 0rem 0rem 0.9rem 0.117rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-156-LbB .auto-group-tqj7-1xD .bukit-panyangrayan-terletak-di-tasikmalaya-bukit-ini-mampu-memikat-hati-para-pengunjung-dengan-pesona-alamnya-saking-indahnya-ada-yang-menjulukinya-sebagai-negeri-di-atas-awan-nED {
  margin-left: 0.1173rem;
  max-width: 81.9rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: 0.1rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-156-2PT {
  margin-right: 2.4441rem;
  width: calc(100% - 2.4441rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-156-2PT .rectangle-42-AkZ {
  margin-right: 2.4504rem;
  width: 29.4055rem;
  height: 20rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-156-2PT .auto-group-kve5-Vnq {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-156-2PT .auto-group-kve5-Vnq .auto-group-jttu-45F {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-156-2PT .auto-group-kve5-Vnq .auto-group-jttu-45F .post-by-admin-c6m {
  margin-right: 1.6628rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-156-2PT .auto-group-kve5-Vnq .auto-group-jttu-45F .ellipse-13-8qo {
  margin: 0rem 0.518rem 0.061rem 0rem;
  width: 0.6215rem;
  height: 0.6236rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-156-2PT .auto-group-kve5-Vnq .auto-group-jttu-45F .oktober-2023-GSD {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #939393;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-156-2PT .auto-group-kve5-Vnq .bukit-panyangrayan-tasikmalaya-info-lokasi-daya-tarik-dan-tips-zt1 {
  margin: 0rem 0rem 0.9rem 0.144rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-uxa1-ZDj .group-221-3ub .auto-group-jyk1-mDK .group-156-2PT .auto-group-kve5-Vnq .berbicara-wisata-alam-di-tasikmalaya-tidak-akan-ada-habisnya-kamu-bisa-menemukan-banyak-tempat-wisata-alam-yang-menarik-untuk-dikunjungi-tidak-hanya-gunung-dan-pantai-tasikmalaya-juga-punya-deretan-perbukitan-yang-menawarkan-pemandangan-memukau-dan-bisa-kamu-jadikan-tempat-rekreasi-bersama-keluarga-5uT {
  max-width: 84.9rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: 0.1rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.menu-informasi-S97 .group-222-Ugh {
  width: 122.1203rem;
  height: 65.1rem;
  position: absolute;
  left: 12rem;
  top: 166.7rem;
  border-radius: 0.6rem;
}
.menu-informasi-S97 .group-222-Ugh .auto-group-escr-cY1 {
  margin: 0rem 2.92rem 3.8rem 0rem;
  width: calc(100% - 2.9203rem);
  display: flex;
  align-items: flex-end;
}
.menu-informasi-S97 .group-222-Ugh .auto-group-escr-cY1 .event-jcd {
  margin-right: 103.4rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-222-Ugh .auto-group-escr-cY1 .see-all-sD3 {
  margin-bottom: 0.1rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #bc2b1c;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-222-Ugh .group-163-o6h {
  height: 57.4rem;
  display: flex;
  align-items: center;
  border-radius: 0.6rem;
}
.menu-informasi-S97 .group-222-Ugh .group-163-o6h .group-160-k1w {
  margin-right: 11.8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-222-Ugh .group-163-o6h .group-160-k1w .rectangle-43-VkD {
  margin-bottom: 1.2rem;
  width: 32.6rem;
  height: 40rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-222-Ugh .group-163-o6h .group-160-k1w .lomba-foto-dan-reels-pXb {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-222-Ugh .group-163-o6h .group-160-k1w .yukk-kreasikan-foto-dan-reels-mu-semenarik-mungkin-syarat-dan-ketentuannya-sangat-mudah-sekali-lhoh-ws7 {
  margin-bottom: 1.2rem;
  max-width: 31.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.menu-informasi-S97 .group-222-Ugh .group-163-o6h .group-160-k1w .baca-selengkapnya-27s {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #43c2eb;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-222-Ugh .group-163-o6h .group-161-wkd {
  margin-right: 10.4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-222-Ugh .group-163-o6h .group-161-wkd .rectangle-44-J5P {
  margin-bottom: 1.2rem;
  width: 32.6rem;
  height: 40rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-222-Ugh .group-163-o6h .group-161-wkd .pagelaran-wayang-kulit-dNZ {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-222-Ugh .group-163-o6h .group-161-wkd .jadi-orang-indonesia-harus-tau-wayang-kulit-terutama-orang-jawa-tonton-dan-saksikan-acara-wayang-kulit-see-you-there-MJZ {
  margin-bottom: 1.2rem;
  max-width: 31.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.menu-informasi-S97 .group-222-Ugh .group-163-o6h .group-161-wkd .baca-selengkapnya-qDj {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #43c2eb;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-222-Ugh .group-163-o6h .group-162-AWu {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-222-Ugh .group-163-o6h .group-162-AWu .rectangle-97-Keh {
  margin-bottom: 1.2rem;
  width: 32.6rem;
  height: 40rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-222-Ugh .group-163-o6h .group-162-AWu .pagelaran-wayang-kulit-rPj {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-222-Ugh .group-163-o6h .group-162-AWu .jadi-orang-indonesia-harus-tau-wayang-kulit-terutama-orang-jawa-tonton-dan-saksikan-acara-wayang-kulit-see-you-there-Z3F {
  margin-bottom: 1.2rem;
  max-width: 31.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.menu-informasi-S97 .group-222-Ugh .group-163-o6h .group-162-AWu .baca-selengkapnya-2Bj {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #43c2eb;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-informasi-S97 .auto-group-bauf-XPP {
  width: 145rem;
  height: 73.3rem;
  position: absolute;
  left: 0;
  top: 6.7rem;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 1.2;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c4c4c4;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-388-bg-9e1.png');
}
.menu-informasi-S97 .group-210-z25 {
  width: 144.3rem;
  height: 42rem;
  position: absolute;
  left: 0;
  top: 236.7rem;
}
.menu-informasi-S97 .group-210-z25 .rectangle-29-tNM {
  width: 144.3rem;
  height: 41.4rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  background-color: #378635;
}
.menu-informasi-S97 .group-210-z25 .line-11-2Df {
  width: 130rem;
  height: 0.1rem;
  position: absolute;
  left: 7rem;
  top: 19.9rem;
  background-color: #ffffff;
}
.menu-informasi-S97 .group-210-z25 .instagram-4-1-A4y {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 7.7rem;
  top: 12.5rem;
  object-fit: cover;
  vertical-align: top;
}
.menu-informasi-S97 .group-210-z25 .facebook-3-1-tFs {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 12.7rem;
  top: 12.5rem;
  object-fit: cover;
  vertical-align: top;
}
.menu-informasi-S97 .group-210-z25 .area-kafe-1bP {
  width: 6.9rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 66rem;
  top: 30.3rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-informasi-S97 .group-210-z25 .area-keluarga-JKb {
  width: 10rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 66rem;
  top: 27.7rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-informasi-S97 .group-210-z25 .area-foto-QNd {
  width: 6.9rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 66rem;
  top: 32.9rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-informasi-S97 .group-210-z25 .camping-ground-ieD {
  width: 12.2rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 66rem;
  top: 35.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-informasi-S97 .group-210-z25 .booking-tiket-dmB {
  width: 9.7rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 95.2rem;
  top: 27.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-informasi-S97 .group-210-z25 .booking-kafe-x2m {
  width: 9.4rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 95.2rem;
  top: 30.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-informasi-S97 .group-210-z25 .foto-4Lh {
  width: 3.2rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 83.7rem;
  top: 27.6rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-informasi-S97 .group-210-z25 .video-NsB {
  width: 4.1rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 83.7rem;
  top: 30.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-informasi-S97 .group-210-z25 .berita-Vwo {
  width: 4.3rem;
  height: 2.1rem;
  position: absolute;
  left: 109.4rem;
  top: 27.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-informasi-S97 .group-210-z25 .event-RaZ {
  width: 4rem;
  height: 2.1rem;
  position: absolute;
  left: 109.4rem;
  top: 30.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-informasi-S97 .group-210-z25 .hotel-kcq {
  width: 3.9rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 122.2rem;
  top: 27.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-informasi-S97 .group-210-z25 .restoran-GbB {
  width: 6.5rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 122.2rem;
  top: 30.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-informasi-S97 .group-210-z25 .wisata-PA1 {
  width: 4.8rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 122.2rem;
  top: 32.7rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-informasi-S97 .group-210-z25 .whatsapp-2-1-J25 {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 17.7rem;
  top: 12.5rem;
  object-fit: cover;
  vertical-align: top;
}
.menu-informasi-S97 .group-210-z25 .group-32-dq3 {
  box-sizing: border-box;
  padding-left: 0.187rem;
  width: 47.0796rem;
  height: 10.2167rem;
  position: absolute;
  left: 7rem;
  top: 25.4rem;
}
.menu-informasi-S97 .group-210-z25 .group-32-dq3 .auto-group-bub3-xsK {
  margin-bottom: 1.202rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.menu-informasi-S97 .group-210-z25 .group-32-dq3 .auto-group-bub3-xsK .pin-KSy {
  margin-right: 1.5618rem;
  width: 2.4308rem;
  height: 2.6043rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-210-z25 .group-32-dq3 .auto-group-bub3-xsK .kecamatan-sukaraja-kabupaten-tasikmalaya-jawa-barat-46183-4fT {
  margin-bottom: 0.0399rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: -0.0333rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-210-z25 .group-32-dq3 .auto-group-uqqp-ATb {
  margin: 0rem 18.68rem 1.202rem 0rem;
  width: calc(100% - 18.6796rem);
  display: flex;
  align-items: flex-end;
}
.menu-informasi-S97 .group-210-z25 .group-32-dq3 .auto-group-uqqp-ATb .email-hCd {
  margin-right: 1.5822rem;
  width: 2.4308rem;
  height: 2.6043rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-210-z25 .group-32-dq3 .auto-group-uqqp-ATb .akbarsaepulrizal120404gmailcom-ETT {
  margin-bottom: 0.1105rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: -0.0333rem;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-210-z25 .group-32-dq3 .auto-group-wzih-8oj {
  margin-right: 31rem;
  width: calc(100% - 31rem);
  display: flex;
  align-items: center;
}
.menu-informasi-S97 .group-210-z25 .group-32-dq3 .auto-group-wzih-8oj .phone-call-1-tH7 {
  margin-right: 1.5618rem;
  width: 2.4308rem;
  height: 2.6043rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-210-z25 .group-32-dq3 .auto-group-wzih-8oj .item-62-81510941558-RXw {
  margin-bottom: 0.2493rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: -0.0333rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-210-z25 .jelajahi-bukit-7vZ {
  width: 10.2rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 66.1rem;
  top: 25.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-informasi-S97 .group-210-z25 .galeri-RRT {
  width: 4.6rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 83.7rem;
  top: 25.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-informasi-S97 .group-210-z25 .rekomendasi-YFB {
  width: 10.4rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 122.2rem;
  top: 25.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-informasi-S97 .group-210-z25 .desain-tanpa-judul202310110538060000-1-1-f4u {
  width: 26.8rem;
  height: 11.9rem;
  position: absolute;
  left: 1.3rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.menu-informasi-S97 .group-210-z25 .informasi-B3F {
  width: 7.4rem;
  height: 2.1rem;
  position: absolute;
  left: 109.4rem;
  top: 25.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-informasi-S97 .group-210-z25 .reservasi-5uK {
  width: 7.3rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 95.2rem;
  top: 25.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-informasi-S97 .group-178-oaR {
  box-sizing: border-box;
  padding: 2.5rem 38.1rem 1rem 56.87rem;
  width: 145.2rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background: linear-gradient(90.62deg, #5fc789 41.36%, #8adf48 83.59%);
}
.menu-informasi-S97 .group-178-oaR .rectangle-99-WUq {
  margin: 0rem 2.163rem 0.636rem 0rem;
  width: 8.0667rem;
  height: 2.2353rem;
  border-radius: 2rem;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-178-oaR .huge-tab-2TB {
  margin: 0.7rem 0rem 0.9rem 0rem;
  width: 11.7rem;
  height: calc(100% - 1.6rem);
  flex-shrink: 0;
}
.menu-informasi-S97 .group-178-oaR .huge-tab-2TB .name-MVT {
  width: 100%;
  height: 2.6rem;
}
.menu-informasi-S97 .group-178-oaR .huge-tab-2TB .name-MVT .auto-group-j3fp-v2m {
  margin-right: 6.3rem;
  width: 5.4rem;
  height: 100%;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4000000424;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.menu-informasi-S97 .group-178-oaR .huge-tab-2TB .underline-pP3 {
  box-sizing: border-box;
  padding-top: 0.3rem;
  width: 5.4rem;
  height: 0.3rem;
  overflow: hidden;
  position: relative;
}
.menu-informasi-S97 .group-178-oaR .huge-tab-2TB .underline-pP3 .underline-ASu {
  width: 11.1rem;
  height: 0.3rem;
  background-color: #000000;
}
.menu-informasi-S97 .group-178-oaR .drop-jelajahi-K4u {
  margin-right: 4.9rem;
  box-sizing: border-box;
  padding: 0.8rem 0.7rem 0.8rem 1.6rem;
  width: 10.7rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-178-oaR .drop-jelajahi-K4u .huge-tab-EBs {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.menu-informasi-S97 .group-178-oaR .drop-jelajahi-K4u .huge-tab-EBs .name-PaZ {
  width: 100%;
  height: 2.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-178-oaR .drop-jelajahi-K4u .huge-tab-EBs .name-PaZ .auto-group-xlcz-YiM {
  margin-right: 0.8rem;
  width: 6.7rem;
  height: 100%;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4000000424;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-178-oaR .drop-jelajahi-K4u .huge-tab-EBs .name-PaZ .polygon-4Ro {
  width: 0.9rem;
  height: 0.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-178-oaR .drop-jelajahi-K4u .huge-tab-EBs .underline-1M3 {
  box-sizing: border-box;
  padding-top: 0.3rem;
  width: 100%;
  height: 0.3rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-178-oaR .drop-jelajahi-K4u .huge-tab-EBs .underline-1M3 .underline-ADw {
  width: 14.1rem;
  height: 0.3rem;
  background-color: #000000;
}
.menu-informasi-S97 .group-178-oaR .drop-reservasi-gTB {
  box-sizing: border-box;
  padding: 0.8rem 0.8rem 0.8rem 1.6rem;
  width: 12.7rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-178-oaR .drop-reservasi-gTB .huge-tab-1kM {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.menu-informasi-S97 .group-178-oaR .drop-reservasi-gTB .huge-tab-1kM .name-a2m {
  width: 100%;
  height: 2.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-178-oaR .drop-reservasi-gTB .huge-tab-1kM .name-a2m .auto-group-ea17-XTo {
  margin-right: 0.8rem;
  width: 8.6rem;
  height: 100%;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4000000424;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-178-oaR .drop-reservasi-gTB .huge-tab-1kM .name-a2m .polygon-2QZ {
  width: 0.9rem;
  height: 0.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-178-oaR .drop-reservasi-gTB .huge-tab-1kM .underline-ZQV {
  box-sizing: border-box;
  padding-top: 0.3rem;
  width: 100%;
  height: 0.3rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.menu-informasi-S97 .group-178-oaR .drop-reservasi-gTB .huge-tab-1kM .underline-ZQV .underline-uUM {
  width: 16rem;
  height: 0.3rem;
  background-color: #000000;
}
.menu-informasi-S97 .huge-tab-1nH {
  width: 11.7rem;
  height: 2.9rem;
  position: absolute;
  left: 112.4rem;
  top: 3.1rem;
}
.menu-informasi-S97 .huge-tab-1nH .name-9Nh {
  width: 100%;
  height: 2.6rem;
}
.menu-informasi-S97 .huge-tab-1nH .name-9Nh .auto-group-b8rw-hv1 {
  margin-right: 2.9rem;
  width: 8.8rem;
  height: 100%;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4000000424;
  color: #eeeeee;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.menu-informasi-S97 .huge-tab-1nH .underline-cGH {
  box-sizing: border-box;
  padding-top: 0.3rem;
  width: 8.8rem;
  height: 0.3rem;
  overflow: hidden;
  position: relative;
}
.menu-informasi-S97 .huge-tab-1nH .underline-cGH .underline-MUm {
  width: 14.5rem;
  height: 0.3rem;
  background-color: #000000;
}
.menu-informasi-S97 .enterprise-default-uWH {
  box-sizing: border-box;
  padding: 0.8rem 0rem 0.8rem 1.6rem;
  width: 13.3rem;
  height: 4.5rem;
  cursor: pointer;
  position: absolute;
  left: 125rem;
  top: 2.3rem;
}
.menu-informasi-S97 .enterprise-default-uWH .huge-tab-cvV {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.menu-informasi-S97 .enterprise-default-uWH .huge-tab-cvV .name-z1w {
  width: 100%;
  height: 2.6rem;
  flex-shrink: 0;
}
.menu-informasi-S97 .enterprise-default-uWH .huge-tab-cvV .name-z1w .auto-group-4d7o-M7P {
  margin-right: 6.8rem;
  width: 4.9rem;
  height: 100%;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4000000424;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.menu-informasi-S97 .enterprise-default-uWH .huge-tab-cvV .underline-TAR {
  box-sizing: border-box;
  padding-top: 0.3rem;
  width: 4.9rem;
  height: 0.3rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.menu-informasi-S97 .enterprise-default-uWH .huge-tab-cvV .underline-TAR .underline-zw3 {
  width: 10.6rem;
  height: 0.3rem;
  background-color: #000000;
}
.menu-informasi-S97 .desain-tanpa-judul202310110538060000-1-1-Lzu {
  width: 13.5rem;
  height: 8.4rem;
  position: relative;
  left: 6.7rem;
  top: 0;
  background-size: 147.154% 222.727%;
  background-position: -3.622rem -5.1545rem;
  background-image: url('../assets/desain-tanpa-judul202310110538060000-1-1-XRK.png');
}
