
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.menu-reservasi-pesan-tiket-zYR {
  width: 100%;
  height: 138.6rem;
  position: relative;
  overflow: hidden;
  background-color: #e4e4e4;
}
.menu-reservasi-pesan-tiket-zYR .auto-group-hmpf-vS5 {
  box-sizing: border-box;
  padding: 15.8rem 13.4rem 11.4rem 9.7rem;
  width: 144rem;
  height: 95.9rem;
  position: absolute;
  left: 0;
  top: 0;
}
.menu-reservasi-pesan-tiket-zYR .auto-group-hmpf-vS5 .group-180-Rdj {
  margin: 0rem 0rem 8.1rem 0.9rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1000000015);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-45-bg-zzV.png');
}
.menu-reservasi-pesan-tiket-zYR .auto-group-hmpf-vS5 .group-180-Rdj .rectangle-45-NJ5 {
  width: 120rem;
  height: 30rem;
  position: relative;
  background-size: 103.195% 228.186%;
  background-position: -2.3333rem -13.4426rem;
  background-image: url('../assets/rectangle-45-ECR.png');
}
.menu-reservasi-pesan-tiket-zYR .auto-group-hmpf-vS5 .booking-kafe-DJh {
  margin: 0rem 0rem 2.6rem 0.9rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-reservasi-pesan-tiket-zYR .auto-group-hmpf-vS5 .dengan-fitur-booking-kafe-di-situs-web-bukit-panyangrayan-anda-bisa-dengan-mudah-memesan-meja-kafe-sesuai-dengan-keinginan-anda-ini-sangat-berguna-ketika-anda-ingin-mengadakan-pertemuan-acara-spesial-atau-hanya-ingin-menikmati-waktu-santai-di-kafe-kami-tanpa-harus-khawatir-tentang-ketersediaan-meja-harga--vD7 {
  margin: 0rem 0rem 8.7rem 0.9rem;
  max-width: 117.7rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
}
.menu-reservasi-pesan-tiket-zYR .auto-group-hmpf-vS5 .auto-group-dycu-617 {
  margin-right: 75.1rem;
  width: calc(100% - 75.1rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
}
.menu-reservasi-pesan-tiket-zYR .auto-group-hmpf-vS5 .auto-group-dycu-617 .auto-group-ehdb-pSu {
  margin-right: 3.5rem;
  width: 17rem;
  height: 100%;
  position: relative;
  background-color: #d6ad60;
  border-radius: 2rem;
  flex-shrink: 0;
}
.menu-reservasi-pesan-tiket-zYR .auto-group-hmpf-vS5 .auto-group-dycu-617 .auto-group-ehdb-pSu .booking-now-Z9b {
  width: 12.5rem;
  height: 2.2rem;
  position: absolute;
  left: 2.2rem;
  top: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-reservasi-pesan-tiket-zYR .auto-group-hmpf-vS5 .auto-group-dycu-617 .auto-group-ehdb-pSu .rectangle-82-FYD {
  width: 17rem;
  height: 4.6rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #5fc789;
  border-radius: 2rem;
}
.menu-reservasi-pesan-tiket-zYR .auto-group-hmpf-vS5 .auto-group-dycu-617 .auto-group-ehdb-pSu .booking-now-zEu {
  width: 11rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  left: 2.9rem;
  top: 1.3rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-reservasi-pesan-tiket-zYR .auto-group-hmpf-vS5 .auto-group-dycu-617 .atau-mau-booking-tiket-online-UA5 {
  margin-bottom: 0.3rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX {
  width: 144.3rem;
  height: 42rem;
  position: absolute;
  left: 0;
  top: 95.9rem;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .rectangle-29-h2q {
  width: 144.3rem;
  height: 41.4rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  background-color: #378635;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .line-11-EHf {
  width: 130rem;
  height: 0.1rem;
  position: absolute;
  left: 7rem;
  top: 19.9rem;
  background-color: #ffffff;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .instagram-4-1-N8y {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 7.7rem;
  top: 12.5rem;
  object-fit: cover;
  vertical-align: top;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .facebook-3-1-tt1 {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 12.7rem;
  top: 12.5rem;
  object-fit: cover;
  vertical-align: top;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .area-kafe-S8q {
  width: 6.9rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 66rem;
  top: 30.3rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .area-keluarga-jdj {
  width: 10rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 66rem;
  top: 27.7rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .area-foto-eEu {
  width: 6.9rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 66rem;
  top: 32.9rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .camping-ground-Mf7 {
  width: 12.2rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 66rem;
  top: 35.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .booking-tiket-43j {
  width: 9.7rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 95.2rem;
  top: 27.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .booking-kafe-mD3 {
  width: 9.4rem;
  height: 2.1rem;
  position: absolute;
  left: 95.2rem;
  top: 30.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .foto-sG5 {
  width: 3.2rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 83.7rem;
  top: 27.6rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .video-BnZ {
  width: 4.1rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 83.7rem;
  top: 30.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .berita-i1o {
  width: 4.3rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 109.4rem;
  top: 27.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .event-ccy {
  width: 4rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 109.4rem;
  top: 30.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .hotel-jBo {
  width: 3.9rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 122.2rem;
  top: 27.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .restoran-Sc1 {
  width: 6.5rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 122.2rem;
  top: 30.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .wisata-kch {
  width: 4.8rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 122.2rem;
  top: 32.7rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .whatsapp-2-1-4dP {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 17.7rem;
  top: 12.5rem;
  object-fit: cover;
  vertical-align: top;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .group-32-QSM {
  box-sizing: border-box;
  padding-left: 0.187rem;
  width: 47.0796rem;
  height: 10.2167rem;
  position: absolute;
  left: 7rem;
  top: 25.4rem;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .group-32-QSM .auto-group-gpem-vfb {
  margin-bottom: 1.202rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .group-32-QSM .auto-group-gpem-vfb .pin-5YV {
  margin-right: 1.5618rem;
  width: 2.4308rem;
  height: 2.6043rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .group-32-QSM .auto-group-gpem-vfb .kecamatan-sukaraja-kabupaten-tasikmalaya-jawa-barat-46183-2Tj {
  margin-bottom: 0.0399rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: -0.0333rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .group-32-QSM .auto-group-5ygm-KSq {
  margin: 0rem 18.68rem 1.202rem 0rem;
  width: calc(100% - 18.6796rem);
  display: flex;
  align-items: flex-end;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .group-32-QSM .auto-group-5ygm-KSq .email-qvy {
  margin-right: 1.5822rem;
  width: 2.4308rem;
  height: 2.6043rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .group-32-QSM .auto-group-5ygm-KSq .akbarsaepulrizal120404gmailcom-b9T {
  margin-bottom: 0.1105rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: -0.0333rem;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .group-32-QSM .auto-group-ovsu-6ru {
  margin-right: 31rem;
  width: calc(100% - 31rem);
  display: flex;
  align-items: center;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .group-32-QSM .auto-group-ovsu-6ru .phone-call-1-TBf {
  margin-right: 1.5618rem;
  width: 2.4308rem;
  height: 2.6043rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .group-32-QSM .auto-group-ovsu-6ru .item-62-81510941558-nzd {
  margin-bottom: 0.2493rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: -0.0333rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .jelajahi-bukit-W9w {
  width: 10.2rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 66.1rem;
  top: 25.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .galeri-CHf {
  width: 4.6rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 83.7rem;
  top: 25.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .rekomendasi-i17 {
  width: 10.4rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 122.2rem;
  top: 25.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .desain-tanpa-judul202310110538060000-1-1-pK3 {
  width: 26.8rem;
  height: 11.9rem;
  position: absolute;
  left: 1.3rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .informasi-jgu {
  width: 7.4rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 109.4rem;
  top: 25.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-reservasi-pesan-tiket-zYR .group-210-ysX .reservasi-3hb {
  width: 7.3rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 95.2rem;
  top: 25.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-reservasi-pesan-tiket-zYR .group-178-ZA9 {
  box-sizing: border-box;
  padding: 2.4rem 38.1rem 1rem 56.87rem;
  width: 145.2rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background: linear-gradient(90.62deg, #5fc789 41.36%, #8adf48 83.59%);
}
.menu-reservasi-pesan-tiket-zYR .group-178-ZA9 .rectangle-99-r9F {
  margin: 0rem 0.563rem 0.536rem 0rem;
  width: 8.0667rem;
  height: 2.2353rem;
  border-radius: 2rem;
  flex-shrink: 0;
}
.menu-reservasi-pesan-tiket-zYR .group-178-ZA9 .enterprise-default-mX7 {
  margin-bottom: 0.1rem;
  box-sizing: border-box;
  padding: 0.8rem 0rem 0.8rem 1.6rem;
  width: 13.3rem;
  height: 4.5rem;
  cursor: pointer;
  flex-shrink: 0;
}
.menu-reservasi-pesan-tiket-zYR .group-178-ZA9 .enterprise-default-mX7 .huge-tab-UgR {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.menu-reservasi-pesan-tiket-zYR .group-178-ZA9 .enterprise-default-mX7 .huge-tab-UgR .name-S7T {
  width: 100%;
  height: 2.6rem;
  flex-shrink: 0;
}
.menu-reservasi-pesan-tiket-zYR .group-178-ZA9 .enterprise-default-mX7 .huge-tab-UgR .name-S7T .auto-group-nekr-mvR {
  margin-right: 6.3rem;
  width: 5.4rem;
  height: 100%;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4000000424;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.menu-reservasi-pesan-tiket-zYR .group-178-ZA9 .enterprise-default-mX7 .huge-tab-UgR .underline-UK3 {
  box-sizing: border-box;
  padding-top: 0.3rem;
  width: 5.4rem;
  height: 0.3rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.menu-reservasi-pesan-tiket-zYR .group-178-ZA9 .enterprise-default-mX7 .huge-tab-UgR .underline-UK3 .underline-D1j {
  width: 11.1rem;
  height: 0.3rem;
  background-color: #000000;
}
.menu-reservasi-pesan-tiket-zYR .group-178-ZA9 .drop-jelajahi-k1f {
  margin: 0.1rem 4.9rem 0rem 0rem;
  box-sizing: border-box;
  padding: 0.8rem 0.7rem 0.8rem 1.6rem;
  width: 10.7rem;
  height: 4.5rem;
  cursor: pointer;
  flex-shrink: 0;
}
.menu-reservasi-pesan-tiket-zYR .group-178-ZA9 .drop-jelajahi-k1f .huge-tab-dr9 {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.menu-reservasi-pesan-tiket-zYR .group-178-ZA9 .drop-jelajahi-k1f .huge-tab-dr9 .name-nj3 {
  width: 100%;
  height: 2.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.menu-reservasi-pesan-tiket-zYR .group-178-ZA9 .drop-jelajahi-k1f .huge-tab-dr9 .name-nj3 .auto-group-lumw-wrq {
  margin-right: 0.8rem;
  width: 6.7rem;
  height: 100%;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4000000424;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.menu-reservasi-pesan-tiket-zYR .group-178-ZA9 .drop-jelajahi-k1f .huge-tab-dr9 .name-nj3 .polygon-rU1 {
  width: 0.9rem;
  height: 0.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-reservasi-pesan-tiket-zYR .group-178-ZA9 .drop-jelajahi-k1f .huge-tab-dr9 .underline-bgV {
  box-sizing: border-box;
  padding-top: 0.3rem;
  width: 100%;
  height: 0.3rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.menu-reservasi-pesan-tiket-zYR .group-178-ZA9 .drop-jelajahi-k1f .huge-tab-dr9 .underline-bgV .underline-jnh {
  width: 14.1rem;
  height: 0.3rem;
  background-color: #000000;
}
.menu-reservasi-pesan-tiket-zYR .group-178-ZA9 .drop-reservasi-ghw {
  margin-top: 0.1rem;
  box-sizing: border-box;
  padding: 0.8rem 0.8rem 0.8rem 1.6rem;
  width: 12.7rem;
  height: 4.5rem;
  cursor: pointer;
  flex-shrink: 0;
}
.menu-reservasi-pesan-tiket-zYR .group-178-ZA9 .drop-reservasi-ghw .huge-tab-onZ {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.menu-reservasi-pesan-tiket-zYR .group-178-ZA9 .drop-reservasi-ghw .huge-tab-onZ .name-mjP {
  width: 100%;
  height: 2.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.menu-reservasi-pesan-tiket-zYR .group-178-ZA9 .drop-reservasi-ghw .huge-tab-onZ .name-mjP .auto-group-3zeh-LGh {
  margin-right: 0.8rem;
  width: 8.6rem;
  height: 100%;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4000000424;
  color: #eeeeee;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.menu-reservasi-pesan-tiket-zYR .group-178-ZA9 .drop-reservasi-ghw .huge-tab-onZ .name-mjP .polygon-Ess {
  width: 0.9rem;
  height: 0.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-reservasi-pesan-tiket-zYR .group-178-ZA9 .drop-reservasi-ghw .huge-tab-onZ .underline-BHK {
  box-sizing: border-box;
  padding-top: 0.3rem;
  width: 100%;
  height: 0.3rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.menu-reservasi-pesan-tiket-zYR .group-178-ZA9 .drop-reservasi-ghw .huge-tab-onZ .underline-BHK .underline-8iM {
  width: 16rem;
  height: 0.3rem;
  background-color: #000000;
}
.menu-reservasi-pesan-tiket-zYR .enterprise-default-Syw {
  box-sizing: border-box;
  padding: 0.8rem 0rem 0.8rem 1.6rem;
  width: 13.3rem;
  height: 4.5rem;
  cursor: pointer;
  position: absolute;
  left: 110.8rem;
  top: 2.3rem;
}
.menu-reservasi-pesan-tiket-zYR .enterprise-default-Syw .huge-tab-xhP {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.menu-reservasi-pesan-tiket-zYR .enterprise-default-Syw .huge-tab-xhP .name-veD {
  width: 100%;
  height: 2.6rem;
  flex-shrink: 0;
}
.menu-reservasi-pesan-tiket-zYR .enterprise-default-Syw .huge-tab-xhP .name-veD .auto-group-difb-HUm {
  margin-right: 2.9rem;
  width: 8.8rem;
  height: 100%;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4000000424;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.menu-reservasi-pesan-tiket-zYR .enterprise-default-Syw .huge-tab-xhP .underline-C5w {
  box-sizing: border-box;
  padding-top: 0.3rem;
  width: 8.8rem;
  height: 0.3rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.menu-reservasi-pesan-tiket-zYR .enterprise-default-Syw .huge-tab-xhP .underline-C5w .underline-jLm {
  width: 14.5rem;
  height: 0.3rem;
  background-color: #000000;
}
.menu-reservasi-pesan-tiket-zYR .enterprise-default-5Qd {
  box-sizing: border-box;
  padding: 0.8rem 0rem 0.8rem 1.6rem;
  width: 13.3rem;
  height: 4.5rem;
  cursor: pointer;
  position: absolute;
  left: 125rem;
  top: 2.3rem;
}
.menu-reservasi-pesan-tiket-zYR .enterprise-default-5Qd .huge-tab-znV {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.menu-reservasi-pesan-tiket-zYR .enterprise-default-5Qd .huge-tab-znV .name-xjK {
  width: 100%;
  height: 2.6rem;
  flex-shrink: 0;
}
.menu-reservasi-pesan-tiket-zYR .enterprise-default-5Qd .huge-tab-znV .name-xjK .auto-group-rbuv-vg9 {
  margin-right: 6.8rem;
  width: 4.9rem;
  height: 100%;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4000000424;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.menu-reservasi-pesan-tiket-zYR .enterprise-default-5Qd .huge-tab-znV .underline-SeV {
  box-sizing: border-box;
  padding-top: 0.3rem;
  width: 4.9rem;
  height: 0.3rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.menu-reservasi-pesan-tiket-zYR .enterprise-default-5Qd .huge-tab-znV .underline-SeV .underline-zAD {
  width: 10.6rem;
  height: 0.3rem;
  background-color: #000000;
}
.menu-reservasi-pesan-tiket-zYR .desain-tanpa-judul202310110538060000-1-1-jdb {
  width: 13.5rem;
  height: 8.4rem;
  position: relative;
  left: 6.7rem;
  top: 0;
  background-size: 147.154% 222.727%;
  background-position: -3.622rem -5.1545rem;
  background-image: url('../assets/desain-tanpa-judul202310110538060000-1-1-2fj.png');
}
