
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.menu-jelajah-bukit-inD {
  width: 100%;
  height: 206rem;
  position: relative;
  overflow: hidden;
  background-color: #e4e4e4;
}
.menu-jelajah-bukit-inD .auto-group-wf3f-TUu {
  box-sizing: border-box;
  padding: 13rem 8.1rem 14.984rem 7.4rem;
  width: 144rem;
  height: 164rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.menu-jelajah-bukit-inD .auto-group-wf3f-TUu .kolam-renang-1-xAm {
  margin-bottom: 2.9791rem;
  width: 128.5rem;
  height: 59rem;
  position: relative;
  background-size: 100% 122.511%;
  background-position: 0.2005rem -12.6542rem;
  background-image: url('../assets/kolam-renang-1.png');
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .auto-group-wf3f-TUu .group-211-Srd {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .auto-group-wf3f-TUu .group-211-Srd .area-keluarga-Cqo {
  margin: 0rem 0rem 4.421rem 0.7rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.2rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .auto-group-wf3f-TUu .group-211-Srd .auto-group-aaad-h1s {
  margin-bottom: 5rem;
  box-sizing: border-box;
  padding: 3.6rem 5.3rem 1.1rem 5.1rem;
  width: 100%;
  background-color: #95d3ae;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .auto-group-wf3f-TUu .group-211-Srd .auto-group-aaad-h1s .informasi-di-lereng-bukit-panyangrayan-terdapat-sebuah-area-keluarga-yang-menarik-yaitu-kolam-renang-area-ini-menjadi-tempat-favorit-bagi-keluarga-di-sekitar-desa-setiap-akhir-pekan-mereka-berkumpul-di-sini-untuk-bersenang-senang-air-kolam-yang-jernih-mengundang-anak-anak-bermain-air-sementara-orang-dewasa-dapat-bersantai-di-pinggiran-kolam-pemandangan-bukit-yang-indah-dan-langit-senja-yang-memukau-membuat-tempat-ini-istimewa-di-malam-hari-api-unggun-dan-cerita-bersama-di-bawah-bintang-bintang-mengisi-suasana-dengan-kehangatan-dan-kenangan-tak-terlupakan-tempat-ini-adalah-tempat-istimewa-bagi-keluarga-dan-teman-teman-untuk-menciptakan-momen-momen-berharga-bersama-area-keluarga-di-bukit-panyangrayan-dengan-kolam-renangnya-adalah-tempat-yang-memikat-semua-pengunjung-suasana-yang-riang-dan-damai-membuat-setiap-kunjungan-menjadi-momen-yang-dinantikan-dengan-pemandangan-alam-yang-indah-dan-suasana-yang-hangat-bukit-ini-telah-menjadi-tempat-spesial-bagi-mereka-yang-mencari-kesenangan-dan-kebahagiaan-bersama-orang-yang-mereka-cintai-tempat-ini-adalah-tempat-yang-mempromosikan-persaudaraan-bersama-sama-menciptakan-kenangan-yang-akan-selalu-diingat-RCm {
  max-width: 118.1rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: 0.15rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
}
.menu-jelajah-bukit-inD .auto-group-wf3f-TUu .group-211-Srd .auto-group-aaad-h1s .informasi-di-lereng-bukit-panyangrayan-terdapat-sebuah-area-keluarga-yang-menarik-yaitu-kolam-renang-area-ini-menjadi-tempat-favorit-bagi-keluarga-di-sekitar-desa-setiap-akhir-pekan-mereka-berkumpul-di-sini-untuk-bersenang-senang-air-kolam-yang-jernih-mengundang-anak-anak-bermain-air-sementara-orang-dewasa-dapat-bersantai-di-pinggiran-kolam-pemandangan-bukit-yang-indah-dan-langit-senja-yang-memukau-membuat-tempat-ini-istimewa-di-malam-hari-api-unggun-dan-cerita-bersama-di-bawah-bintang-bintang-mengisi-suasana-dengan-kehangatan-dan-kenangan-tak-terlupakan-tempat-ini-adalah-tempat-istimewa-bagi-keluarga-dan-teman-teman-untuk-menciptakan-momen-momen-berharga-bersama-area-keluarga-di-bukit-panyangrayan-dengan-kolam-renangnya-adalah-tempat-yang-memikat-semua-pengunjung-suasana-yang-riang-dan-damai-membuat-setiap-kunjungan-menjadi-momen-yang-dinantikan-dengan-pemandangan-alam-yang-indah-dan-suasana-yang-hangat-bukit-ini-telah-menjadi-tempat-spesial-bagi-mereka-yang-mencari-kesenangan-dan-kebahagiaan-bersama-orang-yang-mereka-cintai-tempat-ini-adalah-tempat-yang-mempromosikan-persaudaraan-bersama-sama-menciptakan-kenangan-yang-akan-selalu-diingat-RCm .informasi-di-lereng-bukit-panyangrayan-terdapat-sebuah-area-keluarga-yang-menarik-yaitu-kolam-renang-area-ini-menjadi-tempat-favorit-bagi-keluarga-di-sekitar-desa-setiap-akhir-pekan-mereka-berkumpul-di-sini-untuk-bersenang-senang-air-kolam-yang-jernih-mengundang-anak-anak-bermain-air-sementara-orang-dewasa-dapat-bersantai-di-pinggiran-kolam-pemandangan-bukit-yang-indah-dan-langit-senja-yang-memukau-membuat-tempat-ini-istimewa-di-malam-hari-api-unggun-dan-cerita-bersama-di-bawah-bintang-bintang-mengisi-suasana-dengan-kehangatan-dan-kenangan-tak-terlupakan-tempat-ini-adalah-tempat-istimewa-bagi-keluarga-dan-teman-teman-untuk-menciptakan-momen-momen-berharga-bersama-area-keluarga-di-bukit-panyangrayan-dengan-kolam-renangnya-adalah-tempat-yang-memikat-semua-pengunjung-suasana-yang-riang-dan-damai-membuat-setiap-kunjungan-menjadi-momen-yang-dinantikan-dengan-pemandangan-alam-yang-indah-dan-suasana-yang-hangat-bukit-ini-telah-menjadi-tempat-spesial-bagi-mereka-yang-mencari-kesenangan-dan-kebahagiaan-bersama-orang-yang-mereka-cintai-tempat-ini-adalah-tempat-yang-mempromosikan-persaudaraan-bersama-sama-menciptakan-kenangan-yang-akan-selalu-diingat-RCm-sub-0 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2175;
  letter-spacing: 0.15rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
}
.menu-jelajah-bukit-inD .auto-group-wf3f-TUu .group-211-Srd .auto-group-aaad-h1s .informasi-di-lereng-bukit-panyangrayan-terdapat-sebuah-area-keluarga-yang-menarik-yaitu-kolam-renang-area-ini-menjadi-tempat-favorit-bagi-keluarga-di-sekitar-desa-setiap-akhir-pekan-mereka-berkumpul-di-sini-untuk-bersenang-senang-air-kolam-yang-jernih-mengundang-anak-anak-bermain-air-sementara-orang-dewasa-dapat-bersantai-di-pinggiran-kolam-pemandangan-bukit-yang-indah-dan-langit-senja-yang-memukau-membuat-tempat-ini-istimewa-di-malam-hari-api-unggun-dan-cerita-bersama-di-bawah-bintang-bintang-mengisi-suasana-dengan-kehangatan-dan-kenangan-tak-terlupakan-tempat-ini-adalah-tempat-istimewa-bagi-keluarga-dan-teman-teman-untuk-menciptakan-momen-momen-berharga-bersama-area-keluarga-di-bukit-panyangrayan-dengan-kolam-renangnya-adalah-tempat-yang-memikat-semua-pengunjung-suasana-yang-riang-dan-damai-membuat-setiap-kunjungan-menjadi-momen-yang-dinantikan-dengan-pemandangan-alam-yang-indah-dan-suasana-yang-hangat-bukit-ini-telah-menjadi-tempat-spesial-bagi-mereka-yang-mencari-kesenangan-dan-kebahagiaan-bersama-orang-yang-mereka-cintai-tempat-ini-adalah-tempat-yang-mempromosikan-persaudaraan-bersama-sama-menciptakan-kenangan-yang-akan-selalu-diingat-RCm .informasi-di-lereng-bukit-panyangrayan-terdapat-sebuah-area-keluarga-yang-menarik-yaitu-kolam-renang-area-ini-menjadi-tempat-favorit-bagi-keluarga-di-sekitar-desa-setiap-akhir-pekan-mereka-berkumpul-di-sini-untuk-bersenang-senang-air-kolam-yang-jernih-mengundang-anak-anak-bermain-air-sementara-orang-dewasa-dapat-bersantai-di-pinggiran-kolam-pemandangan-bukit-yang-indah-dan-langit-senja-yang-memukau-membuat-tempat-ini-istimewa-di-malam-hari-api-unggun-dan-cerita-bersama-di-bawah-bintang-bintang-mengisi-suasana-dengan-kehangatan-dan-kenangan-tak-terlupakan-tempat-ini-adalah-tempat-istimewa-bagi-keluarga-dan-teman-teman-untuk-menciptakan-momen-momen-berharga-bersama-area-keluarga-di-bukit-panyangrayan-dengan-kolam-renangnya-adalah-tempat-yang-memikat-semua-pengunjung-suasana-yang-riang-dan-damai-membuat-setiap-kunjungan-menjadi-momen-yang-dinantikan-dengan-pemandangan-alam-yang-indah-dan-suasana-yang-hangat-bukit-ini-telah-menjadi-tempat-spesial-bagi-mereka-yang-mencari-kesenangan-dan-kebahagiaan-bersama-orang-yang-mereka-cintai-tempat-ini-adalah-tempat-yang-mempromosikan-persaudaraan-bersama-sama-menciptakan-kenangan-yang-akan-selalu-diingat-RCm-sub-1 {
}
.menu-jelajah-bukit-inD .auto-group-wf3f-TUu .group-211-Srd .auto-group-aaad-h1s .informasi-di-lereng-bukit-panyangrayan-terdapat-sebuah-area-keluarga-yang-menarik-yaitu-kolam-renang-area-ini-menjadi-tempat-favorit-bagi-keluarga-di-sekitar-desa-setiap-akhir-pekan-mereka-berkumpul-di-sini-untuk-bersenang-senang-air-kolam-yang-jernih-mengundang-anak-anak-bermain-air-sementara-orang-dewasa-dapat-bersantai-di-pinggiran-kolam-pemandangan-bukit-yang-indah-dan-langit-senja-yang-memukau-membuat-tempat-ini-istimewa-di-malam-hari-api-unggun-dan-cerita-bersama-di-bawah-bintang-bintang-mengisi-suasana-dengan-kehangatan-dan-kenangan-tak-terlupakan-tempat-ini-adalah-tempat-istimewa-bagi-keluarga-dan-teman-teman-untuk-menciptakan-momen-momen-berharga-bersama-area-keluarga-di-bukit-panyangrayan-dengan-kolam-renangnya-adalah-tempat-yang-memikat-semua-pengunjung-suasana-yang-riang-dan-damai-membuat-setiap-kunjungan-menjadi-momen-yang-dinantikan-dengan-pemandangan-alam-yang-indah-dan-suasana-yang-hangat-bukit-ini-telah-menjadi-tempat-spesial-bagi-mereka-yang-mencari-kesenangan-dan-kebahagiaan-bersama-orang-yang-mereka-cintai-tempat-ini-adalah-tempat-yang-mempromosikan-persaudaraan-bersama-sama-menciptakan-kenangan-yang-akan-selalu-diingat-RCm .informasi-di-lereng-bukit-panyangrayan-terdapat-sebuah-area-keluarga-yang-menarik-yaitu-kolam-renang-area-ini-menjadi-tempat-favorit-bagi-keluarga-di-sekitar-desa-setiap-akhir-pekan-mereka-berkumpul-di-sini-untuk-bersenang-senang-air-kolam-yang-jernih-mengundang-anak-anak-bermain-air-sementara-orang-dewasa-dapat-bersantai-di-pinggiran-kolam-pemandangan-bukit-yang-indah-dan-langit-senja-yang-memukau-membuat-tempat-ini-istimewa-di-malam-hari-api-unggun-dan-cerita-bersama-di-bawah-bintang-bintang-mengisi-suasana-dengan-kehangatan-dan-kenangan-tak-terlupakan-tempat-ini-adalah-tempat-istimewa-bagi-keluarga-dan-teman-teman-untuk-menciptakan-momen-momen-berharga-bersama-area-keluarga-di-bukit-panyangrayan-dengan-kolam-renangnya-adalah-tempat-yang-memikat-semua-pengunjung-suasana-yang-riang-dan-damai-membuat-setiap-kunjungan-menjadi-momen-yang-dinantikan-dengan-pemandangan-alam-yang-indah-dan-suasana-yang-hangat-bukit-ini-telah-menjadi-tempat-spesial-bagi-mereka-yang-mencari-kesenangan-dan-kebahagiaan-bersama-orang-yang-mereka-cintai-tempat-ini-adalah-tempat-yang-mempromosikan-persaudaraan-bersama-sama-menciptakan-kenangan-yang-akan-selalu-diingat-RCm-sub-2 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: 0.15rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
}
.menu-jelajah-bukit-inD .auto-group-wf3f-TUu .group-211-Srd .group-84-jiZ {
  margin-right: 48.0077rem;
  box-sizing: border-box;
  padding: 2.886rem 3.3rem 3.43rem 3.3rem;
  width: 80.4923rem;
  background-color: #95d3ae;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .auto-group-wf3f-TUu .group-211-Srd .group-84-jiZ .objek-wisata-kolam-renang-buka-pukul-0900-wib-1600-wib-harga--2hf {
  max-width: 39.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: -0.0333rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
}
.menu-jelajah-bukit-inD .group-210-VLM {
  width: 144.3rem;
  height: 42rem;
  position: absolute;
  left: 0;
  top: 164rem;
}
.menu-jelajah-bukit-inD .group-210-VLM .rectangle-29-b8V {
  width: 144.3rem;
  height: 41.4rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  background-color: #378635;
}
.menu-jelajah-bukit-inD .group-210-VLM .line-11-KqB {
  width: 130rem;
  height: 0.1rem;
  position: absolute;
  left: 7.3rem;
  top: 19.9rem;
  background-color: #ffffff;
}
.menu-jelajah-bukit-inD .group-210-VLM .instagram-4-1-esT {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 8rem;
  top: 12.5rem;
  object-fit: cover;
  vertical-align: top;
}
.menu-jelajah-bukit-inD .group-210-VLM .facebook-3-1-kvV {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 13rem;
  top: 12.5rem;
  object-fit: cover;
  vertical-align: top;
}
.menu-jelajah-bukit-inD .group-210-VLM .area-kafe-tmo {
  width: 6.9rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 66.3rem;
  top: 30.3rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-jelajah-bukit-inD .group-210-VLM .area-keluarga-zK3 {
  width: 10rem;
  height: 2.1rem;
  position: absolute;
  left: 66.3rem;
  top: 27.7rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-jelajah-bukit-inD .group-210-VLM .area-foto-VWh {
  width: 6.9rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 66.3rem;
  top: 32.9rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-jelajah-bukit-inD .group-210-VLM .camping-ground-bpd {
  width: 12.2rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 66.3rem;
  top: 35.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-jelajah-bukit-inD .group-210-VLM .booking-tiket-Wwb {
  width: 9.7rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 95.5rem;
  top: 27.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-jelajah-bukit-inD .group-210-VLM .booking-kafe-2f3 {
  width: 9.4rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 95.5rem;
  top: 30.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-jelajah-bukit-inD .group-210-VLM .foto-JsT {
  width: 3.2rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 84rem;
  top: 27.6rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-jelajah-bukit-inD .group-210-VLM .video-dPw {
  width: 4.1rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 84rem;
  top: 30.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-jelajah-bukit-inD .group-210-VLM .berita-Lp9 {
  width: 4.3rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 109.7rem;
  top: 27.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-jelajah-bukit-inD .group-210-VLM .event-FgD {
  width: 4rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 109.7rem;
  top: 30.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-jelajah-bukit-inD .group-210-VLM .hotel-Mz9 {
  width: 3.9rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 122.5rem;
  top: 27.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-jelajah-bukit-inD .group-210-VLM .restoran-4tZ {
  width: 6.5rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 122.5rem;
  top: 30.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-jelajah-bukit-inD .group-210-VLM .wisata-ZqK {
  width: 4.8rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 122.5rem;
  top: 32.7rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-jelajah-bukit-inD .group-210-VLM .whatsapp-2-1-UhP {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 18rem;
  top: 12.5rem;
  object-fit: cover;
  vertical-align: top;
}
.menu-jelajah-bukit-inD .group-210-VLM .group-32-bX7 {
  box-sizing: border-box;
  padding-left: 0.187rem;
  width: 47.0796rem;
  height: 10.2167rem;
  position: absolute;
  left: 7.3rem;
  top: 25.4rem;
}
.menu-jelajah-bukit-inD .group-210-VLM .group-32-bX7 .auto-group-62em-Wty {
  margin-bottom: 1.202rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.menu-jelajah-bukit-inD .group-210-VLM .group-32-bX7 .auto-group-62em-Wty .pin-fWy {
  margin-right: 1.5618rem;
  width: 2.4308rem;
  height: 2.6042rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .group-210-VLM .group-32-bX7 .auto-group-62em-Wty .kecamatan-sukaraja-kabupaten-tasikmalaya-jawa-barat-46183-QUZ {
  margin-bottom: 0.0398rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: -0.0333rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .group-210-VLM .group-32-bX7 .auto-group-vmhj-6cH {
  margin: 0rem 18.68rem 1.202rem 0rem;
  width: calc(100% - 18.6796rem);
  display: flex;
  align-items: flex-end;
}
.menu-jelajah-bukit-inD .group-210-VLM .group-32-bX7 .auto-group-vmhj-6cH .email-dcD {
  margin-right: 1.5822rem;
  width: 2.4308rem;
  height: 2.6042rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .group-210-VLM .group-32-bX7 .auto-group-vmhj-6cH .akbarsaepulrizal120404gmailcom-a1f {
  margin-bottom: 0.1104rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: -0.0333rem;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .group-210-VLM .group-32-bX7 .auto-group-17mb-sWZ {
  margin-right: 31rem;
  width: calc(100% - 31rem);
  display: flex;
  align-items: center;
}
.menu-jelajah-bukit-inD .group-210-VLM .group-32-bX7 .auto-group-17mb-sWZ .phone-call-1-28Z {
  margin-right: 1.5618rem;
  width: 2.4308rem;
  height: 2.6042rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .group-210-VLM .group-32-bX7 .auto-group-17mb-sWZ .item-62-81510941558-AEm {
  margin-bottom: 0.2493rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: -0.0333rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .group-210-VLM .jelajahi-bukit-fxD {
  width: 10.2rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 66.4rem;
  top: 25.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-jelajah-bukit-inD .group-210-VLM .galeri-BQm {
  width: 4.6rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 84rem;
  top: 25.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-jelajah-bukit-inD .group-210-VLM .rekomendasi-tpy {
  width: 10.4rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 122.5rem;
  top: 25.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-jelajah-bukit-inD .group-210-VLM .desain-tanpa-judul202310110538060000-1-1-QoK {
  width: 26.8rem;
  height: 11.9rem;
  position: absolute;
  left: 1.6rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.menu-jelajah-bukit-inD .group-210-VLM .informasi-8jK {
  width: 7.4rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 109.7rem;
  top: 25.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-jelajah-bukit-inD .group-210-VLM .reservasi-TWh {
  width: 7.3rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 95.5rem;
  top: 25.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3625;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-jelajah-bukit-inD .group-178-Avu {
  box-sizing: border-box;
  padding: 2.5rem 38.1rem 1rem 56.87rem;
  width: 145.2rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background: linear-gradient(90.62deg, #5fc789 41.36%, #8adf48 83.59%);
}
.menu-jelajah-bukit-inD .group-178-Avu .rectangle-99-5ny {
  margin: 0rem 2.163rem 0.636rem 0rem;
  width: 8.0667rem;
  height: 2.2353rem;
  border-radius: 2rem;
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .group-178-Avu .huge-tab-DPP {
  margin: 0.7rem 0rem 0.9rem 0rem;
  width: 11.7rem;
  height: calc(100% - 1.6rem);
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .group-178-Avu .huge-tab-DPP .name-929 {
  width: 100%;
  height: 2.6rem;
}
.menu-jelajah-bukit-inD .group-178-Avu .huge-tab-DPP .name-929 .auto-group-otcv-6xy {
  margin-right: 6.3rem;
  width: 5.4rem;
  height: 100%;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4000000424;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.menu-jelajah-bukit-inD .group-178-Avu .huge-tab-DPP .underline-1KF {
  box-sizing: border-box;
  padding-top: 0.3rem;
  width: 5.4rem;
  height: 0.3rem;
  overflow: hidden;
  position: relative;
}
.menu-jelajah-bukit-inD .group-178-Avu .huge-tab-DPP .underline-1KF .underline-Ya5 {
  width: 11.1rem;
  height: 0.3rem;
  background-color: #000000;
}
.menu-jelajah-bukit-inD .group-178-Avu .drop-jelajahi-H1s {
  margin-right: 4.9rem;
  box-sizing: border-box;
  padding: 0.8rem 0.7rem 0.8rem 1.6rem;
  width: 10.7rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .group-178-Avu .drop-jelajahi-H1s .huge-tab-aWm {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.menu-jelajah-bukit-inD .group-178-Avu .drop-jelajahi-H1s .huge-tab-aWm .name-vqX {
  width: 100%;
  height: 2.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .group-178-Avu .drop-jelajahi-H1s .huge-tab-aWm .name-vqX .auto-group-v5rq-5iR {
  margin-right: 0.8rem;
  width: 6.7rem;
  height: 100%;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4000000424;
  color: #eeeeee;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .group-178-Avu .drop-jelajahi-H1s .huge-tab-aWm .name-vqX .polygon-BFf {
  width: 0.9rem;
  height: 0.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .group-178-Avu .drop-jelajahi-H1s .huge-tab-aWm .underline-7f7 {
  box-sizing: border-box;
  padding-top: 0.3rem;
  width: 100%;
  height: 0.3rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .group-178-Avu .drop-jelajahi-H1s .huge-tab-aWm .underline-7f7 .underline-GH7 {
  width: 14.1rem;
  height: 0.3rem;
  background-color: #000000;
}
.menu-jelajah-bukit-inD .group-178-Avu .drop-reservasi-DCM {
  box-sizing: border-box;
  padding: 0.8rem 0.8rem 0.8rem 1.6rem;
  width: 12.7rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .group-178-Avu .drop-reservasi-DCM .huge-tab-9Lu {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.menu-jelajah-bukit-inD .group-178-Avu .drop-reservasi-DCM .huge-tab-9Lu .name-uL5 {
  width: 100%;
  height: 2.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .group-178-Avu .drop-reservasi-DCM .huge-tab-9Lu .name-uL5 .auto-group-kxvd-FPw {
  margin-right: 0.8rem;
  width: 8.6rem;
  height: 100%;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4000000424;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .group-178-Avu .drop-reservasi-DCM .huge-tab-9Lu .name-uL5 .polygon-xJM {
  width: 0.9rem;
  height: 0.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .group-178-Avu .drop-reservasi-DCM .huge-tab-9Lu .underline-6vM {
  box-sizing: border-box;
  padding-top: 0.3rem;
  width: 100%;
  height: 0.3rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .group-178-Avu .drop-reservasi-DCM .huge-tab-9Lu .underline-6vM .underline-red {
  width: 16rem;
  height: 0.3rem;
  background-color: #000000;
}
.menu-jelajah-bukit-inD .enterprise-default-a4q {
  box-sizing: border-box;
  padding: 0.8rem 0rem 0.8rem 1.6rem;
  width: 13.3rem;
  height: 4.5rem;
  cursor: pointer;
  position: absolute;
  left: 110.8rem;
  top: 2.3rem;
}
.menu-jelajah-bukit-inD .enterprise-default-a4q .huge-tab-t5X {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.menu-jelajah-bukit-inD .enterprise-default-a4q .huge-tab-t5X .name-qmT {
  width: 100%;
  height: 2.6rem;
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .enterprise-default-a4q .huge-tab-t5X .name-qmT .auto-group-swgm-c1X {
  margin-right: 2.9rem;
  width: 8.8rem;
  height: 100%;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4000000424;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.menu-jelajah-bukit-inD .enterprise-default-a4q .huge-tab-t5X .underline-7iy {
  box-sizing: border-box;
  padding-top: 0.3rem;
  width: 8.8rem;
  height: 0.3rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .enterprise-default-a4q .huge-tab-t5X .underline-7iy .underline-fEh {
  width: 14.5rem;
  height: 0.3rem;
  background-color: #000000;
}
.menu-jelajah-bukit-inD .enterprise-default-Qi5 {
  box-sizing: border-box;
  padding: 0.8rem 0rem 0.8rem 1.6rem;
  width: 13.3rem;
  height: 4.5rem;
  cursor: pointer;
  position: absolute;
  left: 125rem;
  top: 2.3rem;
}
.menu-jelajah-bukit-inD .enterprise-default-Qi5 .huge-tab-7sP {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.menu-jelajah-bukit-inD .enterprise-default-Qi5 .huge-tab-7sP .name-gQh {
  width: 100%;
  height: 2.6rem;
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .enterprise-default-Qi5 .huge-tab-7sP .name-gQh .auto-group-ddeh-e6d {
  margin-right: 6.8rem;
  width: 4.9rem;
  height: 100%;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4000000424;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.menu-jelajah-bukit-inD .enterprise-default-Qi5 .huge-tab-7sP .underline-Yxh {
  box-sizing: border-box;
  padding-top: 0.3rem;
  width: 4.9rem;
  height: 0.3rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.menu-jelajah-bukit-inD .enterprise-default-Qi5 .huge-tab-7sP .underline-Yxh .underline-hah {
  width: 10.6rem;
  height: 0.3rem;
  background-color: #000000;
}
.menu-jelajah-bukit-inD .desain-tanpa-judul202310110538060000-1-1-eVw {
  width: 13.5rem;
  height: 8.4rem;
  position: relative;
  left: 6.7rem;
  top: 0;
  background-size: 147.154% 222.727%;
  background-position: -3.622rem -5.1545rem;
  background-image: url('../assets/desain-tanpa-judul202310110538060000-1-1-M7w.png');
}
